{% extends "dbase.html" %}
{% block title %}Вход в L2{% endblock %}
{% block container %}container-fluid" style="display: flex;flex-direction: column;height:
    100%;margin:0;padding:0{% endblock %}

{% block nav %}{# Скрытие шапки #}{% endblock %}
{% block base_s %}{% endblock %}

{% block content %}
    <div style="flex: 0 0 48px;background-color: rgb(50, 54, 57);color:#fff;border-bottom: 1px solid #049372;padding-left: 17px;padding-right: 17px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
        <div style="height: 100%;width: 100%;display: flex;flex-direction: row; justify-content: space-between;align-items:center">
            <div class="logo"><span>L<sup>2</sup></span> &mdash; Вход в систему</div>
        </div>
    </div>
    <div style="flex: 1">
        <div style="height: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column">
            <form class="form-signin" action='/' method='POST'>
                {% csrf_token %}
                <div class="panel panel-flt">
                    <div class="panel-body">
                        <input type="text" id="inputEmail" class="form-control input-lg" name='username'
                               placeholder="Логин или штрих-код"
                               value="{{ username }}" required autofocus style="border-bottom: none">
                        <input type="password" id="inputPassword" class="form-control input-lg" name='password'
                               placeholder="Пароль">
                        <input name="next" type="hidden"
                               value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% if next and next != "" %}{{ next }}{% else %}/mainmenu/{% endif %}{% endif %}"/>
                        <button class="btn btn-lg btn-primary-nb btn-block" type="submit">Вход</button>
                        <button class="btn btn-reset btn-block" type="reset" onclick="$('#inputEmail').focus()">Очистить форму</button>
                    </div>
                </div>
            </form>
            {% if error %}
                <div class="alert alert-danger alert-dismissable" role="alert" style="width: 450px">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Неверный логин или пароль
                </div>
            {% endif %}
            {% if message %}
                <div class="alert alert-default alert-dismissable" role="alert" style="width: 450px">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                </div>
            {% endif %}
        </div>
    </div>
    <style>
        {% load static %}
        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            src: local('Open Sans Light'), local('OpenSans-Light'), url({% static 'fonts/OpenSans/OpenSans-Light.ttf' %});
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Open Sans'), local('OpenSans'), url({% static 'fonts/OpenSans/OpenSans-Regular.ttf' %})
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            src: local('Open Sans Bold'), local('OpenSans-Bold'), url({% static 'fonts/OpenSans/OpenSans-Bold.ttf' %})
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset !important;
        }

        body {
            background: #f0f0f0;
            background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(108, 122, 137, 0.2) 75%, rgba(108, 122, 137, .4) 100%);
        }

        .panel-body {
            border-radius: 4px;
        }

        .form-signin {
            align-self: center;
            width: 450px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px 5px 0 0;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-radius: 0 0 5px 5px;
        }

        body, html {
            height: 100%;
        }

        body {
            padding-bottom: 0;
            overflow: hidden;
        }

        .logo {
            font-size: 32px;
            flex-basis: 100%;
            font-weight: lighter;
        }

        .logo span {
            font-weight: 500;
            font-style: italic;
        }

        .logo sup {
            font-size: 17px;
            top: -.15em;
        }

        .btn-reset {
            background: #ccc;
            border-color: #ccc;
        }
    </style>
{% endblock %}