{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Неверный логин или пароль
            </div>
        {% endif %}

        <form class="well form-signin" action='/' method='POST'>
            {% csrf_token %}
            <h3 class="form-signin-heading">Форма авторизации</h3>
            <input type="text" id="inputEmail" class="form-control" name='username' placeholder="Логин"
                   value="{{ username }}" required autofocus>
            <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Пароль"
                   required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
        </form>
    </div>
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 450px;
            margin: 0 auto;
        }

        .form-signin-heading {
            margin-top: 0;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px 5px 0 0;
        }


        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-radius: 0 0 5px 5px;
        }
    </style>
{% endblock %}