{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="container">
        <div style="text-align: center">
            <h1 style="font-weight: 300;margin-bottom: 20px;font-size: 26pt">Лабораторная информационная система L<sup>2</sup></h1>
        </div>
        {% if error %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Неверный логин или пароль
            </div>
        {% endif %}
        <form class="form-signin" action='/' method='POST'>
            {% csrf_token %}
            <div class="panel panel-flt">
                <div class="panel-heading">Форма авторизации</div>
                <div class="panel-body">
                    <input type="text" id="inputEmail" class="form-control" name='username' placeholder="Логин"
                           value="{{ username }}" required autofocus>
                    <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Пароль"
                           required>
                    <input name="next" type="hidden" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% if next and next != "" %}{{ next }}{% else %}/mainmenu/{% endif %}{% endif %}" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
                </div>
            </div>
        </form>
    </div>
    <style>

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            src: local('Open Sans Light'), local('OpenSans-Light'), url(/static/fonts/OpenSans/OpenSans-Light.ttf);
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Open Sans'), local('OpenSans'), url(/static/fonts/OpenSans/OpenSans-Regular.ttf)
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/static/fonts/OpenSans/OpenSans-Bold.ttf)
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset !important;
        }
.panel-flt{
    background: transparent;
}
        .panel-flt .panel-heading {
            background-color: #95A5A6;
            color: #fff
        }

        .panel-flt .panel-title {
            color: #fff !important;
        }
        .panel-flt .panel-body{
            border-radius: 0 0 4px 4px;
            background: rgba(255,255,255,.5)!important;
        }

        .panel-flt .panel-body, .panel-flt .list-group-item {
            background-color: #ECF0F1;
        }
        .panel-flt input{
            background: rgba(255,255,255,.5)!important;
        }

        .btn-primary {
            background: #6C7A89;
            border: 0
        }

        .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
            background: #049372;
            border: 0
        }
        body {
            background: #f0f0f0;
            background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(108,122,137,0.2) 75%, rgba(108,122,137,.4) 100%);
        }

        .form-signin {
            max-width: 450px;
            margin: 0 auto;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px 5px 0 0;
        }


        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-radius: 0 0 5px 5px;
        }
    </style>
{% endblock %}