{% extends "dbase.html" %}
{% block title %}Статистика{% endblock %}
{% block content %}
    {% load has_group %}
    <div class="row">
        <div class="col-xs-4">
            <h6>Период:</h6>
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="date-start"/>
                <span class="input-group-addon"
                      style="background-color: #fff;color: #000; vertical-align: middle">&mdash;</span>
                <input type="text" class="input-sm form-control" name="date-end"/>
            </div>
        </div>
        <div class="col-xs-4">
            <h6></h6>
        </div>
        <div class="col-xs-4">
            <h6></h6>
        </div>
    </div>
    <br/>
    <div class="row">
        {% if request.user|has_group:"Просмотр статистики" or request.user|has_group:"Врач-лаборант" or request.user.is_superuser %}
            <div class="col-xs-6">
                <div class="panel panel-default panel-flt">
                    <div class="panel-heading">
                        <h3 class="panel-title">Статистика по лабораториям - выполнено исследований</h3>
                    </div>
                    <ul class="list-group">
                        {% if request.user.is_superuser %}
                            <li class="list-group-item" onclick="gen_stat('all-labs', 0)">Все лаборатории</li>
                        {% endif %}
                        {% for lab in labs %}
                            <li class="list-group-item" onclick="gen_stat('lab', {{ lab.pk }})">{{ lab.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel panel-default panel-flt">
                    <div class="panel-heading">
                        <h3 class="panel-title">Статистика по лабораториям - исполнители</h3>
                    </div>
                    <ul class="list-group">
                        {% for lab in labs %}
                            <li class="list-group-item"
                                onclick="gen_stat('lab-staff', {{ lab.pk }})">{{ lab.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default panel-flt">
                    <div class="panel-heading">
                        <h3 class="panel-title">Статистика по лабораториям - принято емкостей</h3>
                    </div>
                    <ul class="list-group">
                        {% for lab in labs %}
                            <li class="list-group-item"
                                onclick="gen_stat('lab-receive', {{ lab.pk }})">{{ lab.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if request.user|has_group:"Просмотр статистики" or request.user.is_superuser %}
            <div class="col-xs-6">
                <div class="panel panel-default panel-flt">
                    <div class="panel-heading">
                        <h3 class="panel-title">Статистика по заборщикам биоматериала</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" onclick="$('#journal-get-material-modal').modal('show')">Отчёт по
                            забору
                        </li>
                    </ul>
                </div>
            </div>
            <journal-get-material-modal id="journal-get-material-modal"
                                        :users='{{ getters_material|safe }}'></journal-get-material-modal>
            <statistics-tickets-print-modal id="statistics-ticket-print-modal"
                                            :deps='{{ statistics_tickets_deps|safe }}'
                                            :users='{{ statistics_tickets_users|safe }}'>
            </statistics-tickets-print-modal>
        {% endif %}
        {% if request.user|has_group:"Просмотр статистики" or request.user.is_superuser %}
            <div class="col-xs-6">
                <div class="panel panel-default panel-flt">
                    <div class="panel-heading">
                        <h3 class="panel-title">Статистика</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" onclick="gen_stat('vac', 0)">Вакцинация</li>
                        <li class="list-group-item" onclick="$('#statistics-ticket-print-modal').modal('show')">
                            Статталоны
                        </li>
                        <li class="list-group-item" onclick="gen_passed('statistics-passed')">Посещения</li>

                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block head_cn %}
    <style>
        .panel-flt .list-group-item {
            padding: 4px;
        }

        .panel-flt .list-group-item:hover {
            background-color: #fff;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('[name=\'date-start\'],[name=\'date-end\']').val(getFormattedDate(today))
            $('#datepicker').datepicker({
                format: 'dd.mm.yyyy',
                todayBtn: 'linked',
                language: 'ru',
                autoclose: true,
                todayHighlight: true
            })
        })

        function gen_stat(stype, pk) {
            window.open('/statistic/xls?type=' + stype + '&pk=' + pk + '&date-start=' + $('[name=\'date-start\']').val() + '&date-end=' + $('[name=\'date-end\']').val(), '_blank')
        }

        function gen_passed(stype) {
            window.open('/statistic/xls?type=' + stype + '&date-start=' + $('[name=\'date-start\']').val() + '&date-end=' + $('[name=\'date-end\']').val(), '_blank')
        }
    </script>
{% endblock %}