appdirs==1.4.3
astm==0.5.0
attrs==18.2.0
autopep8==1.4.4
bleach==3.1.0
cached-property==1.5.1
certifi==2018.11.29
chardet==3.0.4
DAWG==0.7.8
DAWG-Python==0.7.2
defusedxml==0.6.0
Django==2.1.13
django-ajax-selects==1.7.1
django-cachalot==2.1.0
django-cors-middleware==1.3.1
django-debug-panel==0.8.3
django-debug-toolbar==2.0
django-extensions==2.1.9
django-filter==2.1.0
django-logtail==0.3.0
django-ratelimit==2.0.0
django-ratelimit2==0.4.2
django-redis==4.10.0
django-silk==3.0.2
django-webpack-loader==0.6.0
docopt==0.6.2
docutils==0.14
et-xmlfile==1.0.1
Genshi==0.7.3
gprof2dot==2017.9.19
gunicorn==19.9.0
idna==2.8
isodate==0.6.0
jdcal==1.4.1
Jinja2==2.10.1
jsonfield==2.0.2
jsonpickle==1.2
ldap3==2.6
lxml==4.3.4
Markdown==3.1.1
MarkupSafe==1.1.0
numpy==1.16.4
openpyxl==3.0.0
pdfrw==0.4
pika==1.0.1
Pillow==6.0.0
psycopg2==2.8.3
pyaml==19.4.1
pyasn1==0.4.5
pycodestyle==2.5.0
Pygments==2.4.2
pymongo==3.8.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
PyPDF2==1.26.0
python-dateutil==2.8.0
python3-memcached==1.51
pytils==0.3
pytz==2019.1
PyYAML==5.1
redis==3.2.1
relatorio==0.8.1
reportlab==3.5.23
requests==2.22.0
requests-toolbelt==0.9.1
selenium==3.141.0
simplejson==3.16.0
six==1.12.0
socketIO-client-nexus==0.7.6
sqlparse==0.3.0
urllib3==1.25.3
webencodings==0.5.1
websocket-client==0.56.0
xlwt==1.3.0
zeep==3.4.0
djangorestframework==3.10.2
pdfkit==0.6.1
