appdirs==1.4.4
astm==0.5.0
attrs==21.4.0
bleach==4.1.0
autopep8==1.6.0
cached-property==1.5.2
celery==5.2.3
certifi==2021.10.8
chardet==4.0.0
DAWG==0.8.0
DAWG-Python==0.7.2
defusedxml==0.7.1
Django==3.2.10
django-ajax-selects==2.1.0
django-celery-results==2.2.0
django-cors-headers
django-logtail==0.3.0
django-redis==5.2.0
django-silk==4.2.0
django-manifest-loader==1.0.0
gprof2dot==2021.2.21
gunicorn==20.1.0
isodate==0.6.1
jsonfield==3.1.0
jsonpickle==2.1.0
openpyxl==3.0.9
pdfrw==0.4
pdfminer==20191125
petrovna==1.0.2
pika==1.2.0
Pillow==8.3.2
pymorphy2==0.9.1
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.417127.4579844
PyPDF2==1.26.0
python-dateutil==2.8.2
python-memcached==1.59
python-docx
#pdf2docx
pytils==0.3
pytz==2021.3
PyYAML==5.4.1
redis==4.1.1
reportlab==3.6.5
requests==2.27.1
requests-toolbelt==0.9.1
selenium==3.141.0
simplejson==3.17.6
six==1.16.0
# socketIO-client-nexus==0.7.6
sqlparse==0.4.2
urllib3==1.26.8
xlwt==1.3.0
zeep==4.1.0
djangorestframework==3.13.1
pdfkit==1.0.0
PyVirtualDisplay==2.2
anytree==2.8.0
beren==0.7.1
transliterate==1.10.2
imgkit==1.2.2
PyYAML==5.4.1
