{% extends "dbase.html" %}
{% block title %}Создание пользователя{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ mess }}
        </div>
    {% endif %}
    {% if status %}
        <div class="alert alert-success">
            Пользователь добавлен
        </div>
    {% endif %}
    <h3>Форма добавления пользователя</h3>
    <small>
        <a href="#" onclick="$('#inputEmail').val(autogen());return false;">Автогенерация имени
            пользователя</a><br/>
        <a href="#" onclick="$('#inputPassword').val(omgopass({syllables: 2, titlecase: false}));return false;">Генерация
            пароля</a>
    </small><br/><br/>
    <form method="POST">
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input style="display:none" type="password" name="fakepasswordremembered"/>
        {% csrf_token %}

        <div class="input-group" style="margin: 0 auto;width: 100%;">
            <input type="text" id="inputFio" class="form-control" onblur="fix();" name='fio' placeholder="ФИО"
                   value="{{ fio }}"
                   style="border-bottom-left-radius: 0;border-top-left-radius: 5px;border-top-right-radius: 5px;"
                   required>
            <input type="text" id="inputEmail" class="form-control" name='username' placeholder="Логин"
                   value="{{ uname }}" required>
            <input type="text" id="inputPassword" class="form-control" name='password' placeholder="Пароль"
                   required>

            <div class="input-group" style="width: 100%">
                <span class="input-group-addon" id="basic-addon1"
                      style="border-radius: 0; width: 135px">Подразделение</span>
                <select class="form-control" aria-describedby="basic-addon1" name="podr" style="border-radius: 0">
                    {% for v in podr %}
                        <option{% if v.pk == podrpost %} selected="selected"{% endif %}
                                                         value="{{ v.pk }}">{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group" style="width: 100%">
                <span class="input-group-addon" id="basic-addon2" style="border-radius: 0; width: 135px">Группы</span>
                <select class="form-control" aria-describedby="basic-addon2" name="groups"
                        style="border-radius: 0;height: 115px;" multiple>
                    {% for v in g %}
                        <option value="{{ v.pk }}">{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="form-control btn btn-success" value="Сохранить"
                   style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-right-radius: 0;">
        </div>
    </form>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'js/omgopass.js' %}"></script>
    <script>
        let toTranslit = function (text) {
            return text.replace(/([а-яё])|([\s_-])|([^a-z\d])/gi,
                function (all, ch, space, words, i) {
                    if (space || words) {
                        return space ? '-' : '';
                    }
                    let code = ch.charCodeAt(0),
                        index = code == 1025 || code == 1105 ? 0 :
                            code > 1071 ? code - 1071 : code - 1039,
                        t = ['yo', 'a', 'b', 'v', 'g', 'd', 'e', 'zh',
                            'z', 'i', 'y', 'k', 'l', 'm', 'n', 'o', 'p',
                            'r', 's', 't', 'u', 'f', 'h', 'c', 'ch', 'sh',
                            'shch', '', 'y', '', 'e', 'yu', 'ya'
                        ];
                    return t[index];
                });
        };
        let generated = "";
        // Настройка горячих клавиш
        $(document).on('keydown', null, 'alt+s', function () {
            toggleShow();
        });
        $(document).on('keydown', null, 'alt+g', function () {
            generate();
        });
        $(document).on('keydown', null, 'alt+v', function () {
            pastePass();
        });
        // !Настройка горячих клавиш

        $(document).ready(function () {
            $('.showPassword').click(function () {
                toggleShow();
            });
            $('.generatePassword').click(function () {
                generate();
            });
            $('.pastePassword').click(function () {
                pastePass();
            });
        });

        function str_rand() { // Функция генерации пароля
            let result = '';
            const words = '0123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM';
            const max_position = words.length - 1;
            for (let i = 0; i < 8; ++i) {
                let position = Math.floor(Math.random() * max_position);
                result += words.substring(position, position + 1);
            }
            return result;
        }

        function fix() {
            const $if = $('#inputFio')
            $if.val($if.val().trim().replace(/\s\s\s/g, ' ').replace(/\s\s/g, ' ').replace(/\s\s\s/g, ' ').replace(/\s\s/g, ' '))
        }

        function generate() {
            document.getElementById('passwordGen').setAttribute('type', 'text');
            $('#passwordGen').attr('value', str_rand());
        }


        function autogen() {
            fix();
            const $if = $('#inputFio')
            let v = $if.val()
            let ls = v.split(" ");
            if (ls.length > 3) {
                ls = [ls[0], ls.slice(1, ls.length - 2).join(" "), ls[ls.length - 1]];
            }
            while (ls.length <= 2) {
                ls.push(" ");
            }
            v = ls[0] + ls[1][0] + ls[2][0];
            v = toTranslit(v.replace(/\s/g, ""));
            if (v === '' || (v === $if.val() && v.indexOf('user-') !== -1 && v.length >= 8 && v.length <= 9)) {
                v = "user-" + omgopass({syllables: 1, titlecase: false});
                $if.val(v)
            }
            return v;
        }


        function toggleShow() { // Переключение видимости пароля
            let inputPsw = $('#passwordGen');
            if (inputPsw.attr('type') === 'password') {
                document.getElementById('passwordGen').setAttribute('type', 'text');
            } else {
                document.getElementById('passwordGen').setAttribute('type', 'password');
            }
        }

        function pastePass() {
            $("#inputPassword").val($('#passwordGen').val());
        }
    </script>
{% endblock %}