{% extends "dbase.html" %}
{% block title %}Направления NG{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block content %}
    <div class="fp-cont" style="display: none">
        <div id="cont_left" class="split split-horizontal">
            <div id="left_top" class="split content">
            </div>
            <div id="left_bottom" class="split content">
            </div>
        </div>
        <div id="cont_right" class="split split-horizontal">
            <div id="right_top" class="split content">
            </div>
            <div id="right_bottom" class="split content">
            </div>
        </div>
    </div>
{% endblock %}

{% block head_cn %}
    <script src="{% static 'js/split.js' %}"></script>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.fp-cont').show()
            resize()
            $(window).resize(function () {
                resize()
            })
            Split(['#cont_left', '#cont_right'], {
                gutterSize: 5,
                cursor: 'col-resize',
                minSize: 200,
                onDrag: resize
            })

            Split(['#left_top', '#left_bottom'], {
                direction: 'vertical',
                gutterSize: 5,
                cursor: 'row-resize',
                minSize: 200,
                onDrag: resize
            })

            Split(['#right_top', '#right_bottom'], {
                direction: 'vertical',
                gutterSize: 5,
                cursor: 'row-resize',
                minSize: 200,
                onDrag: resize
            })
        })
    </script>
{% endblock %}
