{% extends "dbase.html" %}
{% block title %}Информация о направлении{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="search" name="dir-field" data-container="body"
                       data-toggle="popover" data-placement="bottom" data-content="" spellcheck="false"
                       maxlength="15"
                       placeholder="Введите номер направления">
                  <span class="input-group-btn">
                        <button class="btn btn-blue-nb" onclick="search();" type="button">Поиск</button>
                  </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
            <div id="direction-status">
                <div class="direction-object">
                    <div class="direction-object-header">Направление №<span>100023</span> <small><a href="#" target="_blank">печать</a></small></div>
                    <div class="events">
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 10:05</span> <span class="just-event">Направление создано</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Создатель:</span> <span class="data-value">Иванов Иван Иванович (ivanovii), Терапевтическое отделение</span></div>
                                <div class="data-row"><span class="data-title">От имени:</span> <span class="data-value">Попов Иван Викторович (popoviv), Терапевтическое отделение</span></div>
                                <div class="data-row"><span class="data-title">Пациент:</span> <span class="data-value">Иванов Иван Иванович, 24.01.1997, Пол: м</span></div>
                                <div class="data-row"><span class="data-title">Карта:</span> <span class="data-value">22641 Поликлиника</span></div>
                                <div class="data-row"><span class="data-title">Архив:</span> <span class="data-value">нет</span></div>
                                <div class="data-row"><span class="data-title">Источник финансирования:</span> <span class="data-value">ОМС</span></div>
                                <div class="data-row"><span class="data-title">Диагноз:</span> <span class="data-value">не указан</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="direction-object">
                    <div class="direction-object-header">Пробирка №<span>514452</span> <small><a href="#" target="_blank">печать ш/к</a></small></div>
                    <div class="events">
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 10:08</span> <span class="just-event">Забор</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Заборщик:</span> <span class="data-value">Иванов Иван Иванович (ivanovii), КДП</span></div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 10:52</span> <span class="just-event">Приём</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Приёмщик:</span> <span class="data-value">Иванов Иван Иванович (ivanovii)</span></div>
                                <div class="data-row"><span class="data-title">Комментарий не приёма:</span> <span class="data-value">отсутствует</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="direction-object">
                    <div class="direction-object-header">Исследование: <span>ТТГ</span></div>
                    <div class="events">
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 10:55</span> <span class="just-event">Сохранение</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Исполнитель:</span> <span class="data-value">Иванов Иван Иванович (ivanovii)</span></div>
                                <div class="data-row"><span class="data-title">Данные:</span> <div class="data-value">
                                    <pre>{
      <span class="key">"147":</span> <span class="string">"34.005"</span>
    }</pre></div></div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 11:01</span> <span class="just-event">Подтверждение</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Исполнитель:</span> <span class="data-value">Иванов Иван Иванович (ivanovii)</span></div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 11:03</span> <span class="just-event">Сброс подтверждения</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Исполнитель:</span> <span class="data-value">Администратор</span></div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 11:04</span> <span class="just-event">Сохранение</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Исполнитель:</span> <span class="data-value">Иванов Иван Иванович (ivanovii)</span></div>
                                <div class="data-row"><span class="data-title">Данные:</span> <div class="data-value">
                                    <pre>{
      <span class="key">"147":</span> <span class="string">"36.1"</span>
    }</pre></div></div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="event-summary">
                                <i class="fa fa-history" aria-hidden="true"></i> <span class="event-datetime">26.10.2017 11:04</span> <span class="just-event">Подтверждение</span>
                            </div>
                            <div class="event-data">
                                <div class="data-row"><span class="data-title">Исполнитель:</span> <span class="data-value">Иванов Иван Иванович (ivanovii)</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#search").bind('keyup', 'return', function () {
                search();
            });
        });

        function search() {
            let pk = $("#search").val().trim();
            if(pk === "")
                return;
            sl();
            $.ajax({
                url: "/mainmenu/direction/info",
                data: {pk: pk}
            }).done(data => {
                $("#direction-status").html("");
                for(let group of data){
                    let tmp = `<div class="direction-object">`;

                    tmp += `<div class="direction-object-header">${group.type}</div>`;


                    tmp += "<div class='events'>";
                    for(let key of _.keys(group.events)){
                        let summary = `<div class="event-data">`;
                        for(let data_type of _.keys(group.events[key])){
                            if(data_type !== "json_data")
                                summary += `<div class="data-row"><span class="data-title">${data_type}:</span> <span class="data-value">${group.events[key][data_type]}</span></div>`;
                        }
                        summary += "</div>"
                        tmp += `<div class="event"><div class="event-summary"><i class="fa fa-history" aria-hidden="true"></i> ${key}</div>${summary}</div>`;
                    }
                    tmp += `</div>`;


                    tmp += `</div>`;
                    $("#direction-status").append(tmp);
                }
            }).always(() => { hl(); });
        }
    </script>
    <style>
        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }
    #direction-status{
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #434A54;
    }
    .direction-object:not(:last-child) {
        margin-bottom: 10px;
    }
    .direction-object {
        padding: 10px;
        background-color: #ECF0F1;
        border-radius: 5px;
    }
    .direction-object-header{
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 5px;
    }
    .event:not(:last-child){
        margin-bottom: 10px;
    }
    .event{
        background-color: #fff;
        padding: 5px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }
    pre{
        margin-bottom: 0;
    }
    </style>
{% endblock %}