{% extends "dbase.html" %}
{% block title %}История направления{% endblock %}

{% block content %}
    <div class="row print-hide">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="search" name="dir-field" data-container="body"
                       data-toggle="popover" data-placement="bottom" data-content="" spellcheck="false"
                       maxlength="15" autofocus onchange="$(this).val($(this).val().replace(/[^0-9]/g, ''));" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                       placeholder="Введите номер направления">
                  <span class="input-group-btn">
                        <button class="btn btn-blue-nb" onclick="search();" type="button">Загрузить направление</button>
                  </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
            <div id="direction-status"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#search").bind('keyup', 'return', function () {
                search();
            });
        });

        function search() {
            let pk = $("#search").val().replace(/[^0-9]/g, '');
            if(pk === "")
                return;
            sl();
            $.ajax({
                url: "/mainmenu/direction/info",
                data: {pk: pk}
            }).done(data => {
                const $ds = $('#direction-status')
                if(data.length > 0) {
                    $ds.html('')
                    for (let group of data) {
                        let tmp = `<div class="direction-object">`;

                        tmp += `<div class="direction-object-header">${group.type}</div>`;

                        tmp += "<div class='events'>";
                        if(group.events.length > 0) {
                            for (let evs of group.events) {
                                let evdata = `<div class="event-data">`;
                                let subtitle = "";
                                for (let events of evs) {
                                    let key = events[0];
                                    let val = events[1];
                                    if(val === "")
                                        continue

                                    if (key !== "json_data" && key !== "title")
                                        evdata += `<div class="data-row"><span class="data-title">${key}:</span> <span class="data-value">${val}</span></div>`;
                                    else if (key === "title") {
                                        subtitle = val;
                                    } else if (key === "json_data") {
                                        let dbody;
                                        try {
                                            const par = JSON.parse(val.replaceAll("{'", "{\"").replaceAll("':", "\":"));
                                            dbody = syntaxHighlight(JSON.stringify(((Object.prototype.toString.call(par) === '[object Array]') ? par.filter(function (n) {
                                                return n !== undefined
                                            }) : par), null, 2));
                                        }
                                        catch (e) {
                                            dbody = syntaxHighlight(val);
                                        }
                                        evdata += `<div class="data-row"><pre>${dbody}</pre></div>`;
                                    }
                                }
                                evdata += "</div>";
                                tmp += `<div class="event"><div class="event-summary"><i class="fa fa-history" aria-hidden="true"></i> ${subtitle}</div><div class="event-data">${evdata}</div></div>`;
                            }
                        }
                        else {
                            tmp += "Нет действий";
                        }
                        tmp += `</div>`;


                        tmp += `</div>`;
                        $ds.append(tmp)
                    }
                }
                else{
                    $ds.html(`<div class="direction-object">Направление ${pk} не найдено</div>`)
                }

            }).always(() => { hl(); });
        }


        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                let cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    </script>
    <style>
        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }
    #direction-status:not(:empty){
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #434A54;
    }
    .direction-object:not(:last-child) {
        margin-bottom: 10px;
    }
    .direction-object {
        padding: 10px;
        background-color: #ECF0F1;
        border-radius: 5px;
    }
    .direction-object-header{
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 5px;
    }
    .event:not(:last-child){
        margin-bottom: 10px;
    }
    .event{
        background-color: #fff;
        padding: 5px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }
    pre{
        margin-bottom: 0;
    }
    .event-summary{
        font-weight: bold;
    }

    @media print {
        .print-hide{
            display: none;
        }
    }
    </style>
{% endblock %}