<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Ошибка</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ message }}</h1>
                <p><a href="/ui/menu">Вернуться на главную</a></p>
                <p><a href="javascript:location.reload(true)">Обновить страницу</a></p>
                <p>{% if SYSTEM_AS_VI %}VI{% else %}L2{% endif %} {{ version|safe }}</p>
            </div>
        </div>
    </div>
</body>
