{% extends "dbase.html" %}
{% block title %}Забор биоматериала{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block content %}
    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-6" style="padding-right: 0; padding-left: 0">
        <div class="row">
            <div class="col-xs-3" style="padding-right: 0;">
                <button class="btn btn-primary-nb btn-ell" onclick="worklist();return false;" type="button">Лист подтверждений</button>
            </div>
            <div class="col-xs-9" style="padding-left: 10px">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-field" name="search-field" data-container="body"
                           data-toggle="popover" data-placement="bottom" data-content="" spellcheck="false"
                           placeholder="Номер направления" maxlength="13" autofocus
                           onkeyup="bar_scanner($('#search-field').val())" data-width="100%">
                    <span class="input-group-btn">
                        <button class="btn btn-blue-nb" onclick="search($('#search-field').val());" type="button">Поиск
                        </button>
                  </span>
                </div>

            </div>
        </div>
        <table class="table table-bordered table-condensed" id="dir-tb" style="margin-top: 10px; margin-bottom: 10px">
            <tr>
                <td>Номер направления</td>
                <td><h2 id="dir-num" style="margin: 2px;padding: 0;">&nbsp;</h2></td>
            </tr>
            <tr>
                <td>Дата назначения</td>
                <td id="date"></td>
            </tr>
            <tr>
                <td>Лаборатория</td>
                <td id="lab"></td>
            </tr>
            <tr>
                <td>ФИО пациента</td>
                <td id="fio"></td>
            </tr>
            <tr>
                <td>Пол</td>
                <td id="sx"></td>
            </tr>
            <tr>
                <td>Дата рождения</td>
                <td id="bth"></td>
            </tr>
            <tr id="lv">
                <td>Л/врач</td>
                <td><span id="doc-fio"></span><span id="doc-otd"></span></td>
            </tr>
            <tr id="imported_org">
                <td>Организация</td>
                <td><span id="imported_org_title"></span></td>
            </tr>
        </table>
        <div>

            <div style="margin-bottom: 10px" class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" disabled class="btn btn-blue-nb3 btn-ell" onclick="cancel_direction();return false;" id="can-dir" title="Отмена направления">Отмена направления</button>
                </div>
                <div class="btn-group">
                    <button type="button" disabled class="btn btn-blue-nb3 btn-ell" onclick="barcodes_print();return false;" id="print-bc" title="Печать штрих-кодов">Печать штрих-кодов</button>
                </div>
                <div class="btn-group">
                    <button type="button" disabled class="btn btn-blue-nb3 btn-ell" onclick="save_research();return false;" id="success-b" title="Сохранить">Сохранить</button>
                </div>
                <div class="btn-group">
                    <button type="button" disabled class="btn btn-blue-nb3 btn-ell" onclick="barcodes_print();save_research();return false;" id="print-bc-save" title="Печать ш/к и сохранить">Печать ш/к и сохранить
                    </button>
                </div>
            </div>

            <div id="scroll-res" style="position: relative;padding-right: 15px">
                <table class="table table-bordered" id="researches-tb"></table>
                <span id="itogo" style="float: right"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-7 col-lg-6" style="padding-left: 10px; padding-right: 0">
        <div style="min-height: 100px">
            <div style="float: right;margin-top: 3px">
                <button onclick="$('#journal-get-material-modal').modal('show')" class="btn btn-primary-nb btn-ell">Отчёт</button>
            </div>
            <div class="btn-group btn-group-justified" style="margin-bottom: 10px; width: 50%">
                <div class="btn-group">
                    <button onclick="print_history();" class="btn btn-primary-nb btn-ell">Печать</button>
                </div>
                <div class="btn-group">
                    <button onclick="update_history();" class="btn btn-blue-nb btn-ell">Обновить</button>
                </div>
            </div>
            <div id="scroll-tb" style="position: relative;padding-right: 15px; min-height: 100px">
                <table class="table table-bordered table-hover" id="history-tb"></table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="work-modal">
        <div class="modal-dialog" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Лист подтверждений</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-xs-4">ФИО</th>
                            <th>№ напр.</th>
                            <th>№ ёмкости</th>
                            <th>Тип</th>
                            <th style='width: 20px;text-align:right'><label><input class="allprint" type='checkbox' onchange='sync_checkboxes(this);' name='allprint2' checked/></label></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center" colspan="5">загрузка...</td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div class="row">
                        <div class="col-xs-9"></div>
                        <div class="col-xs-3">
                            <button class="btn btn-primary-nb" id="getconfirmbtn" onclick="getconfirm();">Подтвердить</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-9"></div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-primary-nb btn-blue-nb" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <journal-get-material-modal id="journal-get-material-modal" :users="[{pk: {{ user.doctorprofile.pk }}, fio: '{{ user.doctorprofile.fio }}'}]"></journal-get-material-modal>
{% endblock %}
{% block head_cn %}
    <style>
        .navbar {
            margin-bottom: 10px;
        }

        .mw, .mw:active, .mw:focus {
            width: 150px !important;
        }

        #searchclear {
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: #ccc;
        }

        #dir-tb td {
            vertical-align: middle;
            padding: 2px;
        }

        #dir-tb tr td:last-child {
            text-align: left;
        }

        #dir-tb tr td:first-child {
            font-weight: 600;
            width: 170px;
            padding-left: 10px;
        }

        .container-fluid, body {
            height: 100%;
            overflow: hidden;
        }

        html, body {
            overflow: hidden;
            height: 100%
        }

        body {
            margin: 0;
            padding: 0;
        }

        td label {
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;

        }

        td {
            padding: 2px !important;
        }

        td label input {
            vertical-align: middle;
            margin-top: 15px;
        }

        td label:hover {
            background-color: #efefef;
        }

        .c {
            text-align: center;
            padding: 0 !important;
        }

        .last {
            background-color: #D4E6C2;
        }

        th label, td label {
            margin: 0;
        }

        .label-c {
            text-align: right;
            vertical-align: top;
        }

        .label-c input {
            margin: 0 5px 0 0;
        }

        .cnc {
            line-height: 1 !important;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        let dnum = -1
        const tubes = {
        {% for tube in tubes %}{{ tube.pk }}:
        {
            color: "{{ tube.color }}",
                title
        :
            "{{ tube.title }}"
        }
        ,{% endfor %}
        }


        let clear_timer_start = false, input_buffer_scan = ''
        let SFinFocus = false
        let checkboxed = []
        $(document).ready(function () {
            $("#imported_org").hide()
            resize()
            $('#print-bc-save, #print-bc, #success-b, #can-dir').prop('disabled', true)
            $('#search-field').bind('keydown', 'return', function () {
                search($('#search-field').val())
            })
            $('input, textarea').focus(function () {
                SFinFocus = true
                input_buffer_scan = ''
            }).blur(function () {
                SFinFocus = false
            })
            update_history()
            $(document).on('keypress', function (e) {
                if (SFinFocus) return
                const sym = String.fromCharCode(e.which)
                if (isNaN(sym)) return
                input_buffer_scan += sym
                input_buffer_scan = input_buffer_scan.replaceAll('\n', '').trim()
                bar_scanner(input_buffer_scan)
                if (input_buffer_scan.length === 13 && input_buffer_scan.substr(0, 3) === '460') {
                    //console.log("ok");
                    bar_scanner(input_buffer_scan)
                    input_buffer_scan = ''
                }
                else if (input_buffer_scan.length >= 3 && input_buffer_scan.substr(0, 3) !== '460') {
                    //console.log("clear buffer " + input_buffer_scan);
                    input_buffer_scan = ''
                }
            })
            $(window).resize(function () {
                resize()
            })
            $(document).on('keyup', null, 'ctrl+return', function () {
                save_research()
            })
        })

        function toggle_check(th) {
            $('[type=checkbox]', th).prop('checked', !$('[type=checkbox]', th).prop('checked'))
        }

        function cancel_direction() {
            $('#can-dir').prop('disabled', true)
            sl()
            $.ajax({
                url: '/direction/researches/cancel',
                method: 'POST',
                data: {status: !cancel_d, pk: dnum}
            }).done(function (data) {
                search(dnum, true)
                hl()
            })
        }

        function cancel_direction_pk(pk) {
            let tubes = []
            $.each($(`#work-modal`).find(`tr[pk=${pk}] .tube-pk`), function (k, v) {
                tubes.push('№' + $(v).text())
            })
            if (confirm(`Отменить направление ${pk}? ${(tubes.length < 2) ? 'Ёмкость' : 'Ёмкости'} ${tubes.join(', ')} из этого направления ${(tubes.length < 2) ? 'будет не доступна' : 'будут не доступны'} для подтверждения`)) {
                sl(true)
                $.ajax({
                    url: '/direction/researches/cancel',
                    method: 'POST',
                    data: {status: true, pk: pk}
                }).done(function (data) {
                    //$(`#work-modal tr[pk=${pk}]`).remove();
                    worklist(true)
                })
            }
        }

        function worklist(nc) {
            sl()
            const $wm = $('#work-modal')
            if (!nc) {
                $('#getconfirmbtn').prop('disabled', true)
                $wm.find('tbody').html('<tr><td style="text-align: center" colspan="5">загрузка...</td></tr>')
            }
            $.ajax({
                url: '/directions/worklist',
                type: 'json',
                method: 'GET'
            }).done(function (d) {
                hl()
                if (!nc)
                    $('#work-modal').modal()
                $wm.find('tbody').html('')
                $wm.find('.allprint').prop('checked', true)
                if (d.rows.length > 0) {
                    $.each(d.rows, function (k, v) {
                        $wm.find('tbody').append('<tr pk=\'{3}\'><td onclick=\'toggle_check($("#work-modal tr[pk={3}]"));\' style=\'cursor: pointer\'>{0}</td><td class=\'cnc\'>{3}<br/><small><a onclick=\'cancel_direction_pk({3});return false;\' href=\'#\'>отменить</a></small></td><td onclick=\'toggle_check($("#work-modal tr[pk={3}]"));\' class=\'tube-pk\' style=\'cursor: pointer\'>{1}</td><td onclick=\'toggle_check($("#work-modal tr[pk={3}]"));\' style=\'cursor: pointer\'><div class=\'well tube\'><div><div class=\'sq\'><div class=\'color-sq\' style=\'background-color: {4}\'></div></div>{2}</div></div></td><td class=\'label-c\'><label><input class=\'custom_print\' checked type=\'checkbox\' value=\'{1}\' name=\'complete-res-fast\'/></label></td></tr>'.f(v.patient, v.pk, v.title, v.direction, v.color))
                    })
                    $('#getconfirmbtn').prop('disabled', false)
                }
                else
                    $wm.find('tbody').html('<tr><td style="text-align: center" colspan="5">Ничего не найдено</td></tr>')
            })
        }

        function getconfirm() {
            $('#getconfirmbtn').prop('disabled', true)
            let checked = []
            $.each($('#work-modal').find('.custom_print:checked'), function (k, v) {
                checked.push(parseInt($(v).val()))
            })
            $.ajax({url: '/directions/group_confirm_get', method: 'POST', type: 'json', data: {checked: JSON.stringify(checked)}}).done(function (d) {
                $('#work-modal').modal('hide')
                update_history()
                $.amaran({
                    'theme': 'awesome ok',
                    'content': {
                        title: 'Забор материала подтвержден',
                        message: 'Номера ёмкостей: ' + JSON.parse(checked).join(', '),
                        info: '',
                        icon: 'fa fa-check'
                    },
                    'position': 'top left',
                    delay: 10000
                })
            })
        }

        function bar_scanner(v) {
            const tdnum = parseInt(v.substr(0, 12)) - 460000000000
            if (v.substr(0, 3) === '460' && v.length === 13) {
                if (dnum !== tdnum) {
                    dnum = tdnum
                    search(dnum)
                }
            }
        }

        let com = false, cancel_d = false

        function search(q, reload) {
            com = true
            input_buffer_scan = ''
            if (!q || q === '') return
            sl()
            $('#search-field').val('')
            $("#imported_org").hide()
            $("#lv").show()
            $('.has-error').removeClass('has-error')
            $('#researches-tb .allprint, #print-bc-save, #success-b, #print-bc').prop('disabled', true)
            $.ajax(
                {
                    url: '/directions/get/one?id=' + q,
                }
            ).done(function (data) {
                hl()
                com = false
                if (data && data.direction && data.direction.pk && data.direction.type === 2) {

                    dnum = data.direction.pk
                    $('#success-b').show()
                    $('.btn#success-b').removeAttr('disabled')
                    $('#date').html(data.direction.date)
                    $('#fio').html(data.client.fio)
                    $('#sx').html(data.client.sx)
                    $('#bth').html(data.client.bth)
                    $('#doc-fio').html(data.direction.doc.fio)
                    $('#doc-otd').html(', ' + data.direction.doc.otd)
                    $('#lab').html(data.direction.lab)
                    if(data.direction.imported_from_rmis)
                    {
                        $("#lv").hide()
                        $("#imported_org").show()
                        $("#imported_org_title").text(data.direction.imported_org)
                    }
                    cancel_d = data.direction.cancel
                    if (!reload)
                        $('.last').removeClass('last')
                    const $rt = $('#researches-tb')
                    $rt.html('<tr><th>Исследования</th><th class=\'col-xs-4\'>Тип ёмкости</th><th class=\'col-xs-2\'>Номер ёмкости</th><th style=\'width: 20px;text-align:right\'><label><input type=\'checkbox\' class=\'allprint\' onchange=\'sync_checkboxes(this);\' name=\'allprint3\'  checked /></label></th></tr>')
                    let n = 0

                    let complete = true
                    let probirki = {}
                    let c = ''
                    let d = ''
                    $.each(data.tubes, function (k, v) {
                        c = 'checked'
                        if (v.status === true) {
                            d = 'disabled'
                        }
                        else {
                            d = ''
                            complete = false
                        }
                        if (!probirki[v.title])
                            probirki[v.title] = 1
                        else
                            probirki[v.title]++
                        $rt.append('<tr onclick=\'toggle_check(this);\' style=\'cursor: pointer\'><td>{0}</td><td style=\'padding: 2px\'><div class=\'well tube\'><div><div class=\'sq\'><div class=\'color-sq\' style=\'background-color: {1}\'></div></div>{2}</div></div></td><td><input type=\'text\' value=\'{4}\' readonly class=\'form-control\' {5} id=\'barcode-{4}\'/> </td><td class=\'c\'><label onclick=\'toggle_check(this);\'><input tabindex=\'9\' type=\'checkbox\' {3} {5} value=\'{4}\' id=\'complete-{4}\' class=\'custom_print\' name=\'complete-res\'/> </label></td></tr>'.format(v.researches.join(', '), v.color, v.title, c, v.id, d, v.barcode))
                    })
                    $('#dir-num').html(data.direction.pk + (complete ? ' (исполнено)' : (data.direction.cancel ? ' (отменено)' : '')))

                    let tmpstr = ''
                    let f = true
                    let all_cnt = 0
                    $.each(probirki, function (k, v) {
                        if (f) {
                            tmpstr = k + ' &mdash; ' + v + ' шт'
                            f = false
                        }
                        else {
                            tmpstr = k + ' &mdash; ' + v + ' шт, ' + tmpstr
                        }
                        all_cnt += v
                    })
                    $rt.append('<tr><td style=\'text-align:right;font-size:10pt\' colspan=\'3\'>Итого ёмкостей: {0} шт ({1})</td><td></td></tr>'.format(all_cnt, tmpstr))

                    $('#researches-tb .allprint, #print-bc-save, #success-b, #print-bc, #can-dir').prop('disabled', false)
                    if (complete) {
                        com = true
                        $('#researches-tb .allprint, #print-bc-save, #success-b, #can-dir').prop('disabled', true)
                    }
                    $('input[name=complete-res]').first().focus()
                }
                else {
                    if(data.direction && data.direction.type === 3)
                        $('#dir-num').html(`Направление ${q} не в лабораторию`)
                    else
                        $('#dir-num').html('Не найдено')
                    $('#date').html('')
                    $('#fio').html('')
                    $('#sx').html('')
                    $('#bth').html('')
                    $('#doc-fio').html('')
                    $('#doc-otd').html('')
                    $('#lab').html('')
                    $('#researches-tb').html('')
                    $('.btn#success-b').attr('disabled', 'true')
                    $('#search-field').focus().parent().addClass('has-error')
                    $('#researches-tb .allprint, #print-bc-save, #success-b, #print-bc, #can-dir').prop('disabled', true)
                }

            })
        }

        function barcodes_print() {
            window.open('/barcodes/tubes?napr_id=' + JSON.stringify([dnum]), '_blank')
        }

        function save_research() {
            //$(".btn#success-b").attr("disabled", "true");
            if (com) return
            let data = {
                dir_id: dnum,
                statuses: {},
                barcodes: {}
            }
            $.each($('input[name=complete-res]'), function (k, v) {
                data.statuses[$(v).val()] = $(v).is(':checked')
                data.barcodes[$(v).val()] = $('#barcode-' + $(v).val()).is(':checked')
            })
            $.ajax({
                url: '/direction/researches/update',
                data: {data: JSON.stringify(data)},
                type: 'json',
                method: 'POST'
            }).done(function (d) {
                if (d.r) {
                    update_history(d.o, d.dn)

                }
            })
        }

        function clear(num) {

            $('#dir-num').html('')
            $('#date').html('')
            $('#fio').html('')
            $('#sx').html('')
            $('#bth').html('')
            $('#doc-fio').html('')
            $('#doc-otd').html('')
            $('#lab').html('')

            if (num)
                $('#researches-tb').html('<tr><td>Материал по направлению {0} занесен в базу</td></tr>'.f(num))
            $('.btn#success-b').attr('disabled', 'true')
            /*$(".last").removeClass("last");
             $("#story-" + num + " td").addClass("last");*/
            //$("#story-"+num+" td").effect( "highlight", {color:"#D4E6C2"}, 20000 );
            input_buffer_scan = ''
            $('#search-field').val('').focus()
            $('#print-bc').hide()
        }

        function update_history(clearn, dn) {
            sl()
            $.ajax({
                url: '/direction/researches/update/history',
                type: 'json',
                method: 'GET'
            }).done(function (d) {
                const $ht = $('#history-tb')
                $ht.html('')
                const array = d.rows
                $.each(array, function (k, v) {
                    let f = true
                    let tmpstr = ''
                    let num = {}
                    let time = ''
                    let dir_id = -1
                    $.each(v, function (key, val) {
                        if (!num[val.title])
                            num[val.title] = 1
                        else
                            num[val.title]++
                        time = val.time
                        dir_id = val.dir_id
                    })
                    $.each(num, function (key, value) {
                        if (f) {
                            tmpstr = key + ' ' + value + ' шт'
                            f = false
                        }
                        else {
                            tmpstr = key + ' ' + value + ' шт, ' + tmpstr
                        }
                    })
                    $ht.prepend('<tr id=\'story-{3}\'><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td class=\'label-c\'><label><input type=\'checkbox\' name=\'custom_print\' class=\'custom_print\' value=\'{3}\' onchange=\'checkboxes_to_array();\' /></label></td></tr>'.f(v.time, v.dir_id, v.researches, v.tube_id, v.type))
                })
                $ht.prepend('<tr><th class=\'btn-ell\'>Время забора</th><th>Направление</th><th class=\'btn-ell\'>Исследования</th><th>Номер ёмкости</th><th class=\'btn-ell\'>Тип пробирки</th><th style=\'width: 20px;text-align:right\'><label><input type=\'checkbox\' class=\'allprint\' onchange=\'sync_checkboxes(this);\' name=\'allprint\' checked /></label></th></tr>')
                hl()
                resize()
                sync_checkboxes('[name=allprint]')
                if (!clearn || !dn) return
                search(dnum, true)
                //clear(dn);
                $('.last').removeClass('last')
                $.each(clearn, function (k, v) {
                    $('#story-' + v + ' td').addClass('last')
                })
            })
        }

        let first_resize = true

        function resize() {
            const $st = $('#scroll-tb')
            const $sr = $('#scroll-res')
            $st.height($(window).height() - 100)
            $sr.height($(window).height() - $sr.position().top - 65)
            if (first_resize) {
                $sr.perfectScrollbar()
                $st.perfectScrollbar()
                first_resize = true
            }
            else {
                $sr.perfectScrollbar('update')
                $st.perfectScrollbar('update')
            }
        }

        function sync_checkboxes(th) {
            const $table = $(th).parents('.table').first()
            $('.custom_print', $table).prop('checked', $('.allprint', $table).is(':checked'))
            checkboxes_to_array()
        }

        let nochecked = false

        function checkboxes_to_array() {
            checkboxed = []
            nochecked = false
            $.each($('input[name=\'custom_print\']'), function (k, v) {
                if ($(v).is(':checked')) {
                    checkboxed.push(parseInt($(v).val()))
                }
                else {
                    nochecked = true
                }
            })
        }

        function print_history() {
            checkboxes_to_array()
            if (!nochecked) {
                window.open('/direction/researches/update/history/print', '_blank')
            }
            else {
                window.open('/direction/researches/update/history/print?filter=' + JSON.stringify(checkboxed), '_blank')
            }
        }

    </script>
{% endblock %}