{% extends "dbase.html" %}
{% block title %}Очерель L2{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block nav %}{% endblock %}

{% load static %}

{% block content %}
    <L2queue/>
{% endblock %}

{% block head_cn %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        body {
           background: linear-gradient(30deg, rgb(208, 211, 209), rgb(174, 174, 174));
           color: #fff;
           overflow:hidden
           }
        .container-fluid {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}