{% extends "dbase.html" %}
{% block title %}Просмотр журнала{% endblock %}
{% block container %}container-fluid{% endblock %}

{% block content %}
    <div class="panel panel-default panel-flt">
        <div class="panel-body">
            <div class="row">
                <label class="col-xs-3">
                    <select class="select-b" data-width="100%" data-live-search="true" id="user">
                        <option selected value="-1">Все пользователи</option>
                        <option value="-2">Система</option>
                        {% for u in users %}
                            <option value="{{ u.pk }}">{{ u.fio }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="col-xs-3">
                    <select class="select-b" data-width="100%" data-live-search="true" id="type">
                        <option selected value="-1">Все виды действий</option>
                        {% for t in types %}
                            <option value="{{ t.pk }}">{{ t.val }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="col-xs-3">
                    <input type="text" class="form-control" placeholder="Ключ" id="key"/>
                </label>
                <div class="col-xs-3">
                    <button class="btn btn-blue-nb btn-block" onclick="update();">Обновить</button>
                </div>
            </div>
        </div>
    </div>
    <div id="table_cont">
        <table class="table table-bordered floatThead ct" id="log_table">
            <thead>
            <tr>
                <th class="col-xs-1">ID записи</th>
                <th class="col-xs-1">ФИО</th>
                <th class="col-xs-1">ID user</th>
                <th class="col-xs-3">Вид действия</th>
                <th class="col-xs-2">Ключ объекта</th>
                <th class="col-xs-2">Данные действия</th>
                <th>Дата, время</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let loaded = -1
        let last_n = 0
        let n = 0
        const loadmore = '<tr class="loadmore"><td colspan="7" style="text-align: center"><a href="#" onclick="loadlog(loaded + 1);return false;">Загрузить еще</a></td></tr>'
        const end = '<tr><td colspan="7" style="text-align: center">Конец</td></tr>'
        const loading = `<tr class="loading"><td colspan="7" style="text-align: center"><div class="loading_dots"><div>Загрузка</div>
  <span></span>
  <span></span>
  <span></span>
</div></td></tr>`
        let searchdata = {'user': -1, 'type': -1, 'pk': '-1'}
        let endF = false
        let in_load = false
        $(document).ready(function () {
            resize()
            $(window).resize(function () {
                resize()
            })
            $('#table_cont').scroll(function () {
                if ($('#table_cont').scrollTop() + $('#table_cont').height() >= $('#log_table').height() + 20 && !endF && !in_load) {
                    loadlog(loaded + 1)
                }
            })
            $('#log_table').append(loadmore)
            loadlog(loaded + 1)
            setTimeout(check_new_rows, 1000)
        })

        function check_new_rows() {
            if (in_load) return
            in_load = true
            searchdata = {
                'user': parseInt($('#user').val()),
                'type': parseInt($('#type').val()),
                'pk': $('#key').val() === '' ? '-1' : $('#key').val()
            }
            $.ajax({
                method: 'GET',
                url: '/mainmenu/view_logs',
                data: {checknew: 1, last_n: last_n, searchdata: JSON.stringify(searchdata)}
            }).done(function (d) {
                $.each(d.data, function (k, v) {
                    let dbody = v.body
                    try {
                        const par = JSON.parse(v.body.replaceAll(`{'`, `{"`).replaceAll(`':`, `":`))
                        dbody = syntaxHighlight(JSON.stringify(((Object.prototype.toString.call(par) === '[object Array]') ? par.filter(function (n) {
                            return n !== undefined
                        }) : par), null, 2))
                    }
                    catch (e) {
                        dbody = syntaxHighlight(v.body)
                    }
                    let dkey
                    try {
                        const park = JSON.parse(v.key.replaceAll('\"', ''))
                        dkey = syntaxHighlight(JSON.stringify(park, null, 2))
                    }
                    catch (e) {
                        dkey = syntaxHighlight(v.key)
                    }
                    last_n = Math.max(last_n, v.id)
                    $('#log_table tbody').prepend('<tr>' +
                        '<td>{0}</td>'.f(v.id) +
                        '<td>{0}</td>'.f(v.user_fio) +
                        '<td>{0}</td>'.f(v.user_pk) +
                        '<td>{0}</td>'.f(v.type) +
                        '<td><pre>{0}</pre></td>'.f(dkey) +
                        '<td><pre>{0}</pre></td>'.f(dbody) +
                        '<td>{0}</td>'.f(v.time) +
                        '</tr>')
                    n++
                })
            }).always(() => {
                in_load = false
                setTimeout(check_new_rows, 1000)
            })
        }

        function loadlog(offset, replace) {
            if (in_load) return
            in_load = true
            if (replace) {
                $('#log_table tbody').html('')
            }
            $('.loadmore').remove()
            $('.loading').remove()
            $('#log_table tbody').append(loading)
            n = 0
            $.ajax({
                method: 'GET',
                url: '/mainmenu/view_logs',
                data: {checknew: 0, offset: offset, size: 40, searchdata: JSON.stringify(searchdata)}
            }).done(function (d) {
                $.each(d.data, function (k, v) {
                    let dbody = v.body
                    try {
                        const par = JSON.parse(v.body.replaceAll(`{'`, `{"`).replaceAll(`':`, `":`))
                        dbody = syntaxHighlight(JSON.stringify(((Object.prototype.toString.call(par) === '[object Array]') ? par.filter(function (n) {
                            return n !== undefined
                        }) : par), null, 2))
                    }
                    catch (e) {
                        dbody = syntaxHighlight(v.body)
                    }
                    let dkey
                    try {
                        const park = JSON.parse(v.key.replaceAll('\"', ''))
                        dkey = syntaxHighlight(JSON.stringify(park, null, 2))
                    }
                    catch (e) {
                        dkey = syntaxHighlight(v.key)
                    }
                    last_n = Math.max(last_n, v.id)
                    $('#log_table tbody').append('<tr>' +
                        '<td>{0}</td>'.f(v.id) +
                        '<td>{0}</td>'.f(v.user_fio) +
                        '<td>{0}</td>'.f(v.user_pk) +
                        '<td>{0}</td>'.f(v.type) +
                        '<td class="np"><pre>{0}</pre></td>'.f(dkey) +
                        '<td class="np"><pre>{0}</pre></td>'.f(dbody) +
                        '<td>{0}</td>'.f(v.time) +
                        '</tr>')
                    n++
                })
                if (n > 0) {
                    $('#log_table tbody').append(loadmore)
                    loaded += n
                    endF = false
                }
                else {
                    $('#log_table tbody').append(end)
                    endF = true
                }
                resize()
                $('tr.loading').remove()
            }).always(() => {
                in_load = false
            })
        }

        let first_resize = true

        function resize() {
            $('#table_cont').height($(window).height() - $('#table_cont').position().top)
            if (first_resize) {
                $('#table_cont').perfectScrollbar()
                first_resize = false
            } else {
                $('#table_cont').perfectScrollbar('update')
            }

            $('.floatThead').floatThead('reflow')
            $('.floatThead').floatThead({
                useAbsolutePositioning: false,
                scrollContainer: function ($table) {
                    return $table.closest('div')
                }
            })
        }

        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                let cls = 'number'
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key'
                    } else {
                        cls = 'string'
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean'
                } else if (/null/.test(match)) {
                    cls = 'null'
                }
                return '<span class="' + cls + '">' + match + '</span>'
            })
        }

        function update() {
            searchdata = {
                'user': parseInt($('#user').val()),
                'type': parseInt($('#type').val()),
                'pk': $('#key').val() === '' ? '-1' : $('#key').val()
            }
            loaded = -1
            $('#table_cont').scrollTop(0)
            loadlog(loaded + 1, true)
        }
    </script>
    <style>
        body {
            padding-bottom: 0;
        }

        .floatThead th {
            background: #fff;
        }

        #table_cont {

            padding-right: 15px;
            position: relative;
        }

        table.ct td {
            padding: 2px !important;
        }

        table.ct, .ct th, .ct td, .ct tr, .ct tbody, .ct thead {
            border: 1px solid black !important;
            font-weight: normal;
            background-color: #fff;
        }

        table {
            table-layout: fixed;
        }

        td {
            word-wrap: break-word
        }

        td pre {
            overflow-x: auto;
            margin: 0;
            border-radius: 0;
            background-color: #fff;
            border: none;
        }

        .np {
            padding: 0;
        }

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }

        .loading_dots {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 3px;
            box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3),
            0 1px 0 rgba(255, 255, 255, 0.3);

            font-size: 12pt;

            line-height: 1.1;
            padding: 4px;
            position: relative;
            display: inline-block;
        }

        .loading_dots div {
            font-size: 12pt;
            color: #fff
        }

        .loading_dots span {
            background: transparent;
            border-radius: 50%;
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
            display: inline-block;
            height: 0.6em;
            width: 0.6em;

            -webkit-animation: loading_dots 0.8s linear infinite;
            -moz-animation: loading_dots 0.8s linear infinite;
            -ms-animation: loading_dots 0.8s linear infinite;
            animation: loading_dots 0.8s linear infinite;
        }

        .loading_dots span:nth-child(2) {
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            -ms-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .loading_dots span:nth-child(1) {
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            -ms-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        @-webkit-keyframes loading_dots {
            0% {
                background: transparent;
            }
            50% {
                background: #E4E4E4;
            }
            100% {
                background: transparent;
            }
        }

        @-moz-keyframes loading_dots {
            0% {
                background: transparent;
            }
            50% {
                background: #E4E4E4;
            }
            100% {
                background: transparent;
            }
        }

        @-ms-keyframes loading_dots {
            0% {
                background: transparent;
            }
            50% {
                background: #E4E4E4;
            }
            100% {
                background: transparent;
            }
        }

        @keyframes loading_dots {
            0% {
                background: transparent;
            }
            50% {
                background: #E4E4E4;
            }
            100% {
                background: transparent;
            }
        }
    </style>
{% endblock %}