{% extends "dbase.html" %}
{% block title %}Печать журнала приёма{% endblock %}
{% block extended_header %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ lab.title }} <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" style="z-index: 10000">
            {% for v in labs %}
                {% if v.pk != lab.pk %}
                <li><a href="/mainmenu/receive/journal_form?lab_pk={{ v.pk }}">{{ v.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}
{% block content %}
    <h4 class='f-h' style="text-align: center;">Журнал принятых ёмкостей</h4>
    <div class="row" style="display: flex">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-5">
                    <label for="select-group">Группа исследований</label>
                </div>
                <div class="col-xs-7">
                    <select class="select-b" data-width="100%" id="select-group">
                        <option value="-2" selected>Все исследования</option>
                        <option value="-1">Без группы</option>{% for x in groups %}
                        <option value="{{ x.pk }}">{{ x.title }}</option>{% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-xs-5">
                    <label for="start-from">Начать с </label>
                </div>
                <div class="col-xs-7">
                    <input type="number" name="start-from" id="start-from" value="1" class="form-control" min="1">
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="display: flex">
            <button id="print-btn" class="btn btn-blue-nb4" style="width: 100%;align-items: stretch"
                    onclick="print_journal();">
                Печать
            </button>
        </div>
    </div>
    <div class="row" style="display: flex">
        <div class="col-xs-1">

        </div>
        <div class="col-xs-7">
            <div class="row" style="margin-top: 5px">
                <div class="col-xs-5">
                    <label for="select-otd">Отделение</label>
                </div>
                <div class="col-xs-7">
                    <select class="select-b" data-width="100%" id="select-otd" multiple data-actions-box="true">
                        {% for p in podrazdeleniya %}
                            <option value="{{ p.pk }}">{{ p.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="display: flex">
            <button id="print-btn" class="btn btn-blue-nb4" style="width: 100%;align-items: stretch; margin-top: 5px"
                    onclick="print_directions();">
                Направления
            </button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#start-from").bind('keydown', 'return', function () {
                $("#print-btn").click();
            });
        });
        function print_journal() {
            const otd = $("#select-otd").val();
            if(!otd){
                $.amaran({
                    'theme': 'awesome no',
                    'content': {
                        title: 'Не выбраны отделения',
                        message: "",
                        info: '',
                        icon: 'fa fa-exclamation'
                    },
                    'position': 'bottom right',
                    delay: 5000
                });
                return;
            }
            window.open(`/mainmenu/receive/journal?group=${$('#select-group').val()}&start=${$('#start-from').val().trim()}&otd=[${otd}]&lab_pk={{ lab.pk }}`, '_blank')
        }
        function print_directions() {
            const otd = $("#select-otd").val();
            if(!otd){
                $.amaran({
                    'theme': 'awesome no',
                    'content': {
                        title: 'Не выбраны отделения',
                        message: "",
                        info: '',
                        icon: 'fa fa-exclamation'
                    },
                    'position': 'bottom right',
                    delay: 5000
                });
                return;
            }
            sl();
            $.ajax({
                method: "get",
                url: `/mainmenu/receive/journal?group=${$('#select-group').val()}&start=${$('#start-from').val().trim()}&return=directions&otd=[${otd}]&lab_pk={{ lab.pk }}`
            }).done(function (data) {
                hl();
                window.open('/directions/pdf?napr_id=' + JSON.stringify(data), '_blank');
            });
        }
    </script>
    <style>
        .btn-blue-nb4, .btn-blue-nb4:active, .btn-blue-nb4:visited, .btn-blue-nb4:focus {
            background: transparent;
            border: #049372 solid 2px;
            color: #049372
        }

        .btn-blue-nb4:hover {
            background: #049372;
            border: #049372 solid 2px;
            color: #fff
        }

    </style>
{% endblock %}