{% extends "dbase.html" %}
{% block title %}Приём материала{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block content %}
    <div class="row" style="margin: 0">
        <div class="fastlinks">
            <div style="display: inline-block;float: right;"><label>Ожидающие приёма <input type="radio" name="filter" checked value="wait"></label>&nbsp;&nbsp;&nbsp;<label class="ttp" title="Для отмены приёма введите причину в поле замечания (только для не подтверждённых направлений)">Принятые <input type="radio" name="filter" value="received"></label>&nbsp;&nbsp;&nbsp;<label class="ttp" title="Для приёма отбракованных пробирок отметьте необходимые и сохраните">Непринятые <input type="radio" name="filter" value="not_received"></label></div>
            <a href="/mainmenu/receive/one_by_one">Приём матриала по одному</a>
            <a href="/mainmenu/receive/journal_form" target="_blank">Журнал приёма</a>
        </div>
        <table class="table table-bordered" id="control-table">
            <col width="200">
            <col>
            <tr>
                <th class="text-right">Лаборатория:</th>
                <td>
                    <select class="selectpicker" data-width="100%" id="lab" onchange="loadfrom();">
                        {% for v in labs %}
                            <option{% if v.pk == request.user.doctorprofile.podrazdeleniye.pk %} selected{% endif %} data-pk="{{ v.pk }}" value='{{ v.pk }}'>{{ v.title }}</option>{% endfor %}
                    </select>
                </td>
                <td>
                    <div class="row" style="margin-bottom: 5px">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            Дата забора материала:
                            <div class="input-daterange input-group" id="datepickermain" style="margin-top: 2px">
                                <input type="text" class="input-sm form-control no-context" name="date-start"/>
                                <span class="input-group-addon"
                                      style="background-color: #fff;color: #000">&mdash;</span>
                                <input type="text" class="input-sm form-control no-context" name="date-end"/>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="text-right">Отделение:</th>
                <td>
                    <select class="selectpicker" data-width="100%" id="from" onchange="loadfrom();">
                        {% for v in podrazdeleniya %}
                            <option num='{{ v.pk }}'>{{ v.title }}</option>{% endfor %}</select>
                </td>
                <td style="width: 350px">
                    <div class="row" style="margin-bottom: 5px">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            Состояние сканера:<br/><span id="barcode">----</span>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="container-fluid">
        <div class="row main-tb">
            <div style="height: 5px">
                &nbsp;
            </div>
            <div id="scroll-tb" style="position: relative;">
                <table class="table table-bordered table-responsive floatThead" style="margin: 0;">
                    <thead>
                        <tr>
                            <th style="width: 70px">№ п/п</th>
                            <th>Исследования</th>
                            <th style="width: 180px">№ направления</th>
                            <th style="width: 280px">Тип пробирки</th>
                            <th style="width: 180px">№ пробирки</th>
                            <th style="width: 180px"><small style="float:right;font-weight: normal;"><a href="javascript:" onclick='save();return false;'>Сохранить</a></small>Принято</th>
                            <th style="width: 300px"><small style="float:right;font-weight: 300;color:#0d0d0d;font-size: 68%;">при заполнении ёмкость будет не принята</small>Замечания</th>
                        </tr>
                    </thead>
                    <tbody id="tubes"></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_cn %}
    <style>
        .datepicker.dropdown-menu{
            z-index: 10000;
        }
        #control-table{
            margin-bottom: 5px;
        }
        #control-table td, #control-table th {
            vertical-align: middle;
        }

        .borderless td {
            border: 0 !important;
        }

        .r {
            text-align: right;
        }

        .c {
            text-align: center;
        }

        td {
            padding: 2px !important;
        }

        #scroll-tb {
            padding: 0 15px 0 0;
        }

        .main-tb{
            padding: 0 0 5px 5px;
            border: 1px solid #ccc;
        }

        html, body {
            overflow: hidden;
            height: 100%
        }

        body {
            margin: 0;
            padding: 0;
        }

        .container-fluid, body {
            height: 100%;
            overflow: hidden;
        }

        #tubes tr, #tubes td {
            padding: 2px;
            vertical-align: middle;
        }

        #tubes input[type=text] {
            border: 0;
            margin: 0;
            width: 100%;
            padding: 0 5px;
        }

        #tubes label {
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
        }

        #tubes label:hover {
            background-color: #efefef;
        }

        #tubes .btn-group {
            width: 100%;
        }

        .searchclear {
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            opacity: .6;
            color: #881c2f;
        }

        .active {
            background-color: #6C7A89 !important;
            color: #fff !important;
        }

        .searchclear:hover {
            opacity: 1;
        }

        td h6 {
            margin: 4px !important;
        }

        td.tube {
            padding: 2px !important;
        }

        td .form-control, .in, .in label {
            padding: 0 !important;
            margin: 0 !important;
        }

        tr.highlight, tr.highlight .tube, tr.highlight input {
            background-color: #e4f6d2;
        }

        .fh {
            display: block;
            height: 100%;
            border-radius: 0;
        }

        .fastlinks a {
            cursor: pointer;
        }

        .fastlinks {
            margin-top: -13px;
            margin-bottom: 5px;
        }

        td.c.in {
            height: 1px
        }

        td.c.in label {
            display: flex;
            align-items: center;
            justify-content: center
        }

        td.c.in input {
            margin: 0;
        }

        @-moz-document url-prefix() {
            td.c.in {
                height: 100%;
            }
        }
        .floatThead thead{
            background: #fff;
        }
        #scroll-tb{
            padding-top: 0;
        }
        .researches-in-tube{
            font-family: monospace !important;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            max-height: 3.3em;
            line-height: 1.1em;
            text-align: justify;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        let loadt = false;
        let first_resize = true;

        $(document).ready(function () {

            let daybefore = new Date();
            daybefore.setDate(daybefore.getDate() - 1);

            $("[name='date-start']").val(getFormattedDate(daybefore)).attr("pre-val", getFormattedDate(daybefore));
            $("[name='date-end']").val(getFormattedDate(today)).attr("pre-val", getFormattedDate(today));
            $('#datepickermain').datepicker({
                format: "dd.mm.yyyy",
                todayBtn: "linked",
                language: "ru",
                autoclose: true,
                todayHighlight: true
            });
            $("[name='date-end'],[name='date-start']").change(function () {
                let v = $(this).val();
                let b = $(this).attr("pre-val");

                if (loadt || v === b) return;
                loadt = true;
                loadfrom();
                $(this).attr("pre-val", v);
            });
            loadfrom();
            resize();
            $(window).resize(function () {
                resize();
            });
            $(".ttp").tooltipster({theme: "tooltipster-shadow"});
            $("input[name=filter]:radio").change(loadfrom);
        });

        function validDates() {
            let dates = {datestart: $("[name='date-start']").val(), dateend: $("[name='date-end']").val()};

            let dateReg = /^\d{2}[./-]\d{2}[./-]\d{4}$/;

            let dateStartValid = dates.datestart.match(dateReg);
            let dateEndValid = dates.dateend.match(dateReg);

            if(!dateStartValid && !dateEndValid) {
                dates.datestart = getFormattedDate(daybefore);
                dates.dateend = getFormattedDate(today);
            } else if(dateStartValid && !dateEndValid){
                dates.dateend = dates.datestart;
            } else if(dateEndValid && !dateStartValid){
                dates.datestart = dates.dateend;
            }

            return dates;
        }

        function highlight(th) {
            const $tr = $("tr[pk={0}]".f($(th).val()));
            if ($(th).prop("checked")) {
                $tr.addClass("highlight");
            }
            else {
                $tr.removeClass("highlight");
            }
        }

        function load_tubes() {
            sl();
            $("#tubes").html("");
            let vd = validDates();
            $.ajax({url: `/tubes/get?from=${$("#from option:selected").attr("num")}&datestart=${vd.datestart}&dateend=${vd.dateend}&lab=${$("#lab").val()}&type=${$("[name='filter']:checked").val()}`}).done(function (data) {
                $('button').blur();
                data = data.sort(function (a, b) {
                    let x = a.tube.id,
                        y = b.tube.id;
                    return x < y ? -1 : x > y ? 1 : 0;
                });
                let i = 0;
                $.each(data, function (k, v) {
                    i++;
                    let tube = "<td class='well tube'><div><div class='sq'><div class='color-sq' style='background-color: {0}'></div></div>{1}</div></td>".format(v.tube.color, v.tube.type);
                    if (!v.tube.status && (v.tube.notice === undefined || v.tube.notice === ""))
                        $("#tubes").append(("<tr pk='{2}'><td class='c'>{0}</td><td title='{3}'><div class='researches-in-tube'>{3}</div></td><td class='c'><a href='/directions/pdf?napr_id=[{5}]' target='_blank'>{5}</a></td>" + tube + "<td class='c'>{2}</td><td class='c in'><label><input value='{2}' name='confirm' class='confirm' type='checkbox' onchange='highlight(this);' /></label></td><td><div class='btn-group fh'><input id='notice_{2}' type='text' class='form-control fh'/><span onclick='clear_field({2});' class=\"searchclear glyphicon glyphicon-remove\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Очистить\"></span></div></td></tr>").f(k + 1, v.tube.type, v.tube.id, v.researches, v.tube.color, v.direction));
                    else if (v.tube.notice === undefined || v.tube.notice === "")
                        $("#tubes").append(("<tr pk='{2}'><td class='c'>{0}</td><td title='{3}'><div class='researches-in-tube'>{3}</div></td><td class='c'><a href='/directions/pdf?napr_id=[{6}]' target='_blank'>{6}</a></td>" + tube + "<td class='c'>{2}</td><td class='c'><input value='{2}' name='confirm' checked disabled class='confirm' type='checkbox' style='display:none'/>принято</td><td><input id='notice_{2}' type='text' class='form-control fh'/></td></tr>").f(k + 1, v.tube.type, v.tube.id, v.researches, v.tube.color, v.tube.notice, v.direction));
                    else
                        $("#tubes").append(("<tr pk='{2}'><td class='c'>{0}</td><td title='{3}'><div class='researches-in-tube'>{3}</div></td><td class='c'><a href='/directions/pdf?napr_id=[{6}]' target='_blank'>{6}</a></td>" + tube + "<td class='c'>{2}</td><td class='c in'><label><input onchange='highlight(this);' value='{2}' class='confirm' type='checkbox' /></label></td><td>{5}<input id='notice_{2}' value='{5}' type='hidden'/></td></tr>").f(k + 1, v.tube.type, v.tube.id, v.researches, v.tube.color, v.tube.notice, v.direction))
                });
                if (i === 0) {
                    $("#tubes").append("<tr><td class='c' colspan='7'>Ничего не найдено</td></tr>");
                }
                else{
                    $("#tubes").append("<tr><td colspan='5'></td><td class='text-center'><small style='font-weight: normal;'><a href='javascript:' style='padding: 3px' onclick='save();return false;'>Сохранить</a></small></td><td></td></tr>");
                }
                $('[data-toggle="tooltip"]').tooltip();
                $('#scroll-tb').scrollTop(0);
                loadt = false;
                hl();
            });
        }

        function clear_field(id) {
            $("#notice_" + id).val("");
        }

        function save() {
            let tubes = [];
            $(".confirm").each(function (k, v) {
                tubes.push({
                    "id": $(v).val(),
                    "notice": $("#notice_" + $(v).val()).val().trim(),
                    "status": $(v).prop("checked")
                })
            });
            if (tubes.length <= 0) return;
            sl();
            $.ajax({
                url: "/mainmenu/receive",
                method: "POST",
                data: {data: JSON.stringify(tubes)},
                type: "json"
            }).done(function (data) {
                loadfrom();
                $.amaran({
                    'theme': 'awesome ok',
                    'content': {
                        title: 'Пробирки приняты',
                        message: "",
                        info: '',
                        icon: 'glyphicon glyphicon-ok'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
            }).always(() => { hl(); });
        }

        function resize() {
            $('#scroll-tb').height($(window).height() - $('#scroll-tb').position().top - 13);
            if (first_resize) {
                $('#scroll-tb').perfectScrollbar();
                first_resize = false;
            } else {
                $('#scroll-tb').perfectScrollbar('update');
            }

            $(".floatThead").floatThead('reflow');
            $(".floatThead").floatThead({
                useAbsolutePositioning: false,
                scrollContainer: function ($table) {
                    return $table.closest("#tubes");
                }
            });
        }
        function loadlab() {
            sl();
            $.ajax({
                url: "/mainmenu/from",
                method: "GET",
                type: "json",
                data: {
                    datestart: $("[name='date-start']").val(),
                    dateend: $("[name='date-end']").val(),
                    get_labs: true,
                    type: $("[name='filter']:checked").val()
                }
            }).done(function(data) {
                for(let lab of _.keys(data)){
                    $('#lab').find(`[data-pk="${lab}"]`).data("subtext", data[lab]+"");
                }
                $("#lab").selectpicker("refresh");
                hl();
            });
        }

        function loadfrom() {
            let $from = $("#from");
            let selected = $from.find("option:selected").attr("num");
            $from.html("");
            sl();
            $.ajax({
                url: "/mainmenu/from",
                method: "GET",
                type: "json",
                data: {
                    datestart: $("[name='date-start']").val(),
                    dateend: $("[name='date-end']").val(),
                    lab: $("#lab").val(),
                    type: $("[name='filter']:checked").val()
                }
            }).done(function (data) {
                $.each(data, function (k, v) {
                    if (v.pk == selected) {
                        $from.append(`<option selected num='${v.pk}' data-subtext="${v.tubes}">${v.title}</option>`);
                    }
                    else {
                        $from.append(`<option num='${v.pk}' data-subtext="${v.tubes}">${v.title}</option>`);
                    }
                });
                $from.selectpicker("refresh");
                loadlab();
                hl();
                load_tubes();
            });
        }

        let timeoutID = -2;
        $(document).ready(function () {
            let pressed = false;
            let chars = [];
            $(window).keypress(function (e) {
                if (e.which >= 48 && e.which <= 57) {
                    chars.push(String.fromCharCode(e.which));
                }
                if (pressed === false) {
                    clearTimeout(timeoutID);
                    timeoutID = setTimeout(function () {
                        let barcode = chars.join("");
                        if(barcode === ""){
                            return;
                        }
                        chars = [];
                        pressed = false;
                        let $ch = $(`input[value='${barcode}']:checkbox`);
                        if ($ch.length) {
                            if (!$ch.prop("checked"))
                                $ch.click();
                            $("#barcode").text("Последнее просканированное: " + barcode);
                        }
                        else {
                            $("#barcode").text('Пробирка {0} в списке не найдена'.f(barcode));
                            $.amaran({
                                'theme': 'awesome no',
                                'content': {
                                    title: 'Пробирка {0} в списке не найдена'.f(barcode),
                                    message: "",
                                    info: '',
                                    icon: 'fa fa-exclamation'
                                },
                                'position': 'top right',
                                delay: 6000
                            });
                        }
                    }, 350);
                }
                pressed = true;
            });
        });
    </script>
{% endblock %}