{% extends "dbase.html" %}
{% block title %}Подтверждение отправки результатов в РМИС{% endblock %}
{% block container %}container-fluid{% endblock %}

{% load static %}

{% block content %}
    <rmis-confirm style="position: absolute;top: 36px; right: 0; bottom: 0; left: 0;"/>
{% endblock %}

{% block head_cn %}
    <style>
        body, html {
            height: 100%;
            overflow: hidden;
        }

        body {
            padding-bottom: 0;
        }

        .container-fluid {
            height: 100%;
            width: 100%;
        }

        .navbar {
            margin-bottom: 3px;
        }
    </style>
{% endblock %}
