{% extends "dbase.html" %}
{% block title %}Меню L2{% endblock %}

{% block content %}{% load has_group %}
    <div class="panel panel-default panel-flt">
        <div class="panel-heading">
            <h3 class="panel-title">Профиль</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Логин: {{ request.user }}
                <small><a href="/logout">Выход</a></small>
            </li>
            <li class="list-group-item">ФИО: {{ request.user.doctorprofile }}</li>
            <li class="list-group-item">Группы:
                <div class="row dash-buttons" style="padding: 0;margin-right: 0;margin-left: 0">
                    {% for v in request.user.groups.all %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb5">
                            <div class="label label-default bw100 btn-ell" title="{{ v }}">{{ v }}</div>
                        </div>{% endfor %}</div>
            </li>
        </ul>
    </div>
    <h4 class='f-h' style="text-align: center;">Меню</h4>
    <div class="row dash-buttons text-center">
        {% for item in mainmenu %}
            {% if not item.not_show_home and not item.hr %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn">
                    <a href="{{ item.url }}"{% if line.nt %} target="_blank"{% endif %} class="panel-body">
                        <span>{{ item.title }}</span>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <hr/>
    <div class="row dash-buttons text-center">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb10 dash-btn dash-info">
            <div class="panel-body">
                <span>
                    <span>L2</span><br/>
                    <span>{{ version }}</span>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb10 dash-btn dash-info">
            <div class="panel-body">
                <span>
                    <span>РМИС: <input style="vertical-align: middle;margin-bottom: 8px;" type="checkbox" {% if rmis %}checked{% endif %} disabled></span><br/>
                    <span>Параклиника: <input style="vertical-align: middle;margin-bottom: 8px;" type="checkbox" {% if paraclinic %}checked{% endif %} disabled></span><br/>
{#                    <span>L2 МИС: <input style="vertical-align: middle;margin-bottom: 8px;" type="checkbox" {% if mis_module %}checked{% endif %} disabled></span>#}
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb10 dash-btn dash-info">
            <a href="http://l2-irk.ru" target="_blank" class="panel-body">
                <span>l2-irk.ru</span>
            </a>
        </div>
    </div>
{% endblock %}
{% block head_cn %}
    <style>
        h4 {
            margin: 5px;
        }

        .mb5 {
            margin-bottom: 5px;
        }

        .mb10 {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}