<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% spaceless %}
    {% load static setting manifest %}
    {% s_get "org_title" as org_title %}
    {% s_get "extended_html" as extended_html %}{% endspaceless %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}
        &mdash; {% firstof request.user.doctorprofile.hospital_safe_title org_title %}</title>

    <link rel="preload" href="{% manifest 'chunk-vendors.css' %}" as="style"/>
    <link rel="preload" href="{% manifest 'app.css' %}" as="style"/>

    <link rel="stylesheet" href="{% manifest 'chunk-vendors.css' %}"/>
    <link rel="stylesheet" href="{% manifest 'app.css' %}"/>

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script>
        function getFormattedDate(date) {
            const year = date.getFullYear()
            let month = (1 + date.getMonth()).toString()
            month = month.length > 1 ? month : '0' + month
            let day = date.getDate().toString()
            day = day.length > 1 ? day : '0' + day
            return day + '.' + month + '.' + year
        }

        window.org_title = `{{ request.user.doctorprofile.hospital_safe_title |safe  }}`;
    </script>
    {% block head_cn %}{% endblock %}
    {% if extended_html != 'extended_html' %}
        {{ extended_html |safe }}
    {% endif %}
</head>
<body>{% load has_group %}
<div id="app" class="{% block container %}container{% endblock %}">
    {% block nav %}
        {% spaceless %}
            {% load setting_default %}
            {% s_default "show_l2_logo" "true" "b" as show_l2_logo %}
            {% s_default "l2_logo_class" "default" "s" as l2_logo_class %}
            {% s_default "l2_logo_addonational_text" "" "s" as l2_logo_addonational_text %}
            <nav class="navbar navbar-inverse {% block navbar_classes %}{% endblock %}"
                 :class="loaderInHeader && 'show-loader'">
                <div class="nav-cont">
                    <div class="navbar-header">
                        {% if show_l2_logo %}
                            <a href="/mainmenu" class="navbar-left logo {{ l2_logo_class|safe }}">
                                L<sup>2</sup>
                                {% if l2_logo_addonational_text %}
                                    <span>{{ l2_logo_addonational_text |safe }}</span>
                                {% endif %}
                            </a>
                        {% endif %}
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/mainmenu">
                            <span class="navbar-brand"><small>{{ request.user.doctorprofile.get_fio|safe }}</small></span>
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown dropdown-large">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Меню <b class="caret"></b>
                                </a>
                                <div class="dropdown-menu dropdown-menu-large">
                                    <div class="dash-buttons text-center">
                                        {% for item in mainmenu %}
                                            {% if item.hr %}
                                                </div>
                                                <div class="dash-buttons text-center">
                                            {% else %}
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn{% if item.active %} dash-active{% endif %}">
                                                    <a href="{{ item.url|safe }}"{% if item.nt %}
                                                       target="_blank"{% endif %} class="panel-body">
                                                        <span>{{ item.title|safe }}</span>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    <div class="info">
                                        L2 {{ version|safe }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {% block extended_header %}{% endblock %}
                        <ul class="nav navbar-right navbar-nav">
                            <li>
                            <span class="navbar-brand" style="font-size: 14px">
                                Организация: {{ request.user.doctorprofile.hospital_safe_title|safe }}
                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-loader center">
                    <div class="navbar-header">
                        {% if show_l2_logo %}
                            <div class="navbar-left logo {{ l2_logo_class|safe }}">
                                L<sup>2</sup>
                                {% if l2_logo_addonational_text %}
                                    <span>{{ l2_logo_addonational_text |safe }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <span class="navbar-brand"><small>{{ request.user.doctorprofile.get_fio|safe }}</small></span>
                    </div>
                    <div class="din-spinner" style="text-align: center">
                        <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        {% verbatim %}
                        <span class="loading-text"
                              style="color: #fff; font-size: 14pt;font-weight: 200;margin-left: 10px;vertical-align: middle;display: inline-block">{{ loadingLabel.toUpperCase() }}</span>
                        {% endverbatim %}
                    </div>
                </div>
            </nav>
        {% endspaceless %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block foot %}{% endblock %}
</div>
{% block portal %}{% endblock %}
<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none;z-index: 100000">
    <li class="context-st"><a class="noclick" onclick="return false"><label>Число:<input type="number" value="10"
                                                                                         id="contextNumber"
                                                                                         class="form-control w50"/></label>
        <label>Степень:<input type="number" class="form-control w50" value="1" id="contextSt"/></label></a></li>
    <li class="context-st"><a action="addnum" onclick="return false" tabindex="-1" href="#">Дописать число со
        степенью</a></li>
    <li class="divider context-st"></li>
    <li class="context-st">
        <div class="input-group" style="max-width: 450px">
            <input type="text" class="noclick form-control" id="recalcValue" placeholder="Пересчитанное значение">
            <span class="input-group-btn">
                    <a action="addrecalc" class="btn btn-primary-nb">Дописать пересчет</a>
              </span>
        </div>
    </li>
    <li class="divider context-st"></li>
    <li class="context-st">
        <div class="input-group" style="max-width: 650px">
            <span class="input-group-addon noclick">п</span>
            <input type="text" class="noclick form-control" id="leicP" maxlength="3" placeholder="п">
            <span class="input-group-addon noclick">c</span>
            <input type="text" class="noclick form-control" id="leicS" maxlength="3" placeholder="c">
            <span class="input-group-addon noclick">э</span>
            <input type="text" class="noclick form-control" id="leicE" maxlength="3" placeholder="э">
            <span class="input-group-addon noclick">м</span>
            <input type="text" class="noclick form-control" id="leicM" maxlength="3" placeholder="м">
            <span class="input-group-addon noclick">л</span>
            <input type="text" class="noclick form-control" id="leicL" maxlength="3" placeholder="л">
            <span class="input-group-addon noclick">ю</span>
            <input type="text" class="noclick form-control" id="leicY" maxlength="3" placeholder="ю">
            <span class="input-group-addon noclick">б</span>
            <input type="text" class="noclick form-control" id="leicB" maxlength="3" placeholder="б">
            <span class="input-group-addon noclick">п.кл</span>
            <input type="text" class="noclick form-control" id="leicPK" maxlength="3" placeholder="п.кл">
            <span class="input-group-btn">
                <a action="addleic" class="btn btn-primary-nb">Ок</a>
            </span>
        </div>
    </li>
    <li class="divider context-st"></li>
    <li><a action="clear" onclick="return false" tabindex="-1" href="#">Очистка</a></li>
</ul>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block base_s %}
    <script src="{% static 'js/jquery.hotkeys.js' %}"></script>
    <script src="{% static 'js/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/lang.ru.js' %}"></script>
    <script src="{% static 'perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.isloading.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.js' %}"></script>
    <script src="{% static 'js/jquery.amaran.min.js' %}"></script>
    <script src="{% static 'js/jquery.tooltipster.min.js' %}"></script>
    <script src="{% static 'js/jquery.floatThead.min.js' %}"></script>
    <script src="{% static 'js/context.jq.bs.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'locales/bootstrap-datepicker.ru.min.js' %}"></script>
    <script src="{% static 'js/jquery.idle.min.js' %}"></script>
    <script>
        let ajax_cache_token = (new Date()) + ''
        let $body = $('body')
        let $loader = {}
        let userIsIdle = false;
        let aliveTimer = null;
        const today = new Date()

        const card_bases = {{ card_bases|safe }};

        $loader.Particle = function (opt) {
            this.radius = 7
            this.x = opt.x
            this.y = opt.y
            this.angle = opt.angle
            this.speed = opt.speed
            this.accel = opt.accel
            this.decay = 0.01
            this.life = 1
        }

        $loader.Particle.prototype.step = function (i) {
            this.speed += this.accel
            this.x += Math.cos(this.angle) * this.speed
            this.y += Math.sin(this.angle) * this.speed
            this.angle += $loader.PI / 64
            this.accel *= 1.01
            this.life -= this.decay

            if (this.life <= 0) {
                $loader.particles.splice(i, 1)
            }
        }

        $loader.Particle.prototype.draw = function (i) {
            $loader.ctx.fillStyle = $loader.ctx.strokeStyle = 'hsla(' + ($loader.tick + (this.life * 120)) + ', 100%, 60%, ' + this.life + ')'
            $loader.ctx.beginPath()
            if ($loader.particles[i - 1]) {
                $loader.ctx.moveTo(this.x, this.y)
                $loader.ctx.lineTo($loader.particles[i - 1].x, $loader.particles[i - 1].y)
            }
            $loader.ctx.stroke()

            $loader.ctx.beginPath()
            $loader.ctx.arc(this.x, this.y, Math.max(0.001, this.life * this.radius), 0, $loader.TWO_PI)
            $loader.ctx.fill()

            let size = Math.random() * 1.25
            $loader.ctx.fillRect(~~(this.x + ((Math.random() - 0.5) * 35) * this.life), ~~(this.y + ((Math.random() - 0.5) * 35) * this.life), size, size)
        }

        $loader.step = function () {
            $loader.particles.push(new $loader.Particle({
                x: $loader.width / 2 + Math.cos($loader.tick / 20) * $loader.min / 2,
                y: $loader.height / 2 + Math.sin($loader.tick / 20) * $loader.min / 2,
                angle: $loader.globalRotation + $loader.globalAngle,
                speed: 0,
                accel: 0.01
            }))

            $loader.particles.forEach(function (elem, index) {
                elem.step(index)
            })

            $loader.globalRotation += $loader.PI / 6
            $loader.globalAngle += $loader.PI / 6
        }

        $loader.draw = function () {
            $loader.ctx.clearRect(0, 0, $loader.width, $loader.height)

            $loader.particles.forEach(function (elem, index) {
                elem.draw(index)
            })
        }

        $loader.init = function () {
            $loader.canvas = document.getElementById('loader-canvas')
            $loader.ctx = $loader.canvas.getContext('2d')
            $loader.width = $loader.canvas.width = 150
            $loader.height = $loader.canvas.height = 150
            $loader.min = $loader.width * 0.5
            $loader.particles = []
            $loader.globalAngle = 0
            $loader.globalRotation = 0
            $loader.tick = 0
            $loader.PI = Math.PI
            $loader.TWO_PI = $loader.PI * 2
            $loader.ctx.globalCompositeOperation = 'lighter'
            $loader.loop()
        }
        let exitLoop = false
        $loader.loop = function () {
            if (exitLoop) {
                exitLoop = false
                return
            }
            requestAnimationFrame($loader.loop)
            $loader.step()
            $loader.draw()
            $loader.tick++
        }
        String.prototype.replaceAll = function (search, replacement) {
            let target = this
            return target.split(search).join(replacement)
        }
        String.prototype.capitalize = function () {
            return this.charAt(0).toUpperCase() + this.slice(1)
        }
        String.prototype.capitalizeAll = function () {
            let r
            r = this
            for (let s of this.split(' ')) {
                r = r.replace(s, s.capitalize())
            }
            return r
        }

        String.prototype.format = String.prototype.f = function () {
            let s = this,
                i = arguments.length

            while (i--) {
                s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i])
            }
            return s
        }

        String.prototype.kwf = function (kw = {}) {
            let s = this;
            for (let k in kw) {
                s = s.replace(new RegExp('\\{' + k + '\\}', 'gm'), kw[k]);
            }
            return s;
        }

        if (!Element.prototype.closest) {
            Element.prototype.closest = function (css) {
                let node = this;

                while (node) {
                    if (node.matches(css)) return node;
                    else node = node.parentElement;
                }

                return null;
            };
        }

        if (!Array.prototype.last) {
            Array.prototype.last = function () {
                return this[this.length - 1]
            }
        }

        let stopped = true
        let inload = false
        let callback_loader = null

        function sl(no_sloader, cb) {
            if (!inload) {
                document.title = lang.loading + document.title
            }
            inload = true
            $(() => {
                const $preloader = $('#page-preloader')
                $preloader.css({opacity: 0})
                if (!no_sloader) {
                    $('.navbar').addClass('sloader')
                    stopped = false
                    setTimeout(function () {
                        if (stopped) return
                        $preloader.animate({opacity: 1}, 7000)
                    }, 1500)
                }
                $preloader.show()
            })

            callback_loader = cb
        }

        function isFunction(functionToCheck) {
            return functionToCheck && {}.toString.call(functionToCheck) === '[object Function]';
        }

        function hl() {
            document.title = document.title.replace(lang.loading, '')
            inload = false
            $('.navbar').removeClass('sloader')
            const $preloader = $('#page-preloader')
            $preloader.hide()
            exitLoop = true
            stopped = true
            $preloader.stop(true, true)
            if (isFunction(callback_loader)) {
                callback_loader()
            }
        }

        function update_select(base) {
            base = base || ''
            $(`${base} .select-b`).selectpicker({
                deselectAllText: 'Снять выбор',
                selectAllText: 'Выбрать всё',
                noneSelectedText: 'Ничего не выбрано'
            })
        }

        Object.compare = function (obj1, obj2) {
            for (let p in obj1) {
                if (obj1.hasOwnProperty(p) !== obj2.hasOwnProperty(p)) return false

                switch (typeof (obj1[p])) {
                    case 'object':
                        if (!Object.compare(obj1[p], obj2[p])) return false
                        break
                    case 'function':
                        if (typeof (obj2[p]) === 'undefined' || (p !== 'compare' && obj1[p].toString() !== obj2[p].toString())) return false
                        break
                    default:
                        if (obj1[p] !== obj2[p]) return false
                }
            }

            for (let p in obj2) {
                if (typeof (obj1[p]) === 'undefined') return false
            }
            return true
        }

        $(document).ready(function () {
            $('#page-preloader').hide()
            update_select()
            $body.addClass('showloader')
            alive()
            $('.context-st').hide()

            const $contextNumber = $('#contextNumber')
            const $contextSt = $('#contextSt')
            const $recalcValue = $('#recalcValue')
            $.contextMenu({
                elementSelector: 'input.form-control:not(.tt-hint):not(.no-context)[data-pk],textarea:not(.no-context)[data-pk],.result-field:not([readonly]):not([disabled])',
                menuSelector: '#contextMenu',
                menuSelected: function (invokedOn, selectedMenu) {
                    let val
                    switch (selectedMenu.attr('action')) {
                        case 'clear':
                            invokedOn.val('').typeahead('val', '')
                            break
                        case 'addnum':
                            val = invokedOn.val() + $contextNumber.val() + '<sup>' + $contextSt.val() + '</sup>'
                            $(invokedOn).val(val)
                            $(invokedOn).typeahead('val', val)
                            $contextNumber.val(10)
                            $contextSt.val(1)
                            break
                        case 'addrecalc':
                            let r = $recalcValue.val()
                            if (r !== '') {
                                r = ' ' + r
                            }
                            val = `${invokedOn.val()} (пересчитано${r})`.trim();
                            $(invokedOn).val(val)
                            $(invokedOn).typeahead('val', val)
                            $recalcValue.val('')
                            break
                        case 'addleic':
                            val = `${invokedOn.val()}п${$('#leicP').val()}\\с${$('#leicS').val()}\\э${$('#leicE').val()}\\м${$('#leicM').val()}\\л${$('#leicL').val()}\\ю${$('#leicY').val()}\\б${$('#leicB').val()}\\п.кл${$('#leicPK').val()}`
                            $(invokedOn).val(val)
                            $(invokedOn).typeahead('val', val)
                            $('#leicP,#leicE,#leicL,#leicM,#leicS,#leicY,#leicB,#leicPK').val('')
                            break
                    }
                    invokedOn.focus()
                }
            })

            $(document).on("mouseenter", "table.all-hover td:not(.no-hover)", function () {
                const i = $(this).index();
                $(this).closest('table').find(`tr td:nth-child(${(i + 1)}):not(.no-hover)`).addClass("cell-hover");
            });

            $(document).on("mouseleave", "table.all-hover td:not(.no-hover)", function () {
                const i = $(this).index();
                $(this).closest('table').find(`tr td:nth-child(${(i + 1)}):not(.no-hover)`).removeClass("cell-hover");
            });
        })
        let willbe_error = false

        function blurall() {
            $(function () {
                $('input').blur()
            })
        }

        function alive() {
            if (aliveTimer) {
                clearTimeout(aliveTimer);
            }
            $.ajax({
                method: 'GET', url: '/mainmenu/', cache: false, statusCode: {
                    500: function () {
                        $.amaran({
                            'theme': 'awesome no',
                            'content': {
                                title: 'Сервер недоступен',
                                message: 'Ошибка 500. Ожидайте доступность сервера.',
                                info: '',
                                icon: 'fa fa-exclamation'
                            },
                            'position': 'bottom right',
                            delay: 20000
                        })
                        willbe_error = true
                        sl(true)
                        blurall()
                    },
                    502: function () {
                        $.amaran({
                            'theme': 'awesome no',
                            'content': {
                                title: 'Сервер недоступен',
                                message: 'Ошибка 502. Ожидайте доступность сервера.',
                                info: '',
                                icon: 'fa fa-exclamation'
                            },
                            'position': 'bottom right',
                            delay: 20000
                        })
                        willbe_error = true
                        sl(true)
                        blurall()
                    },
                    302: function () {
                        document.location.href = '/'
                    }
                }
            }).fail(jqXHR => {
                if (jqXHR.status === 502 || jqXHR.status === 500)
                    return
                $.amaran({
                    'theme': 'awesome no',
                    'content': {
                        title: 'Сервер недоступен',
                        message: 'Ошибка связи с сервером. Сообщите администратору о проблеме',
                        info: '',
                        icon: 'fa fa-exclamation'
                    },
                    'position': 'bottom right',
                    delay: 20000
                })
                willbe_error = true
                sl(true)
                blurall()
            }).done(function () {
                if (willbe_error) {
                    willbe_error = false
                    $.amaran({
                        'theme': 'awesome ok',
                        'content': {
                            title: 'Сервер доступен',
                            message: 'ОК',
                            info: '',
                            icon: 'glyphicon glyphicon-ok'
                        },
                        'position': 'bottom right',
                        delay: 20000
                    })
                    hl()
                }
            }).always(function () {
                aliveTimer = setTimeout(alive, userIsIdle ? 300000 : 20000)
            })
        }

        $(document).idle({
            onIdle: function () {
                userIsIdle = true;
                console.log('IDLE');
            },
            onActive: function () {
                console.log('ACTIVE');
                userIsIdle = false;
                if (aliveTimer) {
                    clearTimeout(aliveTimer);
                }
                aliveTimer = setTimeout(alive, 5000);
            },
            idle: 100000,
        });

        $(document).ajaxComplete(checkSession)

        function checkSession(event, xhr, ajaxOptions) {
            if (xhr.readyState === 4) {
                if (xhr.getResponseHeader('Login-Screen') !== null && xhr.getResponseHeader('Login-Screen').length) {
                    document.location.href = '/'
                }
            }
        }

        $.extend($.expr[':'], {
            textboxEmpty: function (el) {
                return $(el).val() === ''
            }
        })
        $.fn.refresh = function () {
            let elems = $(this.selector)
            this.splice(0, this.length)
            this.push.apply(this, elems)
            return this
        }
        $.fn.scrollDown = function () {
            let el = $(this)
            el.scrollTop(el[0].scrollHeight)
        }

        function convertArrayOfObjectsToCSV(args) {
            let result, ctr, keys, columnDelimiter, lineDelimiter, data

            data = args.data || null
            if (data === null || !data.length) {
                return null
            }

            columnDelimiter = args.columnDelimiter || ';'
            lineDelimiter = args.lineDelimiter || '\n'

            keys = Object.keys(data[0])

            result = ''
            result += keys.join(columnDelimiter)
            result += lineDelimiter

            data.forEach(function (item) {
                ctr = 0
                keys.forEach(function (key) {
                    if (ctr > 0) result += columnDelimiter

                    result += item[key]
                    ctr++
                })
                result += lineDelimiter
            })

            return result
        }

        function downloadCSV(args) {
            let data, filename, link

            let csv = convertArrayOfObjectsToCSV({
                data: args.data || {}
            })
            if (csv === null) return

            filename = args.filename || 'export.csv'

            if (!csv.match(/^data:text\/csv/i)) {
                csv = 'data:text/csv;charset=utf-8,' + csv
            }
            data = encodeURI(csv)

            link = document.createElement('a')
            link.setAttribute('href', data)
            link.setAttribute('download', filename)
            link.click()
        }

        let mess_pos = false

        function okmessage(title, body, delay) {
            $.amaran({
                'theme': 'awesome ok',
                'content': {
                    title: title,
                    message: body || '',
                    info: '',
                    icon: 'fa fa-exclamation'
                },
                'position': mess_pos || 'bottom right',
                delay: delay || 5000
            })
        }

        function wrnmessage(title, body, delay) {
            $.amaran({
                'theme': 'awesome wrn',
                'content': {
                    title: title,
                    message: body || '',
                    info: '',
                    icon: 'fa fa-exclamation'
                },
                'position': mess_pos || 'bottom right',
                delay: delay || 5000
            })
            mess_pos = false
        }

        function errmessage(title, body, delay, info) {
            $.amaran({
                'theme': 'awesome no',
                'content': {
                    title: title,
                    message: body || '',
                    info: info || '',
                    icon: 'fa fa-exclamation'
                },
                'position': mess_pos || 'bottom right',
                delay: delay || 5000
            })
        }

        let blink_animated = {}

        function okblink(selector, effect) {
            if (blink_animated[selector]) return
            let e = effect || 'fadeIn'
            e = `animate__${e}`
            $(selector).removeClass(e).removeClass('animate__animated fast')
            $(selector).addClass(e).addClass('animate__animated fast')
            blink_animated[selector] = true
            setTimeout(function (s) {
                $(selector).removeClass(e).removeClass('animate__animated fast')
                blink_animated[s] = false
            }.bind(this, selector), 334)
        }


        function selectTextEl(element) {
            let doc = document
            let text = element

            if (doc.body.createTextRange) { // ms
                let range = doc.body.createTextRange()
                range.moveToElementText(text)
                range.select()
            } else if (window.getSelection) { // moz, opera, webkit
                let selection = window.getSelection()
                let range = doc.createRange()
                range.selectNodeContents(text)
                selection.removeAllRanges()
                selection.addRange(range)
            }
        }

        function clearselection() {
            if (window.getSelection) {
                if (window.getSelection().empty) {  // Chrome
                    window.getSelection().empty()
                } else if (window.getSelection().removeAllRanges) {  // Firefox
                    window.getSelection().removeAllRanges()
                }
            } else if (document.selection) {  // IE?
                document.selection.empty()
            }
        }

        function printResults(ids) {
            let pk_param = '[]'
            if (Array.isArray(ids) && ids.length > 0) {
                pk_param = JSON.stringify(ids)
            } else if (ids != '' && ids) {
                pk_param = JSON.stringify([ids])
            }
            window.open('/results/preview?pk=' + pk_param, '_blank')
        }

        function vue_cb(t) {
            let $t = $(t)
            let instance_id = $t.attr('instance_id')
            let func = $t.attr('func')
            let val = $t.attr('val')
            instances[instance_id][func](val)
        }

        let instances = {}

        function set_instance(vm) {
            instances[vm.uuid] = vm
        }

        function Prefetch(params) {
            params = params || {};
            this.routes = {};
            this.logging = params.logging || false;
            this.dummy = params.dummy || false;
        }

        Prefetch.prototype.log = function (method, ...msg) {
            if (this.logging) {
                console.log(`Prefetch.${method}:`, ...msg);
            }
        };

        Prefetch.prototype.getParamsKey = function (params) {
            let key = '';

            if (typeof params === 'string') {
                key = params;
            } else if (typeof params === 'object' && params !== null) {
                const keys = Object.keys(params);
                keys.sort();

                key = keys.map(k => `${k}_$_${params[k]}`).join('_#_');
            }

            this.log('getParamsKey', {params, key});

            return key;
        };

        Prefetch.prototype.addRouteCache = function (route, params, data) {
            if (this.dummy) {
                return;
            }
            if (!this.routes[route]) {
                this.routes[route] = {};
            }
            if (typeof data === 'string') {
                try {
                    data = JSON.parse(data);
                } catch (e) {
                    this.log('addRouteCache', 'JSON parse error');
                    console.error(e);
                    return;
                }
            }
            this.routes[route][this.getParamsKey(params)] = data;
            this.log('addRouteCache', {currentState: this.routes, args: {route, params, data}});
        };

        Prefetch.prototype.addBatchRoutes = function (data) {
            this.log('addBatchRoutes', {data});
            const prevLogging = this.logging;
            this.logging = false;
            for (const row of data) {
                this.addRouteCache(row.url, row.params, row.data)
            }
            this.logging = prevLogging;
        };

        Prefetch.prototype.popRouteCache = function (route, params) {
            this.log('popRouteCache', {route, params});
            const key = this.getParamsKey(params);

            if (!this.routes[route]) {
                this.log('popRouteCache', 'no route in cache');
                return null;
            }
            const result = this.routes[route][key] || null;
            if (key) {
                delete this.routes[route][key];
            }
            this.log('popRouteCache', result ? 'HIT' : 'MISS', key, 'Result:', result);
            return result;
        };

        window.prefetch = new Prefetch({logging: true});

        window.onerror = function (message, source, lineno, colno, error) {
            errmessage('Error', `${message}`, null, String(error));
            return false;
        };
    </script>
    {% block scripts_pre_webpack %}{% endblock %}
    <div id="page-preloader"></div>
    <script src="{% manifest 'chunk-vendors.js' %}"></script>
    <script src="{% manifest 'app.js' %}"></script>
{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
