<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% spaceless %}
    {% load static setting manifest %}
    {% s_get "org_title" as org_title %}
    {% endspaceless %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    {% autoescape off %}
    <title>
        {% firstof request.user.doctorprofile.hospital_safe_title org_title %}
    </title>
    {% endautoescape %}
    <link rel="preload" href="{% manifest 'chunk-vendors.css' %}" as="style"/>
    <link rel="preload" href="{% manifest 'chunk-common.css' %}" as="style"/>
    <link rel="preload" href="{% manifest 'router.css' %}" as="style"/>

    <link rel="stylesheet" href="{% manifest 'chunk-vendors.css' %}"/>
    <link rel="stylesheet" href="{% manifest 'chunk-common.css' %}"/>
    <link rel="stylesheet" href="{% manifest 'router.css' %}"/>
    {% if container_full %}
        <style>
            body, html {
                height: 100%;
            }

            body {
                padding-bottom: 0 !important;
            }

            .container-fluid {
                height: 100%;
                width: 100%;
            }

            .navbar {
                margin-bottom: 3px !important;
            }
        </style>
    {% endif %}
</head>
<body>
<div id="app"></div>
<div id="portal-place"></div>
<div id="portal-place-modal"></div>
<script src="{% static 'js/modernizr.cssgrid.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    const blink_animated = {}

    function okblink(selector, effect) {
        if (blink_animated[selector]) return
        let e = effect || 'fadeIn'
        e = `animate__${e}`
        $(selector).removeClass(e).removeClass('animate__animated fast')
        $(selector).addClass(e).addClass('animate__animated fast')
        blink_animated[selector] = true
        setTimeout(function (s) {
            $(selector).removeClass(e).removeClass('animate__animated fast')
            blink_animated[s] = false
        }.bind(this, selector), 334)
    }


    function selectTextEl(element) {
        let doc = document
        let text = element

        if (doc.body.createTextRange) { // ms
            let range = doc.body.createTextRange()
            range.moveToElementText(text)
            range.select()
        } else if (window.getSelection) { // moz, opera, webkit
            let selection = window.getSelection()
            let range = doc.createRange()
            range.selectNodeContents(text)
            selection.removeAllRanges()
            selection.addRange(range)
        }
    }

    function clearselection() {
        if (window.getSelection) {
            if (window.getSelection().empty) {  // Chrome
                window.getSelection().empty()
            } else if (window.getSelection().removeAllRanges) {  // Firefox
                window.getSelection().removeAllRanges()
            }
        } else if (document.selection) {  // IE?
            document.selection.empty()
        }
    }

    $.fn.scrollDown = function () {
        let el = $(this)
        el.scrollTop(el[0].scrollHeight)
    }
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'locales/bootstrap-datepicker.ru.min.js' %}"></script>
<script src="{% static 'js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.js' %}"></script>
<script src="{% manifest 'chunk-vendors.js' %}"></script>
<script src="{% manifest 'chunk-common.js' %}"></script>
{% autoescape off %}
<script>
    window.ORG_TITLE = `{% firstof request.user.doctorprofile.hospital_safe_title org_title|safe %}`;
    {% if SYSTEM_AS_VI %}
    window.SYSTEM_AS_VI = true;
    {% else %}
    window.SYSTEM_AS_VI = false;
    {% endif %}

    {% if PROTOCOL_PLAIN_TEXT %}
    window.PROTOCOL_PLAIN_TEXT = true;
    {% else %}
    window.PROTOCOL_PLAIN_TEXT = false;
    {% endif %}

    {% if NOT_SPLIT_PRINT_RESULT %}
    window.SPLIT_PRINT_RESULT = true;
    {% else %}
    window.SPLIT_PRINT_RESULT = false;
    {% endif %}

    {% load setting_default %}
    {% s_default "l2_logo_class" "default" "s" as l2_logo_class %}
    window.L2_LOGO_CLASS = '{{ l2_logo_class|safe }}';
</script>
{% endautoescape %}
<script src="{% manifest 'router.js' %}"></script>
</body>
</html>
