{% extends "dbase.html" %}
{% block title %}Настройка профилей пользователей{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <select data-width="100%" class="select-b" id="person" data-live-search="true" onchange="onch();">
                {% for key, values in otds.items %}
                <optgroup label="{{ key }}">
                {% for v in values %}
                    <option value="{{ v.pk }}" data-podr="{{ v.podr }}">{{ v.username }} - {{ v.fio }}</option>
                {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
            <div style="margin-top: 13px">
                Смена подразделения:
                <select data-width="100%" class="select-b" id="podr" data-live-search="true" onchange="change_podr()">
                    {% for v in podrs %}
                        <option value="{{ v.pk }}">{{ v.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group" style="width: 100%;margin-top: 29px">
                <span class="input-group-addon" style="width: 125px">Группы<br/><a href="#" style="color: #fff;padding-top: 5px;text-decoration: underline" onclick="apply_groups();return false;"><small>Применить</small></a></span>
                <select class="form-control" id="groups" name="groups" style="height: 200px;" multiple>
                    {% for v in g %}
                        <option value="{{ v.pk }}">{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-xs-6">
            <input class="form-control" type="text" id="newpass" placeholder="Пароль" />
            <div class="text-right" style="margin-bottom: 12px"><a href="#" onclick="$('#newpass').val(omgopass({syllables: 2, titlecase: false}));return false;">генерация пароля</a></div>
            <button class="btn btn-block btn-blue-nb" onclick="$.ajax({url: '/dashboard/update_pass', type: 'POST', data: {pk: $('#person').val(), pass: $('#newpass').val()}, beforeSend: function(xhr, settings){ xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));sl(); }}).done(function(){$('#newpass').val('');hl(); okmessage('Пароль установлен')});">Обновить пароль</button>
            <input class="form-control" type="text" id="fio" placeholder="ФИО" style="margin-top: 29px"/>
            <button class="btn btn-block btn-blue-nb" onclick="update_fio();" style="margin-top: 29px">Обновить ФИО</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/omgopass.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
             if (document.cookie && document.cookie !== '') {
                 const cookies = document.cookie.split(';');
                 for (let i = 0; i < cookies.length; i++) {
                     let cookie = jQuery.trim(cookies[i]);
                     if (cookie.substring(0, name.length + 1) === (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
        $(document).ready(function () {
            onch();
        });
        function onch(){
            $('#newpass').val('');
            $("#podr").val($(`#person option[value='${$("#person").val()}']`).attr("data-podr"));
            $("#podr").selectpicker("refresh");
            sl();
            $.ajax({url: "/dashboard/change_password", type: "GET", data: {pk: $("#person").val()}}).done((data) => {
                $("#groups").val(_.pluck(data.groups, "pk"));
                $("#fio").val(data.fio);
                $("#username").val(data.username);
                hl();
            });
        }
        function change_podr() {
            sl();
            $.ajax({
                type: "POST",
                url: "/dashboard/change_password",
                data: {
                    pk: $("#person").val(),
                    podr: $("#podr").val()
                },
                success: function() {
                    location.reload();
                }
            });
        }
        function apply_groups(){
            sl();
            $.ajax({url: "/dashboard/change_password", type: "POST", data: {pk: $("#person").val(), apply_groups: 1, groups: JSON.stringify($("#groups").val())}}).done((data) => {
                okmessage('Группы изменены');
                hl();
            });
        }
        function update_fio(){
            sl();
            $.ajax({url: "/dashboard/change_password", type: "POST", data: {pk: $("#person").val(), update_fio: 1, fio: $("#fio").val().trim()}}).done((data) => {
                okmessage('ФИО обновлено');
                hl();
            });
        }
    </script>
    <style>
    </style>
{% endblock %}