{% extends "dbase.html" %}
{% block title %}Настройка профилей пользователей{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <select data-width="100%" class="select-b" id="person" data-live-search="true" onchange="$('#newpass').val('');">
                {% for key, values in otds.items %}
                <optgroup label="{{ key }}">
                {% for v in values %}
                    <option value="{{ v.pk }}" data-podr="{{ v.podr }}">{{ v.username }} - {{ v.fio }}</option>
                {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6">
            <input class="form-control" type="text" id="newpass" placeholder="Пароль" />
            <div class="text-right" style="margin-bottom: 12px"><a href="#" onclick="$('#newpass').val(omgopass({syllables: 2, titlecase: false}));return false;">генерация пароля</a></div>
            <button class="btn btn-block btn-blue-nb" onclick="$.ajax({url: '/dashboard/update_pass', type: 'POST', data: {pk: $('#person').val(), pass: $('#newpass').val()}, beforeSend: function(xhr, settings){ xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));sl(); }}).done(function(){$('#newpass').val('');hl(); okmessage('Пароль установлен')});">Обновить пароль</button>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
        <label>
            Подразделение:
            <select data-width="100%" class="select-b" id="podr" data-live-search="true">
                {% for v in podrs %}
                    <option value="{{ v.pk }}">{{ v.title }}</option>
                {% endfor %}
            </select>
        </label>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/omgopass.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
             if (document.cookie && document.cookie !== '') {
                 const cookies = document.cookie.split(';');
                 for (let i = 0; i < cookies.length; i++) {
                     let cookie = jQuery.trim(cookies[i]);
                     if (cookie.substring(0, name.length + 1) === (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
        $(document).ready(function () {

        });
    </script>
    <style>
    </style>
{% endblock %}