{% extends "dbase.html" %}
{% block title %}Управление подразделениями{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ mess }}
        </div>
    {% endif %}
    {% if status %}
        <div class="alert alert-success">
            Подразделение добавлено
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="input-group" style="margin: 0 auto">
            <input type="text" class="form-control" name='title' placeholder="Название"
                   value="{{ title }}" required autofocus
                   style="border-bottom-left-radius: 0;border-top-left-radius: 5px;border-top-right-radius: 5px;margin-top: 10px">
            <input type="submit" class="btn btn-primary form-control" value="Добавить"
                   style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-right-radius: 0;">
        </div>
    </form>

    <div class="panel panel-default" style="margin-top: 80px">
        <div class="panel-heading">Существующие подразделения</div>
        <div class="panel-body">
            <table class="table">
                <col width="40">
                <col>
                <col width="150">
                {% for v in podr %}
                    <tr>
                        <td>{{ v.pk }}</td>
                        <td><input class="form-control" value="{{ v }}" data-pk="{{ v.pk }}" /></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}