{% extends "dbase.html" %}
{% block title %}Управление подразделениями{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ mess }}
        </div>
    {% endif %}
    {% if status %}
        <div class="alert alert-success">
            Подразделение добавлено
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered table-responsive">
            <col width="40">
            <col>
            <col width="300">
            {% for v in podr %}
                <tr>
                    <td>{{ v.pk }}</td>
                    <td><input class="form-control" value="{{ v }}" data-pk="{{ v.pk }}" /></td>
                    <td><label><input data-pk="{{ v.pk }}" type="checkbox" name="podr_hide"{% if v.hide %} checked{% endif %}/> Скрытие подразделения</label>&nbsp;<label><input data-pk="{{ v.pk }}" type="checkbox" name="is_lab"{% if v.isLab %} checked{% endif %}/> Это лаборатория</label></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="text" class="form-control" name='title' placeholder="Название" value="{{ title }}" required autofocus></td>
                <td><input type="submit" class="btn btn-primary-nb form-control" value="Добавить"></td>
            </tr>
        </table>
    </form>
{% endblock %}