{% extends "dbase.html" %}
{% block title %}Управление подразделениями{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ mess }}
        </div>
    {% endif %}
    {% if status %}
        <div class="alert alert-success">
            Подразделение добавлено
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered table-responsive">
            <col width="40">
            <col>
            <col width="300">
            {% for v in podr %}
                <tr>
                    <td>{{ v.pk }}</td>
                    <td><input class="form-control podr_title" value="{{ v }}" data-pk="{{ v.pk }}" /></td>
                    <td><label><input data-pk="{{ v.pk }}" type="checkbox" class="podr_hide"{% if v.hide %} checked{% endif %}/> Скрытие подразделения</label>&nbsp;<label><input data-pk="{{ v.pk }}" type="checkbox" class="is_lab"{% if v.isLab %} checked{% endif %}/> Это лаборатория</label></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="text" class="form-control" name='title' placeholder="Название" value="{{ title }}" required autofocus></td>
                <td><input type="submit" class="btn btn-primary-nb form-control" value="Добавить"></td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        let timeouts = {};
        $(document).ready(function(){
            $('.podr_title').bind('input change paste keyup',function(e){
                let key = "podr_" + $(this).attr("data-pk");
                let val = $(this).val();
                replaceTimeout(200, key, () => console.log(key, val), val);
            });
            $('.podr_hide').change(function(e){
                let key = "podr_hide_" + $(this).attr("data-pk");
                let val = $(this).prop("checked");
                replaceTimeout(200, key, () => console.log(key, val), val);
            });
            $('.is_lab').change(function(e){
                let key = "is_lab_" + $(this).attr("data-pk");
                let val = $(this).prop("checked");
                replaceTimeout(200, key, () => console.log(key, val), val);
            });
        });
        function replaceTimeout(time, key, func, val) {
            if(_.has(timeouts, key)){
                if(timeouts[key].value === val)
                    return;
                clearTimeout(timeouts[key].timeout);
            }
            timeouts[key] = {timeout: setTimeout(func, time), value: val};
        }
        function timeout(key) {
            if(_.has(timeouts, key))
                delete timeouts[key];
        }
    </script>
{% endblock %}