{% extends "dbase.html" %}
{% block title %}Направления{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6" id="div1" style="height: 380px">
            <div>
                <h5>Категория пациентов:</h5>

                <div class="btn-group" data-toggle="buttons" style="margin-bottom: 20px">
                    <label class="btn btn-blue-nb active">
                        <input type="radio" name="type" id="option1" value="poli" autocomplete="off" checked>
                        Поликлиника
                    </label>
                    <label class="btn btn-blue-nb">
                        <input type="radio" name="type" id="option2" value="stat" autocomplete="off"> Стационар
                    </label><!--
                    <label class="btn btn-default">
                        <input type="radio" name="type" id="option3" value="all" autocomplete="off"> Все категории
                    </label>
-->
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" id="search-field" name="search-field" data-container="body"
                       data-toggle="popover" data-placement="bottom" data-content="" spellcheck="false"
                       placeholder="Введите ФИО и дату рождения или номер карты, например: Пакулова Наталья Владимировна 01.01.1990 или пнв01011990 или 123456">
          <span class="input-group-btn">
                <button class="btn btn-blue-nb" onclick="search($('#search-field').val());" type="button">Поиск</button>
          </span>
            </div>
            <br/>

            <table class="table table-bordered table-condensed" style="width: 100%">
                <tr>
                    <td style="width: 135px">Тип:&nbsp;</td>
                    <td id="card-type"></td>
                </tr>
                <tr>
                    <td style="width: 135px">Номер карты:&nbsp;</td>
                    <td id="card-num"></td>
                </tr>
                <tr>
                    <td style="width: 135px">ФИО:&nbsp;</td>
                    <td id="card-fio"></td>
                </tr>
                <tr>
                    <td style="width: 135px">Дата рождения:&nbsp;</td>
                    <td id="card-bth" style="vertical-align: middle"></td>
                </tr>
                <tr>
                    <td style="width: 135px">Пол:&nbsp;</td>
                    <td id="card-sx"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" id="div2" style="height: 380px">
            <div class="row">
                <div class="col-md-3">
                    <h6>Дата назначения:</h6>

                    <div class="input-daterange input-group" id="datepicker" style="margin-top: 2px">
                        <input type="text" class="input-sm form-control" name="date-start"/>
                        <span class="input-group-addon"
                              style="background-color: #fff;color: #000">&mdash;</span>
                        <input type="text" class="input-sm form-control" name="date-end"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Статус:</h6>
                    <select class="select-b" data-live-search="false" onchange="fast_ld_dirs();return false;"
                            data-width="305px" id="status">
                        <option value="3">Любой</option>
                        <option value="0">Выписаные</option>
                        <option value="1">Материал доставлен в лабораторию</option>
                        <option value="2">Подтвержденные</option>
                    </select>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"><h6><br/></h6>
                    <button onclick="fast_ld_dirs();return false;" class="btn btn-blue-nb">Обновить список</button>
                </div>
            </div>
            <div style="padding-top: 10px;padding-right: 15px;margin-top: 5px" id="story-list">
                <table class="table table-hover table-bordered floatThead">
                    <thead>
                    <tr>
                        <th style="width: 105px">Дата назначения</th>
                        <th style="width: 120px">Лаборатория</th>
                        <th>Анализы</th>
                        <th style="width: 45px">Статус</th>
                        <th style="width: 240px"></th>
                        <th style="width: 30px">
                            <button class="btn btn-primary btn-sm btn-blue-nb fa fa-print"
                                    style="width: 30px;padding: 2px!important;" title="Печать выбраных направлений"
                                    onclick="batch_print();return false;"></button>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="story-table"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="div3">
            <form onsubmit="return false;">
                <select class="select-b" id="select-lab" data-live-search="true" data-width="100%"
                        title='Выберите лабораторию...' disabled>
                    {% for v in labs %}
                        <option value="{{ v.pk }}">{{ v.title }}</option>{% endfor %}
                </select>
            </form>
            <div id="table-researches"></div>
        </div>
        <div class="col-md-6" id="div4" style="margin-bottom: 20px">
            <div style="margin-bottom: 20px">
                <div class="col-md-7" style="padding-left: 0">
                    <input name="diagnos" id="diagnos-field" class="form-control" placeholder="Направительный диагноз"
                           onkeyup="sync(true);" style="margin-bottom: 20px"/>
                </div>
                <div class="col-md-5" id="sources" style="text-align: center">
                    <div class="btn-group" id="fin_poli" data-toggle="buttons" style="display: inline-block;">
                        {% for v in fin_poli %}
                            <label class="btn btn-blue-nb"><input type="radio" name="source" value="{{ v.pk }}"
                                                                  autocomplete="off"> {{ v.tilie }}</label>
                        {% endfor %}
                    </div>
                    <div class="btn-group" id="fin_stat" data-toggle="buttons" style="display: inline-block;">
                        {% for v in fin_stat %}
                            <label class="btn btn-blue-nb"><input type="radio" name="source" value="{{ v.pk }}"
                                                                  autocomplete="off"> {{ v.tilie }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <table class="table table-hover table-bordered table-condensed" id="table-researches-preview"></table>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary-nb ctrl" id="save-btn" disabled onclick="save_direction();">
                        Создать направления
                    </button>
                </div>
                <div class="col-md-3">
                    <button onclick="clear_direction();" class="btn btn-blue-nb ctrl" disabled>Очистить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="res-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Найдено несколько пациентов</h4>
                </div>
                <div class="modal-body">
                    <p id="results-data"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="results-modal">
        <div class="modal-dialog" style="min-width: 50%;    width: auto; max-width: 85%">
            <div class="modal-content" style="width: auto">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Результаты анализов</h4>
                </div>
                <div class="modal-body" id="results-body" style="width: auto">
                    <table style="width: 100%">
                        <tr>
                            <td style="text-align: left" id="res-dir-num">№ <span></span></td>
                            <td style="text-align: center"></td>
                            <td style="text-align: right">Дата: <span id="res-date"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: left" colspan="2">ФИО: <span id="res-fio"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Номер карты: <span id="res-cardnum"></span></td>
                            <td style="text-align: center">Пол: <span id="res-sex"></span></td>
                            <td style="text-align: right">Дата рождения: <span id="res-dr"></span> (<span
                                    id="res-age"></span>)
                            </td>
                        </tr>
                    </table>
                    <table class="table ct" id="results-tb" style="width: 100%">
                        <thead>
                        <tr>
                            <th style="padding: 2px">Исследование</th>
                            <th style="padding: 2px;width: 190px">Значение</th>
                            <th style="padding: 2px;width: 110px">Еденицы измерения</th>
                            <th style="padding: 2px;width: 35%">Референсы</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div>Врач (лаборант): <span id="res-doc"></span></div>
                </div>
                <div class="modal-footer">
                    <div class='row'>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"><a href="#" onclick="selectText('results-body');return false;"
                                                 class="btn btn-primary-nb btn-blue-nb">Выделить результаты</a></div>
                        <div class="col-md-3"><a href="/results/pdf?pk=[614]" target="_blank"
                                                 class="btn btn-primary-nb print-b">Печать результатов</a></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary-nb btn-blue-nb" data-dismiss="modal">Закрыть
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>
    <script src="/static/locales/bootstrap-datepicker.ru.min.js"></script>
    <script>
        function selectText(element) {
            var doc = document;
            var text = doc.getElementById(element);

            if (doc.body.createTextRange) { // ms
                var range = doc.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) { // moz, opera, webkit
                var selection = window.getSelection();
                var range = doc.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }

        var client_id = -1, fio = "", dbth = "", sx = "", type = "poli", num = -1; // Поля карты
        var types = {"poli": "Поликлинника", "stat": "Стационар", "all": "Все категории"}; // Типы баз
        var res = [];  // Кэш поиска
        var active_lab = -1;
        var labs = {
        {% for v in labs %}{{ v.pk }} :
        "{{ v.title }}",
        {% endfor %}
        }

        var tmp_direction = {}
        var res_stack = [];
        var checked = new Array();
        var dict = new Array();

        $(document).ready(function () {
            $("#div2 input, #div2 button").prop("disabled", true);
            $('head').append('<link rel="stylesheet" href="/static/css/bootstrap-datepicker3.standalone.min.css" type="text/css" />');
            $("#fin_stat").hide();
            //$("#fin_poli input:first").parent('.btn').addClass('active');
            $("#search-field").bind('keyup', 'return', function () {
                search($('#search-field').val()); // Выполнение поиска, если нажата клавиша Enter
            });
            $("#select-lab").change(function () {
                active_lab = $("#select-lab").val();
                if (checked[active_lab] == undefined)
                    checked[active_lab] = [];
                load_researches();
            });
            $("body").on("change", "#table-researches .btn input", function () {
                checked[active_lab] = [];
                $.each($("input[name='sel']:checked"), function () {
                    checked[active_lab].push($(this).val());
                });
                sync(true);
            });
            sync(true);

            var today = new Date();

            $("[name='date-start'],[name='date-end']").val(getFormattedDate(today));
            $('#datepicker').datepicker({
                format: "dd.mm.yyyy",
                todayBtn: "linked",
                language: "ru",
                autoclose: true,
                todayHighlight: true
            });

            resize();
            $(window).resize(function () {
                resize();
            });
        });

        function show_results(rpk) {
            $("#results-modal #res-dir-num span").text("");
            $("#results-modal #res-date").text("");
            $("#results-modal #res-fio").text("");
            $("#results-modal #res-cardnum").text("");
            $("#results-modal #res-sex").text("");
            $("#results-modal #res-dr").text("");
            $("#results-modal #res-age").text("");
            $("#results-modal #res-doc").text("");
            $("#results-modal .ct tbody").html("");
            $.ajax({url: "/results/get/full", method: "GET", data: {pk: rpk}}).done(function (data) {
                $("#results-modal #res-dir-num span").text(data.direction.pk);
                $("#results-modal #res-date").text(data.direction.date);
                $("#results-modal #res-doc").text(data.direction.doc);

                $("#results-modal #res-dr").text(data.client.dr);
                $("#results-modal #res-fio").text(data.client.fio);
                $("#results-modal #res-sex").text(data.client.sex);
                $("#results-modal #res-age").text(data.client.age);
                $("#results-modal #res-age").text(data.client.age);
                $("#results-modal #res-cardnum").text(data.client.cardnum);

                $.each(data.results, function (k, v) {
                    if (Object.keys(v.fractions).length == 1) {
                        key_v = Object.keys(v.fractions)[0];
                        ref = JSON.parse(v.fractions[key_v].ref_f);
                        if (data.client.sex.toLowerCase().trim() == "м")
                            ref = JSON.parse(v.fractions[key_v].ref_m);
                        ref_array = []
                        $.each(ref, function (key, value) {
                            ref_array.push("{0} : {1}".f(key, value));
                        });
                        ref_str = ref_array.join(" | ");
                        $("#results-modal .ct tbody").append("<tr><td><b>{0}</b></td><td>{1}</td><td>{2}</td><td>{3}</td></tr>".f(v.title, v.fractions[key_v].result, v.fractions[key_v].units, ref_str));
                    }
                    else if (Object.keys(v.fractions).length > 1) {
                        td_str = "";
                        td2_str = "";
                        td3_str = "";
                        td4_str = "";
                        $.each(v.fractions, function (kk, vv) {
                            ref = JSON.parse(vv.ref_f);
                            if (data.client.sex.toLowerCase().trim() == "м")
                                ref = JSON.parse(vv.ref_m);
                            ref_array = []
                            $.each(ref, function (key, value) {
                                ref_array.push("{0} : {1}".f(key, value));
                            });
                            ref_str = ref_array.join(" | ");
                            td_str += "&nbsp;&nbsp;&nbsp;&nbsp;" + vv.title + "<br/>";
                            td2_str += vv.result + "<br/>";
                            td3_str += vv.units + "<br/>";
                            td4_str += ref_str + "<br/>";
                        });
                        $("#results-modal .ct tbody").append("<tr><td><b>{0}</b><br/>{1}</td><td><br/>{2}</td><td><br/>{3}</td><td><br/>{4}</td></tr>".f(v.title, td_str, td2_str, td3_str, td4_str));

                    }
                });
                $("#results-modal .ct td, #results-modal .ct th").css({
                    border: "1px solid #000",
                    padding: 2,
                    fontSize: 14
                });
                $("#results-modal .print-b").attr("href", "/results/pdf?pk=[" + rpk + "]");
                $("#results-modal").modal();
            });
        }

        function sync(notfull) {
            $("#table-researches-preview").html("");
            $("#table-researches-preview").append(lang.table_researches_preview_header);
            $("#div4 .ctrl").attr('disabled', 1);
            $.each(checked, function (k, v) {
                if (v == undefined || v.length == 0) return;
                if (!$("#selected-" + k).length) {
                    $("#table-researches-preview").append("<tr><td class='col-md-2'>{0}</td><td id='selected-{1}'></td><td class='col-md-1' style='text-align: right;'><span class='bclear glyphicon glyphicon-remove' style='width: 34px' data-toggle=\"confirmation\" onclick='remove_researches({2});'></span></td></tr>".f(labs[k], k, k));
                }
                $("#selected-" + k).html("");

                var keys = Object.keys(v);
                var last = keys[keys.length - 1];
                $.each(v, function (key, val) {
                    $("#selected-" + k).append("<span class='h-d' onclick=\"rem(" + k + "," + key + ");\">" + dict[val] + "</span>");
                    if (key != last)
                        $("#selected-" + k).append("&nbsp;|&nbsp;");
                });

                $("#div4 .ctrl").removeAttr('disabled');
            });
            if ($('#sources .active-s .btn.active input[name=source]').length)
                fs = parseInt($('#sources .active-s .btn.active input[name=source]').val());
            else
                fs = -1
            tmp_direction = {
                client_id: client_id,
                researches: checked,
                diagnos: $("#diagnos-field").val().trim(),
                fin_source: fs
            };
            if (notfull == undefined)
                load_researches();
            console.log(JSON.stringify(tmp_direction.researches))
        }
        function fast_ld_dirs() {
            load_client_dirs(client_id);
        }
        var statuses = {0: "0", 1: "1", 2: "2"}
        var statuses_titles = {
            0: "Направление выписано",
            1: "Материал получен лабораторией",
            2: "Результаты подтверждены"
        }
        function load_client_dirs(id) {
            var data = {pk: id, date: {start: $("[name='date-start']").val(), end: $("[name='date-end']").val()}};
            data.status = $("#status").val();
            $.ajax({url: "/directions/list/client", data: data}).done(function (data) {
                $("#story-table").html("");
                if (data.ok) {
                    $.each(data.directions, function (k, v) {
                        $("#story-table").append("<tr>" +
                                "<td>{0}</td>".f(v.date) +
                                "<td>{0}</td>".f(v.lab) +
                                "<td>{0}</td>".f(v.researches) +
                                "<td><div class='status status-{2}' title='{1}'>{0}</div></td>".f(statuses[v.status], statuses_titles[v.status], v.status) +
                                "<td style='text-align: right;'>" +
                                (v.status == 2 ? "<a href='/results/pdf?pk=[{0}]' onclick='show_results({0});return false;' target='_blank' class='btn btn-sm btn-sm-m btn-blue-nb'>Результаты</a>".f(v.pk) : "") +
                                "<a href='/directions/pdf?napr_id=[{0}]' target='_blank' class='btn btn-sm btn-sm-m btn-blue-nb'>Направление</a>".f(v.pk) +
                                "</td>" +
                                "<td><label><input type='checkbox' pk='{0}' class='batch-print' /></label></td>".f(v.pk) +
                                "</tr>");
                    });
                }
                resize();
                $('#story-list').scrollTop(0);
            });
        }
        function rem(k, key) {
            id = checked[k][key];
            if ($("input[value='" + id + "']").length) {
                $("input[value='" + id + "']").removeAttr("checked");
                $("input[value='" + id + "']").change();
            }
            else {
                if (checked[k].length == 1) delete checked[k];
                else {
                    checked[k].splice(checked[k].indexOf(checked[k][key]), 1);
                }
                sync();
            }
        }
        function search(query) { // Функция поиска
            $("#div2 input, #div2 button").prop("disabled", true);
            type = $('input[name=type]:checked').val(); // Получение выбранного типа базы
            query = query.toLowerCase().trim();
            $("#results-data").html(""); // Очищение результатов
            $("#sources .active").removeClass("active");
            try {
                $('#search-field').tooltipster('destroy');
            }
            catch (e) {

            }
            $.ajax({ // AJAX запрос
                url: "/clients/ajax/search?query=" + query + "&type=" + type // Установка адреса и параметров запроса
            }).done(function (data) { // Выполняется по завершению запроса и получению ответа
                res = data; // Запись результата в кэш
                i = data.length; // Получение количества результатов

                if (i > 1) // Если результатов больше, чем 1
                {
                    $.each(data, function (key, val) { // Перебор результатов
                        $("#results-data").append("<a href='#' onclick='$(\"#res-modal\").modal(\"hide\");return show_res("
                                + key + "," + val.pk + ");'>" + types[val.fields.type] + " | Карта №" + val.fields.num + " | "
                                + val.fields.family + " " + val.fields.name + " " + val.fields.twoname + " "
                                + val.fields.birthday.split(" ")[0] + "</a><br/>"); // Формирование таблицы результатов в модальном окне
                    });
                    $("#res-modal").modal(); // Открытие модального окна
                }
                else if (i == 1) { // Если результат 1
                    show_card(data[0].fields, data[0].pk); // Вызов функции формирования карты пациента

                }
                else {
                    clear();
                    // Если результатов нет
                    //$('#search-field').attr('data-content', lang.client_not_found); // Установка сообщения об ошибке
                    $('#search-field').focus(); // Перевод фокуса ввода на поле поиска
                    //$('#search-field').popover('show'); // Показ сообщения об ошибке
                    $("#search-field").parent().addClass("has-error"); // Подсвечивание поля поиска красным для сигнализации об ошибке
                    $('#search-field').tooltipster({
                        content: lang.client_not_found,
                        //position: "bottom",
                        theme: "tooltipster-shadow"
                    });
                    $('#search-field').tooltipster('show');
                }
                $("#diagnos-field").val("");
            });
        }
        function clear() { // Функция очистки результатов
            $('#search-field').attr('data-content', '');
            $("#search-field").parent().removeClass("has-error");
            $("#card-type").html("");
            $("#card-num").html("");
            $("#card-fio").html("");
            $("#card-bth").html("");
            $("#card-sx").html("");
        }
        function show_res(id, pk) { // Функция показа результата из списка нескольких
            show_card(res[id].fields, pk); // Вызов функции формирования карты пациента
            return false;
        }
        function show_card(fields, pk) { // Функция формирования карты пациента
            $("#div2 input, #div2 button").prop("disabled", false);
            load_client_dirs(pk);
            clear(); // Вызов функции очистки
            client_id = pk;
            fio = fields.family + " " + fields.name + " " + fields.twoname; // Формирование ФИО
            dbth = fields.birthday.split(" ")[0]; // Формирование даты рождения
            sx = fields.sex;
            type = fields.type;
            num = fields.num;
            // Установка полей таблицы карты пациента

            $("#card-type").text(types[type]);
            $("#card-num").text(num);
            $("#card-fio").text(fio);
            $("#card-bth").text(dbth);
            $("#card-sx").text(sx);
            $("#fin_poli input").parent('.btn').removeClass('active');
            $("#fin_stat input").parent('.btn').removeClass('active');
            if (type == "stat") {
                $("#fin_poli").hide();
                $("#fin_stat").show();
                //$("#fin_stat input:first").parent('.btn').addClass('active');

                $("#fin_poli").removeClass("active-s");
                $("#fin_stat").addClass("active-s");
            }
            else {
                $("#fin_poli").show();
                $("#fin_stat").hide();
                //$("#fin_poli input:first").parent('.btn').addClass('active');

                $("#fin_poli").addClass("active-s");
                $("#fin_stat").removeClass("active-s");
            }
            $("#select-lab").removeProp('disabled');
            $("#select-lab").selectpicker('refresh');
            tmp_direction = {
                client_id: client_id,
                researches: checked,
                diagnos: $("#diagnos-field").val().trim(),
                fin_source: parseInt($('#sources .active-s .btn.active input[name=source]').val())
            };
            clear_fast();
        }
        function load_researches() {
            $("#table-researches").html("");
            $("#table-researches").append(lang.table_researches_header);
            $.ajax({ // AJAX запрос
                url: "/directory/researches/list?lab_id=" + active_lab,// Установка адреса и параметров запроса
                dataType: 'json'
            }).done(function (data) {
                if (data.length == 0) {
                    $("#table-researches").append(lang.table_researches_not_found);
                    return;
                }
                $.each(data, function (k, v) {
                    ind = false;
                    for (var prop in checked[v.fields.id_lab_fk]) {
                        if (checked[v.fields.id_lab_fk].hasOwnProperty(prop)) {
                            if (checked[v.fields.id_lab_fk][prop] == v.pk) {
                                ind = true;
                            }
                        }
                    }
                    if (!ind)
                        $("#table-researches").append("<label title='{1}' class=\"btn btn-default col-md-3\"><input type=\"checkbox\" name=\"sel\" value=\"{0}\" autocomplete=\"off\"/> {1}</label>".f(v.pk, v.fields.ref_title));
                    else
                        $("#table-researches").append("<label class=\"btn btn-default col-md-3\" title='{1}' ><input type=\"checkbox\" name=\"sel\" value=\"{0}\" checked autocomplete=\"off\"/> {1}</label>".f(v.pk, v.fields.ref_title));
                    dict[v.pk] = v.fields.ref_title;
                });
            });

        }
        function remove_researches(index) {
            //bootbox.confirm(lang.table_researches_preview_realy_delete.f(labs[index]), function (result) {
            //if (!result) return;
                delete checked[index];
                sync();

            $.amaran({
                'theme': 'awesome wrn',
                'content': {
                    title: 'Исследования удалены',
                    message: "",
                    info: '',
                    icon: 'fa fa-exclamation'
                },
                'position': 'bottom right',
                delay: 6000
            });
            //});
        }
        function clear_fast() {
            if (tmp_direction.researches == undefined || tmp_direction.researches.length == 0) {
                return;
            }
            checked = [];
            $("#diagnos-field").val("");
            sync();
        }
        function clear_direction() {
            if (tmp_direction.researches == undefined || tmp_direction.researches.length == 0) {
                return;
            }
            // bootbox.confirm(lang.clear_direction, function (result) {
            //     if (!result) return;
                checked = [];
                sync();

            $.amaran({
                'theme': 'awesome wrn',
                'content': {
                    title: 'Исследования удалены',
                    message: "",
                    info: '',
                    icon: 'fa fa-exclamation'
                },
                'position': 'bottom right',
                delay: 6000
            });
            // });
        }
        function save_direction() {
            try {
                $('#sources').tooltipster('destroy');
            }
            catch (e) {

            }
            try {
                $('#save-btn').tooltipster('destroy');
            }
            catch (e) {

            }
            sync(true);
            if (tmp_direction.fin_source === -1) {
                $.amaran({
                    'theme': 'awesome no',
                    'content': {
                        title: 'Не выбран источник финансирования',
                        message: "",
                        info: '',
                        icon: 'fa fa-exclamation'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
                return;
            }
            sync();
            $("#div4 .ctrl").attr('disabled', 1);
            $.ajax({
                type: "POST",
                url: "/directions/ajax/save",
                data: {dict: JSON.stringify(tmp_direction)}
            }).done(function (data) {
                console.log(JSON.stringify(data));
                if (data[0].r && data[0].list_id) {
                    window.open('/directions/pdf?napr_id=' + data[0].list_id, '_blank');
                    clear_fast();
                    $("#sources .active").removeClass("active");
                    load_client_dirs(client_id);
                }
                else if (data[0].message) {

                    $.amaran({
                        'theme': 'awesome no',
                        'content': {
                            title: data[0].message,
                            message: "",
                            info: '',
                            icon: 'fa fa-exclamation'
                        },
                        'position': 'bottom right',
                        delay: 6000
                    });
                }
            });
        }

        function resize() {
            $('#story-list').height(300);
            $('#story-list').perfectScrollbar();
            $(".floatThead").floatThead('reflow');
            $(".floatThead").floatThead({
                useAbsolutePositioning: false,
                scrollContainer: function ($table) {
                    return $table.closest("div");
                }
            });
        }

        function batch_print() {
            if ($(".batch-print:checked").length < 1) {
                $.amaran({
                    'theme': 'awesome wrn',
                    'content': {
                        title: "Печать не возможна",
                        message: "Ничего не выбрано",
                        info: '',
                        icon: 'fa fa-exclamation'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
                return;
            }
            var print_array = [];
            $.each($(".batch-print:checked"), function (k, v) {
                print_array.push(parseInt($(v).attr("pk")));
                $(v).prop("checked", false);
            });
            window.open('/directions/pdf?napr_id=' + JSON.stringify(print_array), '_blank');
        }
    </script>
    <style>
        #results-modal .modal-body {
            color: #000
        }

        table.ct {
            border-collapse: collapse;
            margin-top: 5px
        }

        table.ct td {
            border-collapse: collapse;
            margin-top: 5px;

            padding: 2px !important;
        }

        table.ct, .ct th, .ct td, .ct tr, .ct tbody, .ct thead {
            border: 1px solid black !important;
            font-weight: normal;
            background-color: #fff;
        }

        .btn-sm.btn-blue-nb {
            margin: 2px;
            width: 105px;
            display: inline-block;
        }

        .status {
            vertical-align: middle;
            font-weight: 600;
            font-size: 12pt;
            width: 100%;
            text-align: center;
        }

        .status-0 {
            color: #CF3A24
        }

        .status-1 {
            color: #4B77BE
        }

        .status-2 {
            color: #049372
        }

        .navbar {
            margin-bottom: 3px;
        }
        .active {
            background-color: #656D78 !important;
            color: #fff !important;
        }

        .tw {
            border: #ddd 1px solid;
            min-height: 300px;
            background: #eee;
        }

        .div4 {
            width: 50%;
            height: 50%;
            float: left;
            display: inline-block;
            padding: 5px;
            overflow-y: auto;
        }

        .container-fluid {
            height: 100%;
            width: 100%;
        }

        body, html {
            height: 100%;
        }

        .hideble {
            height: 32px;
            cursor: pointer;
            overflow: hidden;
        }

        .hideble table, .hideble-n table {
            margin: 0;
        }

        .hideble.opened {
            height: auto;
        }

        #table-researches .btn {
            display: inline-block;
            text-align: left;
            overflow-wrap: normal;
            vertical-align: top;
            width: 25% !important;
            float: left;
            border-radius: 0;
            border-collapse: collapse !important;
            height: 36px !important;

            border: 1px solid #6C7A89 !important;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden
        }

        #table-researches .btn:hover {
            border: 1px solid #6C7A89 !important;
            background: #6C7A89;
        }

        #table-researches-preview span {
            cursor: pointer;
        }

        .has-error {
            border-color: #E9573F;
        }

        h6 {
            margin: 3px;
        }

        #results-modal .ct tbody td {
            white-space: nowrap;
            word-wrap: normal;
        }

        tbody td {
            padding: 2px !important;
        }

        #story-list {
            position: relative;
        }

        #story-table td {
            padding: 2px;
        }

        .floatThead th {
            background: #fff;
        }

        .bclear {
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            opacity: .6;
            color: #881c2f;
            margin-right: 5px;
        }

        .bclear:hover {
            opacity: 1;
        }

        .btn-sm-m {
            padding-top: 1px;
            padding-bottom: 1px;
        }

        td > label {
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
        }
    .h-d:hover{
        background-color: #eee;
    }
    </style>
{% endblock %}