{% extends "dbase.html" %}
{% block title %}Прием материала по одному{% endblock %}
{% block container %}container{% endblock %}
{% block extended_header %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ lab.title }} <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" style="z-index: 10000">
            {% for v in labs %}
                {% if v.pk != lab.pk %}
                <li><a href="/dashboard/receive/one_by_one?lab_pk={{ v.pk }}">{{ v.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-4">
            <div class="panel">
                <div class="tabbable clearfix">
                    <ul class="nav nav-tabs" id="receive-types">
                      <li class="active"><a data-toggle="tab" href="#barcode">Штрих-код</a></li>
                      <li><a data-toggle="tab" href="#direction">Номер направления</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="barcode" class="tab-pane fade in active">
                            <div class="input-group">
                                <input type="text" class="form-control" id="receive-field" name="search-field" data-container="body"
                                       data-toggle="popover" data-placement="bottom" data-content="" spellcheck="false"
                                       placeholder="Номер штрих-кода" maxlength="20">
                              <span class="input-group-btn">
                                    <button class="btn btn-blue-nb" onclick="do_receive($('#receive-field').val());" type="button">Принять
                                    </button>
                              </span>
                            </div>
                        </div>
                        <div id="direction" class="tab-pane fade">
                            <div class="input-group">
                                <input type="text" class="form-control" id="receive-field-direction" name="search-field-direction" data-container="body"
                                       data-toggle="popover" data-placement="bottom" data-content="" spellcheck="false"
                                       placeholder="Номер направления" maxlength="20">
                              <span class="input-group-btn">
                                    <button class="btn btn-blue-nb" onclick="do_receive_direction($('#receive-field-direction').val());" type="button">Принять</button>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <span id="rec-message"></span>
        </div>
        <div class="col-xs-4" style="text-align: center;padding-top: 5px; border-right: 1px solid lightgray; border-left: 1px solid lightgray; min-height: 160px">
            <div style="font-size: 60px; display: inline-block;vertical-align: middle">
                <span style="color: lightgray">№</span> <span id="day-num"></span>
            </div>
            <br/>
            <br/>
            <label>Следующий номер: <input class="form-control" type="number" value="0" id="next_num" style="width: 60px;display: inline-block" /></label>
            <small><a href="#" onclick="upd_next_num(); return false;">сброс</a></small>
        </div>
        <div class="col-xs-4">
            <h5 style="padding: 0;margin: 0; font-weight: normal">Исследования:</h5>
            <div id="researches-scroll">
                <div id="researches-container"></div>
            </div>
        </div>
    </div>
    <h5><small class="fastlinks" style="display: inline-block;float: right"><a href="/dashboard/receive/journal_form?lab_pk={{ lab.pk }}" target="_blank">Журнал приема</a>&nbsp;<a href="#" onclick="openexeclist();return false">Лист исполнения</a></small> Принятые за сегодня </h5>
    <div id="history-container">
        <table class="table table-bordered table-responsive floatThead">
            <thead>
                <tr>
                    <th class="col-xs-2">№ принятия</th>
                    <th class="col-xs-3">Тип емкости</th>
                    <th class="col-xs-2">№ емкости</th>
                    <th>Исследования</th>
                    <th style="width: 50px">Ш/к</th>
                </tr>
            </thead>
            <tbody id="history-data">

            </tbody>
        </table>
    </div>
    <div class="modal fade" id="list-modal">
        <div class="modal-dialog" style="width: 64%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Создание листа исполения</h4>
                </div>
                <div class="modal-body">
                    <label><span style="display: inline-block;">Дата приема материала:</span> <span
                            style="display: inline-block;"><input type="text" class="form-control no-context"
                                                                  style="display: inline-block" name="dateday"/></span></label>
                    <div style="height: 400px">
                        <div id="table-researches"></div>
                    </div>
                    <br/>
                    <hr/>
                    <div class="row" style="text-align: center;width: 100%">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6" style="margin: 0 auto">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px"
                                            onclick="$('#table-researches input[type=checkbox]').prop('checked', true);sync_checks();return false;">
                                        Выбрать всe
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px"
                                            onclick="$('#table-researches input[type=checkbox]').prop('checked', false);sync_checks();return false;">
                                        Снять всe
                                    </button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px"
                                    onclick="createlist(1);return false;">Создать лист по выбранному периоду
                            </button>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick='$("#receive-field").focus();'>Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block head_cn %}
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker3.standalone.min.css" type="text/css" />
    <style>
        #history-container, #researches-scroll {
            padding-right: 15px;
            position: relative;
        }
        .floatThead th {
            background-color: #fff;
        }
        td {
            padding: 2px !important;
        }

        td label input {
            vertical-align: middle;
            margin-top: 15px;
        }

        td label:hover {
            background-color: #efefef;
        }
        td.tube {
            padding: 2px !important;
            border-radius: 0;
        }

        .c {
            text-align: center;
            padding: 0 !important;
        }
        .last {
            background-color: #D4E6C2;
        }
        #researches-scroll{
            height: 140px;
        }
        #researches-container{

        }
    .btn-bc{
        padding: 2px;
        width: 100%;
    }
    </style>
{% endblock %}
{% block scripts %}
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="/static/js/jquery.idle.min.js"></script>
    <audio id="snd-scan" preload="none">
        <source src="/static/sound/scan.mp3" type="audio/mpeg">
        <source src="/static/sound/scan.ogg" type="audio/ogg">
    </audio>
    <audio id="snd-warn" preload="none">
        <source src="/static/sound/warn.mp3" type="audio/mpeg">
        <source src="/static/sound/warn.ogg" type="audio/ogg">
    </audio>
<script>
let lab_pk = {{ lab.pk }};
let before_num = 0;
$(document).ready(function(){
    $("#receive-field").bind('keydown', 'return', function () {
        do_receive($('#receive-field').val());
    });
    clr();
    load_history(-1);
    resize();
    $(window).resize(function () {
        resize();
    });

    $("[name='dateday']").val(getFormattedDate(today));
    $('[name=dateday]').datepicker({
        format: "dd.mm.yyyy",
        todayBtn: "linked",
        language: "ru",
        autoclose: true,
        todayHighlight: true
    });
    upd_next_num();
    $("#next_num").change(function(){
        v = parseInt($("#next_num").val());
        if(v <= before_num) {
            $("#next_num").val(before_num + 1);
        }
    });
    $(document).idle({
        onIdle: function(){
            focus_input();
        },
        idle: 4000
    });
    $("body").on("change", "#table-researches .btn input", sync_checks);
    $("#snd-scan").trigger('load');
    $("#snd-warn").trigger('load');
    focus_input();
    $("#receive-types").on('shown.bs.tab', focus_input)
});
function focus_input(){
    let inp = $(".tab-pane.active input");
    if(!inp.is(":focus")){
        inp.focus();
    }
}
function disable_input(){
    $(".tab-pane input").prop("disabled", true).blur();
}

function enable_input(){
    $(".tab-pane input").prop("disabled", false);
    focus_input();
}
function sync_checks(){
    $(".btn").removeClass("active-b");
    let elements = document.querySelectorAll("input[name='sel']:checked");
    Array.prototype.forEach.call(elements, function (el, i) {
        $(el).parent().addClass("active-b");
    });
}
let block = false;
function do_receive(pk){
    pk = pk.trim();
    if(pk === ""){
        clr();
        set_msg("Не найдено! Введен пустой запрос");
        return;
    }
    if(block) return;
    block = true;
    sl();
    clr();
    disable_input();

    let v = parseInt($("#next_num").val());
    if(v <= before_num) {
        v = before_num + 1;
        $("#next_num").val(v);
    }

    $.ajax({method: "POST", url: "/dashboard/receive/one_by_one", data: {pk: pk, num: v, lab_pk: lab_pk}}).done(function(data){
        block = false;
        $("#receive-field").prop("disabled", false);
        enable_input();
        upd_next_num();
        hl();
        if(data.r === 2){
            set_msg("Ошибка! Емкость предназначена для<br/> <b>{0}</b>".f(data.lab));
            play_warn();
            return;
        }
        else if(data.r === 3){
            set_msg("Ошибка! Емкость № {0} <b>не найдена</b>".f(pk));
            play_warn();
            return;
        }
        else if(data.r === 4){
            set_msg("Ошибка! Емкость № {0} <b>не имеет подтвержения взятия материала</b>.<br/> Отделение <b>{1}</b>, направление <b>№ {2}</b>".f(pk, data.otd, data.direction));
            play_warn();
            return;
        } else if(data.new){
            set_msg("Емкость № <b>{0} принята</b><br/><br/>".f(pk));
        } else {
            set_msg("Емкость № {0} была <b>принята ранее</b>. {1}<br/><br/>".f(pk, data.receivedate));
        }
        play_scan();
        before_num = data.n;
        set_n(data.n);
        set_researches(data.researches);
        load_history(pk);
    });
}
function do_receive_direction(pk){
    pk = pk.trim();

    if(pk === ""){
        clr();
        set_msg("Не найдено! Введен пустой запрос");
        return;
    }
    if(block) return;
    let num;
    if (pk.substr(0, 3) === "460" && pk.length === 13) {
        num = parseInt(pk.substr(0, 12)) - 460000000000;
    } else{
        num = parseInt(pk);
    }
    pk = ""+num;

    block = true;
    sl();
    clr();
    disable_input();

    let v = parseInt($("#next_num").val());
    if(v <= before_num) {
        v = before_num + 1;
        $("#next_num").val(v);
    }

    $.ajax({method: "POST", url: "/dashboard/receive/one_by_one", data: {pk: pk, num: v, lab_pk: lab_pk, direction: 1}}).done(function(data){
        block = false;
        $("#receive-field").prop("disabled", false);
        enable_input();
        upd_next_num();
        hl();
        if(data.length === 0){
            set_msg(`Ошибка! Емкости для направления ${pk} не найдены`);
            play_warn();
            return;
        }
        let msg = [];
        for(let row of data){
            if(row.r === 2){
                msg.push("Ошибка! Емкость предназначена для<br/> <b>{0}</b>".f(row.lab));
                play_warn();
            }
            else if(row.r === 3){
                msg.push("Ошибка! Емкость № {0} <b>не найдена</b>".f(row.pk));
                play_warn();
            }
            else if(row.r === 4){
                msg.push("Ошибка! Емкость № {0} <b>не имеет подтвержения взятия материала</b>.<br/> Отделение <b>{1}</b>, направление <b>№ {2}</b>".f(row.pk, row.otd, row.direction));
                play_warn();
            } else if(row.new){
                msg.push("Ёмк. <b>{0} принята</b><br/><br/>".f(row.pk));
                play_scan();
            } else {
                msg.push("Ёмк. {0} была <b>принята ранее</b>. {1}".f(row.pk, row.receivedate));
                play_scan();
            }
        }
        set_msg(msg.join("<br/>"));
        before_num = data.n;
        set_n(data.n);
        set_researches(data.researches);
        load_history(pk);
    });
}
function set_msg(ht){
    $("#rec-message").html(ht);
}
function set_researches(res){
    let $r_cont = $("#researches-container");
    $r_cont.html("");
    $.each(res, function(k, v){
        $r_cont.append("<div class='research-row'>{0}</div>".f(v));
    });
    $r_cont.perfectScrollbar();
    $r_cont.scrollTop(0);
}
function set_n(n){
    $("#day-num").text(n);
}
function clr(){
    set_msg("<br/><br/>");
    set_n("--");
    set_researches(["--"]);
}
let block2 = false;
function load_history(highlight){
    if(block2) return;
    block2 = true;
    $.ajax({method: "GET", url: "/dashboard/receive/history", data: {lab_pk: lab_pk}}).done(function(data){
        block2 = false;
        $("#history-data").html("");
        if(data.rows.length === 0){
            $("#history-data").html("<tr><td colspan='4' style='text-align: center;'>Нет данных</td></tr>");
            return;
        }
        $.each(data.rows, function(k, v){
            $("#history-data").append("<tr>" +
                    "<td>{0}</td>".f(v.n) +
                    "<td class='well tube'><div><div class='sq'><div class='color-sq' style='background-color: {0}'></div></div>{1}</div></td>".format(v.color, v.type) +
                    "<td>{0}</td>".f(v.pk) +
                    "<td>{0}</td>".f(v.researches.join(", ")) +
                    "<td><a class=\'btn btn-sm btn-blue-nb btn-bc\' href=\'/barcodes/tubes?tubes_id=[{0}]\' target=\"_blank\"><i class=\"fa fa-barcode\"></i></a></td>".f(v.pk) +
                    "</tr>");
        });
        resize();

        $('#history-container').scrollTop(0);
    });
}

let first_resize = true;
function resize() {
    $('#history-container').height($(window).height() - $('#history-container').position().top - 70);

    if (first_resize) {
        $('#history-container').perfectScrollbar();
        first_resize = false;
    } else {
        $('#history-container').perfectScrollbar('update');
    }

    $(".floatThead").floatThead('reflow');
    $(".floatThead").floatThead({
        useAbsolutePositioning: false,
        scrollContainer: function ($table) {
            return $table.closest("div");
        }
    });
}
function load_researches(cont)
{
    $o = $("#table-researches");
    if(cont !== undefined)
        $o = $(cont);
    $o.html("");
    $o.append(lang.table_researches_header);
    $.ajax({ // AJAX запрос
        url: "/directory/researches/list?lab_id=" + lab_pk,// Установка адреса и параметров запроса
        dataType: 'json'
    }).done(function (data) {
        if (data.length === 0) {
            $o.append(lang.table_researches_not_found);
            return;
        }
        $o.html("");
        $o.append(lang.table_researches_header);
        $.each(data, function (k, v) {
            $o.append("<label title='{1}' class=\"btn btn-default col-xs-12 col-sm-6 col-md-4 col-lg-3\"><input type=\"checkbox\" name=\"sel\" value=\"{0}\" class=\"research-sel\" autocomplete=\"off\"/> {1}</label>".f(v.pk, v.fields.ref_title));
        });
    });
}
function openexeclist(){
    load_researches();
    $("#list-modal").modal();
}
function upd_next_num(){
    $.ajax({ // AJAX запрос
        url: "/dashboard/receive/last_received",// Установка адреса и параметров запроса
        dataType: 'json',
        data: {lab_pk: lab_pk}
    }).done(function (data) {
        before_num = data.last_n;
        $("#next_num").val(before_num+1);
    });
}
function createlist() {
    let researches = [];
    $.each($("#table-researches .research-sel:checked"), function (k, v) {
        researches.push(parseInt($(v).val()));
    });
    if (researches.length === 0) {
        $.amaran({
            'theme': 'awesome wrn',
            'content': {
                title: "Создание невозможно",
                message: "Ничего не выбрано",
                info: '',
                icon: 'fa fa-exclamation'
            },
            'position': 'bottom right',
            delay: 6000
        });
        return;
    }

    let date = $("[name=dateday]").val();
    window.open('/dashboard/receive/execlist?date=' + date + "&researches=" + JSON.stringify(researches), '_blank');
}

function play_scan() {
    try{
       $("#snd-scan").prop("currentTime", 0);
       $("#snd-scan").trigger('play');
    }catch(e){

    }
 }
function play_warn() {
    try{
       $("#snd-warn").prop("currentTime", 0);
       $("#snd-warn").trigger('play');
    }catch(e){

    }
 }
</script>
{% endblock %}