{% extends "dbase.html" %}
{% block title %}Прием материала{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block content %}
    <!--TODO: интерфейс-->
    <div class="row" style="margin: 0">
        <table class="table table-bordered">
            <tr>
                <td style="width: 320px"><h6>Лаборатория:&nbsp;&nbsp;</h6></td>
                <td>
                    <h6>{{ request.user.doctorprofile.podrazileniye.title }}</h6>
                </td>
                <td>
                    <div style="text-align: right">
                        <h6>Дата:
                            <script>var today = new Date();
                            document.write(getFormattedDate(today));</script>
                        </h6>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 320px"><h6>Подразделение в лаборатории:&nbsp;&nbsp;</h6>
                </td>
                <td>
                    <select class="selectpicker" data-width="100%" id="subgroup" onchange="load_tubes();">
                        {% for v in groups %}
                            <option num='{{ v.pk }}'>{{ v.title }}</option>{% endfor %}</select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 320px"><h6>Отделение (от кого):&nbsp;&nbsp;</h6></td>
                <td>
                    <select class="selectpicker" data-width="100%" id="from" onchange="load_tubes();">
                        {% for v in podrazdeleniya %}
                            <option num='{{ v.pk }}'>{{ v.title }}</option>{% endfor %}</select>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="scroll-tb" style="position: relative;">
                <table class="table table-bordered table-responsive">
                    <thead>
                    <th style="width: 70px">№ п/п</th>
                    <th>Исследования</th>
                    <th style="width: 180px">№ направления</th>
                    <th style="width: 280px">Тип пробирки</th>
                    <th style="width: 180px">№ пробирки</th>
                    <th style="width: 180px">Принято</th>
                    <th style="width: 300px">Замечания</th>
                    </thead>
                    <tbody id="tubes"></tbody>
                </table>
            </div>

            <div class="r">
                <button class='btn btn-primary-nb' style="margin-top: 5px;width: auto!important;" onclick='save()'>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            loadfrom();
            resize();
            $(window).resize(function () {
                resize();
            });
        });

        function load_tubes() {
            $.ajax({url: "/tubes/get?subgroup=" + $("#subgroup option:selected").attr("num") + "&from=" + $("#from option:selected").attr("num")}).done(function (data) {
                $("#tubes").html("");
                data = data.sort(function (a, b) {
                    var x = a.tube.id,
                            y = b.tube.id;
                    return x < y ? -1 : x > y ? 1 : 0;
                });
                $.each(data, function (k, v) {
                    tube = "<td class='well tube'><div><div class='sq'><div class='color-sq' style='background-color: {0}'></div></div>{1}</div></td>".format(v.tube.color, v.tube.type);
                    if (!v.tube.status && (v.tube.notice == undefined || v.tube.notice == ""))
                        $("#tubes").append(("<tr><td class='c'>{0}</td><td>{3}</td><td class='c'><a href='/directions/pdf?napr_id=[{5}]' target='_blank'>{5}</a></td>" + tube + "<td class='c'>{2}</td><td class='c in'><label><input value='{2}' name='confirm' class='confirm' type='checkbox' /></label></td><td><div class='btn-group'><input id='notice_{2}' type='text' class='form-control'/><span onclick='clear_field({2});' class=\"searchclear glyphicon glyphicon-remove\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Очистить\"></span></div></td></tr>").f(k + 1, v.tube.type, v.tube.id, v.researches, v.tube.color, v.direction))
                    else if (v.tube.notice == undefined || v.tube.notice == "")
                        $("#tubes").append("<tr><td class='c'>{0}</td><td>{3}</td><td class='c'><a href='/directions/pdf?napr_id=[{6}]' target='_blank'>{6}</a></td>" + tube + "<td class='c'>{2}</td><td class='c in'><label><input value='{2}' name='confirm' checked disabled class='confirm' type='checkbox' /></label></td><td><input id='notice_{2}' disabled type='text' class='form-control'/></td></tr>".f(k + 1, v.tube.type, v.tube.id, v.researches, v.tube.color, v.tube.notice, v.direction))
                    else
                        $("#tubes").append("<tr><td class='c'>{0}</td><td>{3}</td><td class='c'><a href='/directions/pdf?napr_id=[{6}]' target='_blank'>{6}</a></td>" + tube + "<td class='c'>{2}</td><td><label class='c in'><input value='{2}' disabled class='confirm' type='checkbox' /></label></td><td><input id='notice_{2}' disabled value='{5}' type='text' class='form-control'/></td></tr>".f(k + 1, v.tube.type, v.tube.id, v.researches, v.tube.color, v.tube.notice, v.direction))
                });
                $('[data-toggle="tooltip"]').tooltip();
            });
        }

        function clear_field(id) {
            $("#notice_" + id).val("");
        }

        function save() {
            tubes = [];
            $(".confirm").each(function (k, v) {
                tubes.push({
                    "id": $(v).val(),
                    "notice": $("#notice_" + $(v).val()).val(),
                    "status": $(v).prop("checked")
                })
            });
            if (tubes.length <= 0) return;
            $.ajax({
                url: "/dashboard/receive",
                method: "POST",
                data: {data: JSON.stringify(tubes)},
                type: "json"
            }).done(function (data) {
                console.log(data);
                load_tubes();
                $.amaran({
                    'theme': 'awesome ok',
                    'content': {
                        title: 'Пробирки приняты',
                        message: "",
                        info: '',
                        icon: 'glyphicon glyphicon-ok'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
            });
        }

        function resize() {
            $('#scroll-tb').height($(window).height() - $('#scroll-tb').position().top - 80);
            $('#scroll-tb').perfectScrollbar();
        }

        function loadfrom(){
            var from = $("#from");
            $(from).html("");
             $.ajax({
                url: "/dashboard/from",
                method: "GET",
                type: "json"
            }).done(function (data) {
                 $.each(data, function(k, v){
                     console.log(v.pk, v.title, v.tubes);
                     $(from).append("<option num='{0}'>{1}</option>".f(v.pk, v.title));
                 });
                 $(from).selectpicker("refresh");
                 load_tubes();
             });
        }
    </script>
    <style>
        .borderless td {
            border: 0 !important;
        }

        .r {
            text-align: right;
        }

        .c {
            text-align: center;
        }

        td {
            padding: 2px !important;
        }

        #scroll-tb {
            padding: 5px 15px 5px 5px;
            border: 1px solid #ccc;
        }

        html, body {
            overflow: hidden;
            height: 100%
        }

        body {
            margin: 0;
            padding: 0;
        }

        .container-fluid, body {
            height: 100%;
            overflow: hidden;
        }

        #tubes tr, #tubes td {
            padding: 2px;
            vertical-align: middle;
        }

        #tubes input[type=text] {
            border: 0;
            margin: 0;
            width: 100%;
            padding: 0 5px;
        }

        #tubes label {
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
        }

        #tubes label:hover {
            background-color: #efefef;
        }

        #tubes .btn-group {
            width: 100%;
        }

        .searchclear {
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            opacity: .6;
            color: #881c2f;
        }

        .searchclear:hover {
            opacity: 1;
        }

        td h6 {
            margin: 4px !important;
        }

        td.tube {
            padding: 2px !important;
        }

        td .form-control, .in, .in label {
            padding: 0 !important;
            margin: 0 !important;
        }

        td .form-control {
            height: 20px;
        }
    </style>
{% endblock %}