{% extends "dbase.html" %}
{% block title %}Ввод результатов{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block content %}
    <div class="col-md-3">
        <div class="fastlinks"><a href="#" onclick="openexeclist();return false">Лист исполнения</a>&nbsp;&nbsp;<a href="#" onclick="openjournal();return false">Журнал</a>&nbsp;&nbsp;<a href="#" onclick="dayprint();return false">Печать результатов за день</a></div>
        <div class="panel panel-flt m5">
            <div class="panel-body">
                <div class="input-group" style="margin-bottom: 5px">
                    <input type="text" class="form-control" id="search-field" name="search-field" maxlength="13" autofocus/>
                    <span class="input-group-btn">
                        <button class="btn btn-blue-nb" onclick="load_d_fast();" type="button">Поиск</button>
                    </span>
                </div>
                <div class="btn-group" data-toggle="buttons" style="display: inline-block; width: 100%">
                    <label class="btn btn-default active" style="width: 50%">
                        <input type="radio" name="type" id="option2" value="1" autocomplete="off" checked>
                        Номер направления
                    </label>
                    <label class="btn btn-default" style="width: 50%">
                        <input type="radio" name="type" id="option1" value="0" autocomplete="off">
                        Номер пробирки
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-flt m2">
            <div class="panel-body">
                <label style="float: right;">отложенные <input type="checkbox" name="def" onchange="tgfreeze(this);"/></label>Дата приема материала:
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-md-9" style="padding-right: 0;">
                        <div class="input-daterange input-group" id="datepickermain" style="margin-top: 2px">
                            <input type="text" class="input-sm form-control" name="datemain-start"/>
                            <span class="input-group-addon"
                                  style="background-color: #fff;color: #000">&mdash;</span>
                            <input type="text" class="input-sm form-control" name="datemain-end"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary-nb" onclick="load_tubes_and_dirs();return false;"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
                <div id="lists">
                    <div class="col-md-6" id="dirs-list">
                        <table class="table table-bordered floatThead">
                            <thead>
                            <tr>
                                <th style="text-align: center">Направления <small class="badge">0</small></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-6" id="tubes-list">
                        <table class="table table-bordered floatThead">
                            <thead>
                            <tr>
                                <th style="text-align: center">Пробирки <small class="badge">0</small></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="text-align: right">
                        <small >дата создания направления</small>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <small>дата приема материала</small>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="col-md-3">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-6">
                <button onclick="print_results();" id="result-print" disabled
                        class="btn btn-primary-nb">Печать результатов
                </button>
            </div>
            <div class="col-md-6">
                <button onclick="confirm_results();" id="result-confirm" disabled
                        class="btn btn-primary-nb">Подтвердить результаты
                </button>
            </div>
        </div>
        <table class="table table-bordered" id="dir_info">
            <tr>
                <td style="width: 150px">№ Направления</td>
                <td id="dir_num"></td>
            </tr>
            <tr>
                <td style="width: 150px">Ист. фин.</td>
                <td id="fin_source"></td>
            </tr>
            <tr>
                <td style="width: 150px">ФИО Пациента</td>
                <td id="dir_client_fio"></td>
            </tr>
            <tr>
                <td style="width: 150px">Пол</td>
                <td id="client_sex"></td>
            </tr>
            <tr>
                <td style="width: 150px">Номер карты</td>
                <td id="client_cardnum"></td>
            </tr>
            <tr>
                <td style="width: 150px">Номер истории</td>
                <td id="client_hisnum"></td>
            </tr>
            <tr>
                <td style="width: 150px">Возраст</td>
                <td id="client_vozrast"></td>
            </tr>
            <tr>
                <td style="width: 150px">Лечащий врач</td>
                <td id="directioner"></td>
            </tr>
        </table>
        <div id="issledovaniya-scroll">
            <ul id="issledovaniya"></ul>
        </div>
    </div>
    <div class="col-md-6" id="form-scroll">
        <div id="result-form">

        </div>
    </div>
<div class="modal fade" id="list-modal">
    <div class="modal-dialog" style="width: 64%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Создание листа исполения</h4>
            </div>
            <div class="modal-body">
                Дата приема материала:
                <br/>
                <div class="input-daterange input-group" id="datepicker" style="margin-top: 2px">
                    <input type="text" class="input-sm form-control" name="date-start"/>
                    <span class="input-group-addon"
                          style="background-color: #fff;color: #000">&mdash;</span>
                    <input type="text" class="input-sm form-control" name="date-end"/>
                </div>
                <div style="height: 400px">
                    <div id="table-researches"></div>
                </div>
                <hr/>
                <div class="row" style="text-align: center;width: 100%">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="margin: 0 auto">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px" onclick="$('#table-researches input[type=checkbox]').prop('checked', true);return false;">Выбрать всe</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px" onclick="$('#table-researches input[type=checkbox]').prop('checked', false);return false;">Снять всe</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px" onclick="createlist(1);return false;">Создать лист по выбранному периоду</button>
                        <button type="button" class="btn btn-primary-nb" onclick="createlist(2);return false;">Создать лист по отложенным</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div><div class="modal fade" id="journal-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Журнал</h4>
            </div>
            <div class="modal-body">
                <label><span style="display: inline-block;">Дата подтверждения результата:</span> <span style="display: inline-block;"><input type="text" class="form-control" style="display: inline-block" name="date-confirm"/></span></label>
                <hr/>
                <div class="row" style="text-align: center;width: 100%">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="margin: 0 auto">
                        <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px" onclick="createjournal();return false;">Создать журнал по выбранной дате</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="results-day-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Печать результатов за день</h4>
            </div>
            <div class="modal-body">
                <label><span style="display: inline-block;">Дата подтверждения результата:</span> <span style="display: inline-block;"><input type="text" class="form-control" style="display: inline-block" name="dateday-confirm"/></span></label>
                <hr/>
                <div class="row" style="text-align: center;width: 100%">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="margin: 0 auto">
                        <button type="button" class="btn btn-primary-nb" style="margin-bottom: 10px" onclick="dayprint_do();return false;">Печать результатов за выбранную дату</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/runtime.js"></script>
    <script src="/static/js/jade.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/locales/bootstrap-datepicker.ru.min.js"></script>
    <script>
        var type = 0;
        $(document).ready(function () {
            $('head').append('<link rel="stylesheet" href="/static/css/bootstrap-datepicker3.standalone.min.css" type="text/css" />');
            $("#result-print").attr("disabled", 1);
            $(window).resize(function () {
                resize();
            });
            $(document).on("click", ".select-tube", function (e) {
                fast_search($(this, ".num").attr("tube"));
                $("#option1").attr("checked", "checked");
                $("#option2").removeAttr("checked");
                $("#option1").parent(".btn").addClass('active');
                $("#option2").parent(".btn").removeClass('active');
                type = 0;
                load_d_fast();
            });

            $(document).on("click", ".select-dir", function (e) {
                fast_search($(this).attr("direction"));
                $("#option1").removeAttr("checked");
                $("#option2").attr("checked", "checked");
                $("#option1").parent(".btn").removeClass('active');
                $("#option2").parent(".btn").addClass('active');
                type = 1;
                load_d_fast();
            });

            $("#search-field").bind('keydown', 'return', function () {

                load_d_fast();
            });
            $("body").on('keyup', '.result-enter', function (e) {
                if (e.which === 13) {
                    var index = $('.result-enter').index(this) + 1;
                    if ($('.result-enter').eq(index).length)
                        $('.result-enter').eq(index).focus();
                    else
                        save();
                }
            });
            var today = new Date();

            $("[name='date-start'],[name='date-end'],[name='datemain-start'],[name='datemain-end'],[name=date-confirm],[name=dateday-confirm]").val(getFormattedDate(today));
            $('#datepicker, #datepickermain,[name=date-confirm],[name=dateday-confirm]').datepicker({
                format: "dd.mm.yyyy",
                todayBtn: "linked",
                language: "ru",
                autoclose: true,
                todayHighlight: true
            });

            load_tubes_and_dirs();
            resize();
        });
        function tgfreeze(th){
            $("[name='datemain-start'],[name='datemain-end']").prop("disabled", $(th).prop("checked"));
        }
        request = "";
        function load_d_fast() {
            type = $('label.btn.active input').val();
            load_data($('#search-field').val(), type);
        }

        function reload_fast() {
            if (loaded_research < 0 && request != "") return;

            load_data(request, type);

            //load_form(loaded_research);
        }
        var dir_data = {};
        var statuses = {"n": "Н", "s": "О", "c": "П", "o": "ОТ"};
        var statuses_titles = {"n": "Не обработан", "s": "Обработан (сохранен)", "c": "Подтвержден", "o": "Отложен"};
        var iss_pks = [];
        function load_data(id, type, select_el) {
            $("#result-print").prop("disabled", true);
            $("#result-confirm").prop("disabled", true);
            iss_pks = [];
            $.ajax({
                url: "/directions/get/issledovaniya",
                type: "json",
                method: "GET",
                data: {id: id, type: type}
            }).done(function (data) {
                if (!data.ok) {
                    $("#search-field").parent().addClass("has-error");
                    $('#search-field').tooltipster({
                        content: "Не найдено",
                        //position: "bottom",
                        theme: "tooltipster-shadow"
                    });
                    $('#search-field').tooltipster('show');
                    load_tubes_and_dirs();
                    return;
                }

                $("#issledovaniya").isLoading({
                    text: "Загрузка списка исследований",
                    position: "inside",
                    'tpl': "<li class=\"isloading-wrapper %wrapper%\">%text% <i class=\"%class% glyphicon glyphicon-refresh\"></i></li>",
                });

                $(".has-error").removeClass("has-error");
                try {
                    $('#search-field').tooltipster('destroy');
                }
                catch (e) {

                }
                request = id;
                dir_data = data;
                $("#issledovaniya").isLoading("hide");
                $(".select-dir.active, .select-tube.active").removeClass("active");
                $("#result-form").empty();
                $("#issledovaniya").empty();
                $("#dir_num").html("<a href='/directions/pdf?napr_id=[{0}]' target='_blank'>{0}</a>".f(data.napr_pk));
                $("#dir_client_fio").html(data.client_fio);
                $("#directioner").html(data.directioner);
                $("#client_vozrast").html(data.client_vozrast);
                $("#client_cardnum").html(data.client_cardnum);
                $("#client_sex").html(data.client_sex);
                $("#client_hisnum").html(data.client_hisnum);
                $("#fin_source").html(data.fin_source);
                var status = "n", all_saved = false, firstch = true, has_n = false;
                $.each(data.issledovaniya, function (k, v) {
                    if (v.saved && !v.confirmed) status = "s";
                    else if (v.saved && v.confirmed) status = "c";
                    else if(!v.deff) status = "n";
                    else status = "o";


                    if(status == "s"){
                        iss_pks.push(v.pk);
                        if(firstch && !all_saved && !has_n){
                            all_saved = firstch = true;
                        }
                    }
                    else if(status == "n"){
                        all_saved = false;
                        has_n = true;
                    }
                    deffc = "";
                    if(status != "c"){
                        if(v.deff === false)
                            deffc = "<br/><div class='fastlinks hiddenlinks'><a href='#' onclick='deff(true, {0});return false;'>отложить</a>".f(v.pk);
                        else {
                            deffc = "<br/><div class='fastlinks hiddenlinks'><a href='#' onclick='deff(false, {0});return false;'>отм. отложить</a>".f(v.pk);
                            status = "o";
                        }
                    }
                    $("#issledovaniya").append("<li num='{1}' onclick='load_form({1}, {6})'><div title='{5}' class='status status-{3}'>{4}{7}</div></div>{0}<br/><small>Пробирка: {2}</small></li>".f(v.title, v.pk, v.tube.pk, status, statuses[status], statuses_titles[status], v.template,deffc));
                    if (type == 0) {
                        tubessplit = v.tube.pk.split(', ');
                        $.each(tubessplit, function (k, v) {
                            $(".select-tube[tube='{0}']".f(v)).addClass("active");
                        });
                    }
                });
                if (type == 0) {
                    $(".select-dir[direction='{0}']".f(data.napr_pk)).addClass("active");
                    $('#dirs-list').scrollTo($('.select-dir[direction=\'{0}\']'.f(data.napr_pk)), 150, {offset: -40});
                }
                if (type == 1) {
                    $("[direction='{0}']".f(data.napr_pk)).addClass("active");
                    $('#tubes-list').scrollTo($('.select-tube[direction=\'{0}\']'.f(data.napr_pk)), 150, {offset: -40});
                }
                if (!select_el)
                $("#issledovaniya li").first().click();
                else
                    $("#issledovaniya li[num='{0}']".f(select_el)).click();
                $('#issledovaniya-scroll').scrollTop(0);
                if(all_saved){
                    $("#result-confirm").prop("disabled", false);
                }
                if (data.all_confirmed) {
                    $("#result-print").prop("disabled", false);
                }
            });
        }
        var loaded_research = -1;
        var datatype = -1;
        function load_form(id, templateid) {
            if(typeof templateid == "undefined"){
                templateid = 0;
            }
            $("#result-form").isLoading({
                text: "Загрузка исследования",
                position: "inside",
                'tpl': loading_tpl
            });
            $.ajax({url: "/static/templates/{0}.jade".f(templateid), type: "text", method: "GET", cache: false}).done(function (data) {
                template = data;
                $.ajax({
                    url: "/researches/get/one",
                    type: "text",
                    method: "GET",
                    data: {id: id}
                }).done(function (data2) {
                    $("#form-scroll").isLoading("hide");
                    $("#issledovaniya .active").removeClass("active");
                    data2 = JSON.parse(data2);
                    console.log(data2);
                    data2["sex"] = dir_data.client_sex;
                    data2["age"] = dir_data.client_vozrast;
                    $("#result-form").html(jade.compile(template)(data2));
                    $("#issledovaniya [num='{0}']".f(data2.res_id)).addClass("active");
                    var autoIsF = false;
                    var num = 0;
                    $.each(data2.fractions, function(fk, fv){
                        num++;
                        if(fv.type != -1){
                            if(num == 1) autoIsF = true;
                            var ft = $.map(fraction_types[fv.type+""], function(item){
                                return {value: item};
                            });
                            var typeVals = new Bloodhound({
                                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                                queryTokenizer: Bloodhound.tokenizers.whitespace,
                                identify: function(obj) { return obj.value; },
                                local: ft
                            });
                            function typeValsDefaults(q, sync) {
                                if (q === '') {
                                    sync(typeVals.get(fraction_types[fv.type+""]));
                                }

                                else {
                                    typeVals.search(q, sync);
                                }
                            }
                            $d = $("[data-pk='{0}']".f(fv.pk));
                            $val =  $d.val();
                            $d.typeahead({
                                minLength: 0,
                                highlight: true,
                                hint: $val == ""
                            }, {
                                name: 'typeval',
                                display: 'value',
                                source: typeValsDefaults
                            });
                            $d.typeahead('val', $val);
                            $("[data-pk='{0}']".f(fv.pk)).val($val);
                        }
                    });
                    f = $('.result-enter:not(.tt-hint)').eq(0);
                    $(f).focus();


                    $.ajax({url: "/results/get", data: {iss_id: id}}).done(function (data) {
                        $.each(data.results, function (k, v) {
                            if(v != "")
                                $("[data-pk='{0}']".f(k)).typeahead('close').typeahead('val', v).blur();
                            $("[data-pk='" + k + "']").val(v);
                            $("[data-div-pk='{0}']".f(k)).html(v);
                        });
                    });

                    resize();
                    loaded_research = id;
                    datatype = -1;
                    if (data2.confirmed) {
                        $("#confirm-btn").attr("disabled", 1);
                        $("#save-btn").attr("disabled", 1);
                        datatype = 2;
                    }
                    else if (data2.saved) {
                        $("#confirm-btn").removeAttr("disabled");
                        $("#save-btn").removeAttr("disabled");
                        datatype = 1;
                    }
                    else {
                        $("#confirm-btn").attr("disabled", 1);
                        $("#save-btn").removeAttr("disabled");
                    }
                    $('#result-jade-form').scrollTop(0);
                });
            });

        }

        function fast_search(num) {
            $("#search-field").val(num);
        }
        var loadingtable = '<tr class="isloading-wrapper %wrapper%"><td>%text%</td><!--<td><i class="%class% glyphicon glyphicon-refresh"></i></td>--></tr>';
        function load_tubes_and_dirs() {
            sl();
            $("#tubes-list tbody").isLoading({
                text: "Загрузка пробирок",
                position: "inside",
                'tpl': loadingtable,
            });
            $("#dirs-list tbody").isLoading({
                text: "Загрузка направлений",
                position: "inside",
                'tpl': loadingtable,
            });
            $.ajax({url: "/results/loadready", data: {datestart: $("[name=datemain-start]").val(), dateend: $("[name=datemain-end]").val(), def: $("[name=def]").prop("checked")? 1 : 0}, type: "json", method: "GET"}).done(function (data) {
                $("#tubes-list tbody").isLoading("hide");
                $("#dirs-list tbody").isLoading("hide");

                $("#tubes-list tbody").html("");
                $("#dirs-list tbody").html("");

                if(data.tubes.length == 0)
                    $("#tubes-list tbody").append("<tr><td>Не найдено</td></tr>");
                if(data.directions.length == 0)
                    $("#dirs-list tbody").append("<tr><td>Не найдено</td></tr>");
                tubesn = 0;
                dirsn = 0;
                $.each(data.tubes, function (k, v) {
                    $("#tubes-list tbody").append("<tr direction='{1}' tube='{0}' class='select-tube'><td class='num'><span style='float: right'>{2}</span> {0}</td></tr>".f(v.id, v.direction, v.date))
                    tubesn++;
                });
                $.each(data.directions, function (k, v) {
                    $("#dirs-list tbody").append("<tr direction='{0}' class='select-dir'><td class='num'><span style='float: right'>{1}</span> {0}</td></tr>".f(v.id, v.date))
                    dirsn++;
                });
                $("#tubes-list th small").text(tubesn);
                $("#dirs-list th small").text(dirsn);
                $('#dirs-list').scrollTop(0);
                $('#tubes-list').scrollTop(0);
                resize();
                hl();
            });
        }
        function resize() {
            $('#tubes-list').height($(window).height() - $('#tubes-list').position().top - 110);
            $('#issledovaniya-scroll').height($(window).height() - $('#issledovaniya-scroll').position().top - 80);
            $('#dirs-list').height($(window).height() - $('#dirs-list').position().top - 110);
            $('#tubes-list').perfectScrollbar();
            $('#issledovaniya-scroll').perfectScrollbar();
            $('#dirs-list').perfectScrollbar();

            $(".floatThead").floatThead('reflow');
            $(".floatThead").floatThead({
                useAbsolutePositioning: false,
                scrollContainer: function ($table) {
                    return $table.closest("div");
                }
            });

            if (!$('#result-jade-form').length) return;
            $('#result-jade-form').height($(window).height() - $('#result-jade-form').position().top - 120);
            $('#result-jade-form').perfectScrollbar();
        }
        function save() {
            if (datatype == 2) return;
            $(this).disabled = true;
            var result = {issledovaniye: -1, fractions: {}}
            result.issledovaniye = $("#issledovaniye_id").val();
            $.each($(".result-enter"), function (k, v) {
                result.fractions[$(v).data("pk")] = $(v).val();
            });
            result.fractions = JSON.stringify(result.fractions);
            $(this).disabled = false;
            console.log(result);
            $.ajax({url: "/results/save", method: "POST", data: result}).done(function (data) {
                console.log(data);
                reload_fast();
                $.amaran({
                    'theme': 'awesome ok',
                    'content': {
                        title: 'Результат сохранен',
                        message: "",
                        info: '',
                        icon: 'glyphicon glyphicon-ok'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
            });
        }

        function confirm_results(){
            $(this).prop("disabled", true);
            $.ajax({
                "url": "/results/confirm/list",
                method: "POST",
                type: "json",
                data: {list: JSON.stringify(iss_pks)}
            }).done(function (data) {
                reload_fast();
                if(data.ok) {
                    $.amaran({
                        'theme': 'awesome ok',
                        'content': {
                            title: 'Исследования подтверждены',
                            message: "",
                            info: '',
                            icon: 'glyphicon glyphicon-ok'
                        },
                        'position': 'bottom right',
                        delay: 6000
                    });
                }
                $(this).prop("disabled", false);
            });
        }

        function confirm() {
            $.ajax({
                "url": "/results/confirm",
                method: "POST",
                data: {pk: $("#issledovaniye_id").val()}
            }).done(function () {
                reload_fast();
                $.amaran({
                    'theme': 'awesome ok',
                    'content': {
                        title: 'Исследование подтверждено',
                        message: "",
                        info: '',
                        icon: 'glyphicon glyphicon-ok'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
            });
        }
        var list_reload = false;
        function print_results() {
            data = "?pk=" + JSON.stringify([dir_data.napr_pk,]);
            window.open('/results/pdf' + data, '_blank');
            // list_reload = true;
            //$('[direction="' + dir_data.napr_pk + '"]').remove();
        }
        function createjournal(){
            date = $("[name=date-confirm]").val()
            window.open('/results/journal?date=' + date, '_blank');
        }
        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
            var matches, substringRegex;
            matches = [];
            substrRegex = new RegExp(q, 'i');
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
          };
        };
    function openexeclist(){
        load_researches();
        $("#list-modal").modal();
    }
    function openjournal(){
        $("#journal-modal").modal();
    }
    function dayprint(){
        $("#results-day-modal").modal();
    }
    var lockdeff = false;
    function deff(status, pk){
        if(lockdeff) return;
        lockdeff = true;
        $.ajax({url: "/directions/def", data: {pk: pk, status: status}}).done(function(data){
            lockdeff = false;
            reload_fast();
        });
    }
    function dayprint_do(){
        if(lockdeff) return;
        lockdeff = true;
        $.ajax({url: "/results/day", data: {date: $("[name=dateday-confirm]").val()}}).done(function(data){
            lockdeff = false;
            if(data.directions.length > 0) {
                st = "?pk=" + JSON.stringify(data.directions);
                window.open('/results/pdf' + st, '_blank');
                $("#results-day-modal").modal('close');
            }
            else{
                $.amaran({
                    'theme': 'awesome wrn',
                    'content': {
                        title: "Печать невозможна",
                        message: "Ничего не найдено",
                        info: '',
                        icon: 'fa fa-exclamation'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
            }
        });
    }
    function createlist(type){
        datestart = dateend = "";
        researches = [];
        $.each($(".research-sel:checked"), function(k,v){
            researches.push(parseInt($(v).val()));
        });
        if(researches.length == 0){
            $.amaran({
                    'theme': 'awesome wrn',
                    'content': {
                        title: "Создание невозможно",
                        message: "Ничего не выбрано",
                        info: '',
                        icon: 'fa fa-exclamation'
                    },
                    'position': 'bottom right',
                    delay: 6000
                });
            return;
        }
        switch(type){
            case 2:
                    console.log("2");
                break;
            default:
                    datestart = $("[name=date-start]").val();
                    dateend = $("[name=date-end]").val();
                    console.log(datestart, dateend);
                break;
        }
        window.open('/directions/execlist?type=' + type + '&datestart=' + datestart + '&dateend=' + dateend + "&researches=" + JSON.stringify(researches), '_blank');
    }
    function load_researches() {
            $("#table-researches").html("");
            $("#table-researches").append(lang.table_researches_header);
            $.ajax({ // AJAX запрос
                url: "/directory/researches/list?lab_id={{ request.user.doctorprofile.podrazileniye.pk }}",// Установка адреса и параметров запроса
                dataType: 'json'
            }).done(function (data) {
                if (data.length == 0) {
                    $("#table-researches").append(lang.table_researches_not_found);
                    return;
                }
                $("#table-researches").html("");
                $("#table-researches").append(lang.table_researches_header);
                $.each(data, function (k, v) {
                    $("#table-researches").append("<label title='{1}' class=\"btn btn-default col-md-3\"><input type=\"checkbox\" name=\"sel\" value=\"{0}\" class=\"research-sel\" autocomplete=\"off\"/> {1}</label>".f(v.pk, v.fields.ref_title));
                });
            });
        }
    </script>
    <style>
    th small{

    }
    label{
        cursor: pointer!important;
    }
        .floatThead th {
            background-color: #fff;
        }
        .status {
            float: right;
            display: inline-block;
            vertical-align: top;
            font-weight: 600;
            font-size: 12pt;
            text-align: right;
            padding-bottom: 3px;
        }

        .status-n {
            color: #CF3A24
        }

        .status-s {
            color: #4B77BE
        }

        .status-c {
            color: #049372
        }

        .status-o {
            color: #F7CA18
        }

        .awesome.ok {
            background-color: #434A54;
            color: #fff
        }
        #dirs-list{
            padding-left: 0;
        }
        #tubes-list{
            padding-left: 10px;
        }
        #dirs-list tbody, #tubes-list tbody {
            min-height: 100px;
        }

        .active {
            background-color: #6C7A89 !important;
            color: #fff !important;
        }

        li.active {
            background-color: #fff !important;
            color: #000 !important;
            outline: 2px solid #6C7A89
        }

        .select-dir.active td, .select-tube.active td {
            background-color: #6C7A89 !important;
            color: #fff !important;
        }
        .select-dir td, .select-tube td {
            background-color: #fff;
        }

        .select-tube, .select-dir {
            cursor: pointer;
        }

        .highlight, .select-tube:hover, .select-dir:hover {
            background-color: #F0F0F0;
        }

        html, body {
            overflow: hidden;
            height: 100%
        }

        body {
            margin: 0;
            padding: 0;
        }
        #lists{
                margin-right: -10px;
        }

        #tubes-list, #dirs-list, #issledovaniya-scroll, #result-jade-form {
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }

        #issledovaniya-scroll, #result-jade-form {
            padding-right: 15px;
        }

        #issledovaniya {
            margin: 0;
            padding: 0;
        }

        #issledovaniya li {
            list-style: none;
            padding: 6px;
            cursor: pointer;
            margin: 3px;
            background-color: #ECF0F1;
        }

        /*
                #issledovaniya li.active small{
                    color: rgba(255,255,255,.55);
                    font-size: 8pt;
                }
        */
        #issledovaniya li small {
            color: rgba(0, 0, 0, .4);
            font-size: 8pt;
        }

        #issledovaniya li:hover {
            background-color: #E6E9ED;
        }

        #issledovaniya li .hiddenlinks {
            opacity: 0;
            transition: .1s linear;
        }
        #issledovaniya li:hover .hiddenlinks {
            opacity: 1;
        }

        #issledovaniya li:hover small {
            color: #000
        }

        /*
                #issledovaniya li.active:hover small{
                    color: #fff
                }
        */
        #dir_info td {
            padding: 5px;
        }

        .center {
            text-align: center;
        }
    .tt-hint{
        display: none!important;
    }
    span.twitter-typeahead {
      width: 100%;
    }
    .input-group span.twitter-typeahead {
      display: block !important;
    }
    .input-group span.twitter-typeahead .tt-dropdown-menu {
      top: 32px !important;
    }
    .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
      top: 44px !important;
    }
    .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
      top: 28px !important;
    }
    .fastlinks a{
        cursor: pointer;
    }
    .fastlinks{
        margin-top: -13px;
        margin-bottom: 5px;
    }
    #issledovaniya .fastlinks{
        margin: 0;
    }
    .hiddenlinks{
        font-weight: 400;
        margin-top: 3px;
        margin-bottom: 2px;
        padding-bottom: 3px;
    }
    .hiddenlinks a{
        font-size: 9pt;
        margin-right: -5px;
        padding: 2px!important;
    }
    .m2{

    }
    .datepicker{
        z-index: 10005!important;
    }
    </style>
{% endblock %}