{% extends "dbase.html" %}
{% block title %}Настройка параметров анализов{% endblock %}
{% block container %}container-fluid{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="form form-inline" style="padding-bottom: 60px">
        <p>
            Название анализа: <span id="research_title"></span><br/><!--
            Исполнители:<br/>
            <label><input type="radio" name="edit_mode" value="0" onchange="update_mode();"/> Лаборант</label><br/>
            <label><input type="radio" name="edit_mode" value="1" onchange="update_mode();"/> Врач</label><br/>
            <label><input type="radio" name="edit_mode" value="2" onchange="update_mode();"/> Лаборант+Врач</label>-->
        </p>
        <div class="row">
            <div class="col-md-3">
                Варианты комментариев:
            </div>
            <div class="col-md-6">
                <select class="select-b" id="select-comments" data-width="100%"
                        title='Варианты комментариев' disabled>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Шаблон формы:
            </div>
            <div class="col-md-6">
                <select class="select-b" id="select-template" data-width="100%"
                        title='Шаблон формы ввода результатов' disabled>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default btn-blue-nb" style="width:100%;" onclick="save_template();return false;">Сохранить</button>
            </div>
        </div>
        <h5>Настройка фракций</h5>
        <table id="table-fractions" class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="col-md-2">Фракция (id)</th>
                    <th class="col-md-2">Формула</th>
                    <th class="col-md-1">Скрытие</th>
                    <th>Тип поля</th>
                    <th class="col-md-3">Варианты</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button class="btn btn-default btn-blue2-nb" style="width:100%;" onclick="save_fractions();return false;">Сохранить настройки фракций</button>
        <br/>
        <br/>
    </div>
{% endblock %}
{% block scripts %}
    <style>
    html,body {
        height:100%;
    }

    td label:not(.radio-l) {
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;

    }

    td {
        padding: 0 !important;
    }

    td label input {
        vertical-align: middle;
        margin-top: 5px;
    }

    td label:hover {
        background-color: #efefef;
    }

    .c {
        text-align: center;
        padding: 0 !important;
    }
    .radio-l{
        padding-right: 5px;
        padding-left: 5px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        height: 25px;
        margin: 0;
    }
    .w100{
        width: 100%!important;
    }
    .tdi{
        padding: 0;
    }
    .tdi input, .tdi .bootstrap-tagsinput{
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 2px;
        height: 25px;
        box-shadow: none;
        outline: none;
    }
    .bootstrap-tagsinput{
        height: auto!important;
        max-width: inherit;
        display: block;
    }
    .tdi .tag{
        vertical-align: super
    }

    .w100 {
        width: 100%;
    }
    </style>
    <script src="/static/bti/bootstrap-tagsinput.min.js"></script>
    <script>
        var pk = {{ pk }};
        var $comments;
        $(document).ready(function () {
            $('head').append('<link rel="stylesheet" href="/static/bti/bootstrap-tagsinput.css" type="text/css" />');
            $comments = $("#select-comments");
            $.each(material_types, function (k,v) {
                $comments.append(`<option value="${k}">${v.join("/")}</option>`);
            });
            update_data();
        });

        function update_data(){
            sl();
            $.ajax({url: "/construct/researches/get_details", method: "GET", data: {pk: pk}}).done(function (data) {
                $("#research_title").html(data.title);
                $("[type='radio'][value='" + data.edit_mode + "']").attr('checked', 'checked');
                $("#select-template").val(data.template);
                $("#select-template").removeProp("disabled");
                $comments.removeProp("disabled");
                $("#select-template").selectpicker('refresh');
                $comments.val(data.comment_template);
                $comments.selectpicker('refresh');
                $("#table-fractions tbody").html("");
                var radios = "<td>";
                $.each([{pk: 0, title: "Базовый тип"}, {pk: 1, title: "Динамическое число полей"}], function(k,v){
                    radios += "<label class='radio-l'>{0} <input type='radio' value='{1}'".f(v.title, v.pk) + " name='fraction-type-{0}' /></label> ";
                });
                radios += "</td>";
                $.each(data.fractions, function(k,v){
                    $("#table-fractions tbody").append("<tr pk='{0}'>".f(v.pk) +
                            "<td>&nbsp;{0} ({1})</td>".f(v.title, v.pk) +
                            "<td><textarea class='form-control w100' rows='1' id='formula-{1}'>{0}</textarea></td>".f(v.formula, v.pk) +
                            "<td><label class='c'><input type='checkbox' name='hide-{0}' /></label></td>".f(v.pk) +
                            radios.f(v.pk) +
                            `<td class='tdi'><input type='text' class='form-control w100' data-role='tagsinput' value='${v.options}' /></td>` +
                            "</tr>");
                    $("[name=hide-{0}]".f(v.pk)).prop("checked", v.hide);
                    $("[name=fraction-type-{0}][value={1}]".f(v.pk, v.render_type)).prop("checked", true);
                });
                hl();
                $("[data-role='tagsinput']").tagsinput({
                    trimValue: true
                });
            });

        }

        function save_template(){
            sl();
            $.ajax({url: "/directory/researches/update_template", method: "POST", data: {pk: pk, template: $("#select-template").val(), comment_template: $comments.val()}}).done(function(){
                update_data();
            });
        }

        function update_mode() {
            if ($("[type='radio']:checked").val() == 0) {

            } else {

            }
            $.ajax({
                url: "/directory/researches/update_mode",
                method: "POST",
                data: {pk: pk, value: $("[type='radio']:checked").val()}
            });
        }

    function save_fractions(){
        sl();
        var res = [];
        $.each($("#table-fractions tbody tr"), function(k,v){
            var tpk = parseInt($(v).attr("pk"));
            res.push({
                pk: tpk,
                hide: $("[name=hide-{0}]".f(tpk)).prop("checked"),
                render_type: parseInt($("[name=fraction-type-{0}]:checked".f(tpk)).val()),
                options: $("[data-role='tagsinput']", v).val(),
                formula: $("#formula-" + tpk).val()
            });
        });
        $.ajax({
                url: "/construct/researches/get_details",
                method: "POST",
                data: {data: JSON.stringify(res)}
        }).done(function(data){
            update_data();
        });
    }

    </script>
{% endblock %}