{% extends "dbase.html" %}
{% block title %}Добавление и редактирование пробирок{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="/dashboard/">Панель управления</a></li>
        <li><a href="/construct/menu">Конструктор</a></li>
        <li class="active"><span>Добавление и редактирование пробирок</span></li>
    </ol>
    <div class="row" id="tubes-list"></div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            loadtubes();
        });
        function loadtubes() {
            $.ajax({url: "/directory/tubes/all"}).done(function (data) {
                $("#tubes-list").html("");
                $.each(data, function () {

                });
            });
        }
    </script>
{% endblock %}