{% extends "dbase.html" %}
{% block title %}Группировка анализов по направлениям{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="/dashboard/">Панель управления</a></li>
        <li><a href="/construct/menu">Конструктор</a></li>
        <li class="active"><span>Группировка анализов по направлениям</span></li>
    </ol>
    </div>
{% endblock %}
{% block scripts %}
    <style>
    </style>
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}