{% extends "dbase.html" %}
{% block title %}Меню конструктора{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="/mainmenu/">Панель управления</a></li>
        <li><a href="/construct/menu">Конструктор</a></li>
        <li class="active"><span>Меню</span></li>
    </ol>
    <div class="row dash-buttons">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn">
            <a href="/construct/tubes" class="panel-body">
                <span>Добавление и редактирование пробирок</span>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn">
            <a href="/construct/researches" class="panel-body">
                <span>Конструктор лабораторных исследований</span>
            </a>
        </div>
        {% if paraclinic %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn">
                <a href="/construct/researches-paraclinic" class="panel-body">
                    <span>Конструктор параклинических исследований</span>
                </a>
            </div>
        {% endif %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn">
            <a href="/construct/directions_group" class="panel-body">
                <span>Группировка исследований по направлениям</span>
            </a>
        </div>
        {% comment %}<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn">
            <a href="/construct/with" class="panel-body">
                <span>Настройка назначения исследований вместе</span>
            </a>
        </div>{% endcomment %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb10 dash-btn">
            <a href="/construct/uets" class="panel-body">
                <span>Настройка УЕТов</span>
            </a>
        </div>
    </div><br/>
{% endblock %}
{% block head_cn %}
    <style>
        .mb10 {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}