{% extends "dbase.html" %}
{% block title %}Настройка УЕТов{% endblock %}

{% block content %}
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="/mainmenu/">Панель управления</a></li>
        <li><a href="/construct/menu">Конструктор</a></li>
        <li class="active"><span>Настройка УЕТов</span></li>
    </ol>
    <div class="row" style="padding: 0;margin: 0">
        <div class="col-xs-4" style="padding: 5px">
            <select class="select-b" id="select-lab" data-live-search="true" onchange="loadreslist();"
                    data-width="100%">
                {% for v in labs %}
                    <option value="{{ v.pk }}">{{ v }}</option>
                {% endfor %}
            </select>

            <div id="researches-list" style="margin-top: 10px">
                <div style="margin-left: 5px;height: 55px">
                    <div style="float: left;">
                        <h4 style="color: #fff">Анализы</h4>
                    </div>
                </div>
                <div id="researches-container"></div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="wrapper" id="research-form">Ничего не выбрано</div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <style>

        #researches-container > div {
            border: 1px solid;
            border-color: #e5e6e9 #dfe0e4 #d0d1d5;
            border-radius: 3px;;
            overflow: hidden;
        }


        #researches-container, #research-form, #tubes {
            height: 100%;
            position: relative;
            padding-right: 30px;
            padding-left: 20px;
        }
        #researches-list {
            background-color: #434A54;
            padding-right: 0;
            padding-left: 10px;
            padding-bottom: 20px;
        }
        #researches-container hr {
            margin: 2px 0;
        }

        #researches-container .res {
            cursor: pointer;
            margin-bottom: 5px;
            padding: 4px;
        }

        #researches-container .res.active, #researches-container .direction.active {
            background-color: #CCD1D9 !important;
        }

        #researches-container .res:hover {
            background-color: #E6E9ED;
        }
    .btn-td{
        border-radius: 0;
        margin: 0;
        padding: 0;
        display: table-cell;
        border: 0!important;
    }
    .btn-td:hover{
        border: 0!important;
    }

    td input, th input {
        width: 100%;
    }
    </style>
    <script>
        $(document).ready(function () {
            loadreslist();
            resize();
            $(window).resize(function () {
                resize();
            });
        });
        function loadreslist() {
            $.ajax({
                url: "/directory/researches",
                method: "GET",
                data: {lab: $("#select-lab option:selected").val()}
            }).done(function (data) {
                $("#researches-container").html("");
                $.each(data.researches, function(k,v){
                    $("#researches-container").append("<div class='well bw res' pk='{1}' onclick='load_research({1});'>{0}</div>".f(v.title, v.pk));
                });
            });
        }
        function load_research(pk){
            $("#research-form").html("");
            $.ajax({url: "/directory/research?id=" + pk, method: "GET"}).done(function (data) {
                $(".active").removeClass("active");
                let div1 = $("<div></div>").appendTo("#research-form");
                $(div1).append("<h5>{0}</h5>".f(data.title));
                let table = $('<table style=\'table-layout:fixed;width:100%\'></table>')
                table.append($('<colgroup><col/><col width="80"/><col width="80"/><col width="80"/></colgroup>'))
                let $thead = $('<thead></thead>')
                let $ttr = $('<tr></tr>')

                $ttr.append('<th><input value=\'Фракция\' readonly /></th><th><input value=\'Врач\' readonly /></th>')
                $ttr.append(`<th><input value='1 со-исполнитель' readonly /></th>`)
                $ttr.append(`<th><input value='2 со-исполнитель' readonly /></th>`)
                table.append($thead.append($ttr))

                let tbody = $("<tbody></tbody>").appendTo(table);
                $("[pk='{0}']".f(pk)).addClass("active");
                $.each(data.fractiontubes, function(k,v){
                    $.each(v.fractions, function(ke, ve){
                        let $tr = $(`<tr class='fraction' pk='${ve.pk}'></tr>`)
                        $tr.append(`<td><input tabindex='-1' value='${ve.title}' title='${ve.title}' readonly /></td><td><input value='${data.uet_doc[ve.pk]}' class='uet_doc' /></td>`)
                        $tr.append(`<td><input value='${data.uet_co_executor_1[ve.pk]}' class='uet_co_executor_1' /></td>`)
                        $tr.append(`<td><input value='${data.uet_co_executor_2[ve.pk]}' class='uet_co_executor_2' /></td>`)
                        $(tbody).append($tr)
                    });
                });
                $(tbody).append('<tr><td><input readonly /></td><td colspan="3" class=\'btn btn-primary-nb btn-td\' id=\'save-btn\' onclick=\'save()\'>Сохранить</td></tr>')

                $(table).appendTo(div1);
            });
        }
        function resize(f) {
            $('#researches-container').height($(window).height() - $('#researches-container').position().top - 145);
            $('#researches-container').perfectScrollbar();
        }
        let allres = 0;
        let cres = 0;
        function save(){
            $("#save-btn").attr("disabled", 1);
            allres = 0;
            cres = 0;
            $.each($(".fraction"), function(k,v){
                allres++;
                fetch("/directory/researches/update_uet", {
                    method: 'POST',
                    headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        pk: $(v).attr("pk"),
                        doc: $(".uet_doc", v).val(),
                        co1: $(".uet_co_executor_1", v).val(),
                        co2: $(".uet_co_executor_2", v).val(),
                    })
                }).then(() => {
                    complete();
                })
            });
        }
    function complete(){
        cres++;
        if(cres === allres){
            $.amaran({
                'theme': 'awesome ok',
                'content': {
                    title: "Изменения сохранены",
                    message: "",
                    info: '',
                    icon: 'fa fa-check'
                },
                'position': 'bottom right',
                delay: 6000
            });
            $("#save-btn").removeAttr("disabled");
        }
    }
    </script>
{% endblock %}