.menububble {
	 position: absolute;
	 display: flex;
	 z-index: 20;
	 background: #000;
	 border-radius: 5px;
	 padding: 0.3rem;
	 margin-bottom: 0.5rem;
	 transform: translateX(-50%);
	 visibility: hidden;
	 opacity: 0;
	 transition: opacity 0.2s, visibility 0.2s;
}

 .menububble.is-active {
	 opacity: 1;
	 visibility: visible;
}

 .menububble__button {
	 display: inline-flex;
	 background: transparent;
	 border: 0;
	 color: #fff;
	 padding: 0.2rem 0.5rem;
	 margin-right: 0.2rem;
	 border-radius: 3px;
	 cursor: pointer;
}

 .menububble__button:last-child {
	 margin-right: 0;
}

 .menububble__button:hover {
	 background-color: rgba(255, 255, 255, 0.1);
}

 .menububble__button.is-active {
	 background-color: rgba(255, 255, 255, 0.2);
}

 .menububble__form {
	 display: flex;
	 align-items: center;
}

 .menububble__input {
	 font: inherit;
	 border: none;
	 background: transparent;
	 color: #fff;
}
