{% extends "dbase.html" %}
{% block title %}Панель управления{% endblock %}

{% block content %}{% load has_group %}
    <div class="panel panel-default panel-flt">
        <div class="panel-heading">
            <h3 class="panel-title">Профиль</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Логин: {{ request.user }}
                <small><a href="/logout">Выход</a></small>
            </li>
            <li class="list-group-item">ФИО: {{ request.user.doctorprofile }}</li>
            <li class="list-group-item">Группы: {% for v in request.user.groups.all %}
                <span class="label label-default">{{ v }}</span>&nbsp;{% endfor %}</li>
        </ul>
    </div>
    <h4 class='f-h' style="text-align: center;">Меню</h4>
    {% for line in menu %}
        <div class="row dash-buttons">
            {% for item in line %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ item.url }}"{% if line.nt %} target="_blank"{% endif %} class="panel-body">
                    {{ item.title }}
                    <small class="badge badge-default">{{ item.keys }}</small>
                </a>
            </div>
            <script>
                $(document).ready(function () {
                    $(document).on('keydown', null, '{{ item.keys|lower }}', function () {
                        window.location.href = "{{ item.url }}";
                    });
                });
            </script>
            {% endfor %}
        </div>{% endfor %}
{% endblock %}
{% block scripts %}
    <style>
        .dash-buttons {
            margin-top: 20px;
        }

        .dash-buttons .col-md-3 a {
            height: 122px;
            position: relative;
        }

        .dash-buttons a .badge {
            position: absolute;
            bottom: 10px;
            right: 100px;
            left: 100px;
        }
        h4 {
            margin: 5px;
        }
    </style>
{% endblock %}