* {
  font-family: "Open Sans", Arial, Helvetica, Tahoma, Calibri, Verdana,
    sans-serif;
}

body,
html {
  min-height: 100%;
}

body {
  background: #f2f2f2;
}

table {
  background: #fff;
}

.noresize {
  resize: none;
}

.animate__animated.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.dash-btn {
  overflow: visible;
  margin-bottom: 4px !important;
}

.dash-btn .panel-body {
  overflow: hidden;
  font-size: 16pt;
  border: #ddd 1px solid;
  border-radius: 5px;
  display: block;
  text-align: center;
}

a.panel-body:hover {
  text-decoration: none;
}

.twitter-typeahead {
  width: 100%;
  vertical-align: bottom;
}

.twitter-typeahead .tt-search-field,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  font-family: "Open Sans", Arial, Helvetica, Tahoma, Calibri, Verdana,
    sans-serif;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;

  font-weight: 100;
}

.input-group .twitter-typeahead {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#0088cc),
    to(#0077b3)
  );
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

span.isloading-wrapper {
  text-align: center;
  color: #000;
  padding: 10px;
  display: inline-block;
}

.isloading-wrapper i {
  animation: spin 4s linear infinite;
}

.fa-spinner {
  animation: spin 1.5s linear infinite;
}

.isloading-overlay {
  background-color: transparent !important;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.table-sm-pd td:not(.ref):not(.cl-td):not(.x-cell) {
  padding: 3px !important;
}

.table-sm-pd table {
  margin: 0;
}

#result-form .input-group input {
  border-radius: 5px;
}

#result-form .input-group-addon {
  float: none;
  width: 100%;
  display: inline-block;
  margin: 0;
  border: none;
  background: transparent;
}

.open .dropdown-toggle.btn-default {
  background-color: #434a54;
}

.dropdown-toggle.btn-default:hover,
.dropdown-toggle.btn-default:focus,
.dropdown-toggle.btn-default:active {
  background-color: #656d78;
}

.dropdown-toggle.btn-default:focus,
.dropdown-toggle.btn-default:active {
  background-color: #fff;
  color: #434a54;
}

.hex-color-picker-wrapper .color-block {
  display: inline-block;
}

.hex-color-picker-wrapper .picker-row {
  text-align: center;
  width: 100%;
}

.hex-color-picker-wrapper .picker-sidebar {
  float: right;
  font-size: 0;
}

.hex-color-picker-wrapper .color-picker-container {
  float: left;
  font-size: 0;
}

.hex-color-picker-wrapper .picker-form {
  width: 100%;
  position: relative;
}

.hex-color-picker-wrapper .picker-form-wrapper {
  clear: both;
}

.hex-color-picker-wrapper .picker-form .selected-color {
  width: 100%;
  box-sizing: border-box;
}

.hex-color-picker-wrapper .picker-form .submit {
  position: absolute;
  top: 0;
  right: 0;
}

.hex-color-picker-wrapper .picker-form input {
  border: medium;
  border-radius: 0;
  font-size: 12px;
  height: 30px;
  margin: 0;
  padding: 3px 5px;
}

.sq {
  padding: 3px;
  display: inline-block;
  background-color: #efefef;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.tube {
  padding: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 10pt;
}

.tube:hover {
  background-color: #3bafda;
  cursor: pointer;
  color: #fff;
}

.color-sq {
  height: 12px;
  width: 12px;
}

.btn-primary-nb,
.btn-primary-nb:focus,
.btn-primary-nb:active {
  width: 100% !important;
  background-color: #aab2bd !important;
  color: #f5f7fa !important;
  border: 1px solid #aab2bd !important;
}

.btn-primary-nb:hover {
  background-color: #049372 !important;
  border: 1px solid #049372 !important;
}

.btn-primary-rm:hover {
  background-color: #fc6e51 !important;
  border: 1px solid #fc6e51 !important;
}

.btn-blue-nb,
.btn-blue-nb:active,
.btn-blue-nb:focus {
  background-color: #aab2bd !important;
  border: 1px solid #aab2bd !important;
}

.btn-blue-nb:hover {
  background-color: #434a54 !important;
  border: 1px solid #434a54 !important;
}

.btn-blue-nb-light,
.btn-blue-nb-light:active,
.btn-blue-nb-light:focus {
  background-color: #aab2bdba !important;
  border: 1px solid #aab2bdba !important;
}

.btn-blue-nb-light:hover {
  background-color: #434a54 !important;
  border: 1px solid #434a54 !important;
}

.btn-cell,
.btn-cell:active,
.btn-cell:focus {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #5a6370 !important;
  transition: all 0.15s linear;
}

.btn-cell:hover {
  background-color: #707c8d !important;
  border: 1px solid #707c8d !important;
  color: #fff !important;
}

.btn-blue2-nb {
  background-color: #aab2bd;
  border: 1px solid #aab2bd;
  color: #fff;
  font-size: 12px;
  padding: 2px;
  height: 23px;
  min-width: 28px;
}

.btn-blue2-nb[disabled],
.btn-blue2-nb.disabled {
  background-color: #aab2bd;
  border: 1px solid #aab2bd;
  color: #ddd;
  font-size: 12px;
  padding: 2px;
  height: 23px;
  min-width: 28px;
}

.btn-blue2-nb:hover {
  background-color: #3bafda !important;
  border: 1px solid #3bafda !important;
}

.btn-blue-nb:active {
  background-color: #37bc9b !important;
  border: 1px solid #37bc9b !important;
}

.btn-blue-nb3,
.btn-blue-nb3:active,
.btn-blue-nb3:focus {
  background-color: #aab2bd !important;
  border: 1px solid #aab2bd !important;
}

.btn-blue-nb3:not(.active):hover {
  background-color: #434a54 !important;
  border: 1px solid #434a54 !important;
}

.btn-blue-nb3.active {
  background-color: #049372 !important;
  border: 1px solid #049372 !important;
}

.tube .label {
  float: right;
}

.last-tube,
.edit-tube {
  color: #ffffff !important;
  background-color: #37bc9b !important;
}

.breadcrumb-arrow li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #656d78;
  border: 1px solid #656d78;
}

.breadcrumb-arrow li a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #656d78;
}

.breadcrumb-arrow li a:before {
  right: -10px;
  z-index: 3;
  border-left: 11px solid #656d78;
}

.breadcrumb-arrow li a:hover {
  background-color: #3bafda;
  border: 1px solid #3bafda;
}

.breadcrumb-arrow li a:focus:before,
.breadcrumb-arrow li a:hover:before {
  border-left-color: #3bafda;
}

.dash-buttons {
  margin-top: 5px;
}

.dash-buttons > div:not(.mb10) {
  padding-right: 2px;
  padding-left: 2px;
}

.dash-buttons > div.mb10 {
  padding-right: 2px;
  padding-left: 2px;
  display: inline-block;
  float: none;
  margin-right: -4px;
  vertical-align: bottom;
}

.dash-buttons > div {
  min-width: 220px;
}

.dash-buttons .panel-body {
  background-color: #656d78;
  border: 1px solid #656d78;
  color: #f5f7fa;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.04),
    0 3px 1px -2px rgba(0, 0, 0, 0.05);
  z-index: 99;
  position: relative;
  transition: 0.1s linear;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.dash-info .panel-body {
  background-color: #fff;
  color: #434a54;
  border: none;
}

.dash-buttons .panel-body span {
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 4px;
  font-weight: lighter;
}

.bw100 {
  display: block;
  width: 100%;
}

.dash-buttons :not(.dash-info) .panel-body:hover {
  text-shadow: 0 0 5px rgba(#fff, 0.2);
  transform: scale(1.008);
  background-color: #049372;
  border: 1px solid #049372;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(#049372, 0.3), 0 0 6px rgba(#049372, 0.5);
  z-index: 100;
}

.amaran {
  background-color: #434a54 !important;
  color: #fff;
}

.awesome .icon {
  color: #434a54;
}

.awesome p.bold,
.awesome p span {
  color: #fff;
}

.awesome.ok .icon {
  background-color: #049372;
}

.awesome.ok p.bold {
  color: #fff !important;
}

.awesome.no .icon {
  background-color: #cf3a24;
}

.awesome.no p.bold {
  color: #fff !important;
}

.awesome.wrn .icon {
  background-color: #f5ab35;
}

.navbar-inverse {
  border-radius: 0;
  background-color: #656d78;
  border: 0;
}

.navbar-inverse .navbar-brand {
  color: #fff !important;
}

.navbar-inverse a:not(.logo) {
  color: #ecf0f1 !important;
}

.navbar-inverse a:not(.logo):hover {
  background-color: #049372 !important;
}

.open .dropdown-toggle.btn-default {
  background-color: #434a54 !important;
}

.navbar-xs {
  min-height: 28px;
  height: 28px;
}

.navbar-xs .navbar-brand {
  padding: 0 12px;
  font-size: 16px;
  line-height: 28px;
}

.navbar-xs .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 28px;
}

.navbar-sm {
  min-height: 40px;
  height: 40px;
}

.navbar-sm .navbar-brand {
  padding: 0 12px;
  font-size: 16px;
  line-height: 40px;
}

.navbar-sm > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}

.panel-flt .panel-heading {
  background-color: #95a5a6;
  color: #fff;
}

.panel-flt .panel-title {
  color: #fff !important;
}

.panel-flt .panel-body,
.panel-flt .list-group-item {
  background-color: #edeeef;
}

.panel-flt hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}

.f-h {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 3px solid #f2f1ef;
  border-bottom: 3px solid #f2f1ef;
  padding: 5px;
}

.b-flt,
.b-flt td {
  background-color: #ecf0f1;
}

.footer-float {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 9pt;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  overflow: visible;
  word-break: keep-all;
  white-space: nowrap;
  opacity: 1;
  padding: 1px;
  background-color: #fff;
  z-index: 100;
  display: none;
}

.footer-float div {
}

.footer-float:hover {
  opacity: 0;
}

body {
  padding-bottom: 20px;
}

.navbar-nav > li > a,
.navbar-brand {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.navbar-brand {
  height: 16px !important;
}

.navbar-toggle {
  padding: 3px 10px;
}

.navbar {
  min-height: 16px !important;
}

.navbar-inverse .navbar-nav > .open > a {
  background: #049372 !important;
}

.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
}

.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}

.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  line-height: 30px;
}

textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: auto;
}

.input-group.input-group-sm
  .twitter-typeahead:not(:first-child):not(:last-child)
  .tt-input,
.input-group.input-group-sm
  .twitter-typeahead:not(:first-child):not(:last-child)
  .tt-hint {
  border-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
  border-radius: 3px 0 0 3px;
}

.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
  border-radius: 0 3px 3px 0;
}

.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  line-height: 46px;
}

textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: auto;
}

.input-group.input-group-lg
  .twitter-typeahead:not(:first-child):not(:last-child)
  .tt-input,
.input-group.input-group-lg
  .twitter-typeahead:not(:first-child):not(:last-child)
  .tt-hint {
  border-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
  border-radius: 6px 0 0 6px;
}

.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
  border-radius: 0 6px 6px 0;
}

.twitter-typeahead {
  width: 100%;
  float: left;
}

.input-group .twitter-typeahead {
  display: table-cell !important;
}

.twitter-typeahead .tt-hint {
  color: #999999;
}

.twitter-typeahead .tt-input {
  z-index: 2;
}

.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  cursor: not-allowed;
  background-color: #eeeeee !important;
}

.tt-dropdown-menu,
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
}

.tt-menu .tt-suggestion:not(:last-child) {
  border-bottom: 1px solid grey;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  background-color: #37bc9b;
  color: #fff;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
  color: #262626;
}

.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
  margin: 0;
}

.fastlinks a {
  color: #262626;
  padding: 3px;
  border-radius: 3px;
}

.fastlinks a:hover {
  color: #fff;
  background-color: rgba(4, 147, 114, 1);
}

.modal-dialog {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3) !important;
  border-radius: 4px;
}

#table-researches .btn,
.table-researches .btn {
  display: inline-block;
  text-align: left;
  overflow-wrap: normal;
  vertical-align: middle;
  /*width: 25% !important;*/
  float: left;
  border-radius: 0;
  border-collapse: collapse !important;
  height: 31px !important;

  border: 1px solid #6c7a89 !important;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  padding-top: 4px;
  transition: 0.07s linear box-shadow, 0.07s linear background;
  padding-left: 3px;
  padding-right: 3px;
}

#table-researches .btn input,
.table-researches .btn input {
  display: none;
}

#table-researches .btn.active-b,
.table-researches .btn.active-b {
  border: 1px solid #434a54 !important;
  background: #049372;
  color: #fff;
}

#table-researches .btn:hover:not(.active-b),
.table-researches .btn:hover:not(.active-b) {
  border: 1px solid #434a54 !important;
  background: #fff;
  color: #434a54;
}

#table-researches .btn:hover,
.table-researches .btn:hover {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8) !important;
}

#page-preloader {
  opacity: 0;
  cursor: progress;
  text-align: center;
}

.txt-r {
  text-align: right;
}

.pd-r-5 {
  padding-right: 5px;
}

.b-top-bord {
  border-top: 2px solid slategray;
}

body.showloader #page-preloader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  left: 0;
  top: 0;
  z-index: 100000;
}

.dg-backdrop {
  z-index: 49999 !important;
}

.dg-container {
  z-index: 50000 !important;
}

.sk-fading-circle {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 8px;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;

  padding: 5px;
}

.content {
  border: 1px solid #c0c0c0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.split-horizontal {
  padding: 0;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.row.dash-buttons {
  margin-right: 0;
  margin-left: -5px;
}

.dash-buttons .panel-body {
  height: 100px;
  position: relative;
}

.dash-buttons .panel-body .badge {
  position: absolute;
  bottom: 10px;
  right: 100px;
  left: 100px;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

.nav-loader {
  display: none;
  max-height: 36px;
  box-sizing: border-box;
}

.sloader.show-loader,
.sloader.show-loader * {
  z-index: 100001;
}

.sloader.show-loader .nav-loader {
  display: block;
}

.sloader.show-loader .nav-cont {
  display: none;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin: 1rem;
  position: relative;
  min-height: 10px;
  box-sizing: border-box;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover:not(.card-no-hover) {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.field-22 {
  min-height: 22px;
}

.c {
  text-align: center;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.btn-ell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-fluid > .navbar {
  border-radius: 0;
  margin-left: -5px;
  margin-right: -5px;
}

body > .container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-menu .text-muted {
  color: #f2f2f2;
  margin-left: 5px;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
}

.dropdown-large {
  position: static !important;
  text-align: center !important;
}

.dropdown-menu-large {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0 5px 5px;
  z-index: 9998;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  max-width: 1257px;
}

.dropdown-menu-large .info {
  color: #fff;
  text-align: right;
}

.dropdown-menu-large .dash-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0 !important;
}

.dropdown-menu-large .dash-buttons .panel-body {
  height: 70px;
}

.dropdown-menu-large .dash-buttons .panel-body span {
  font-size: 18px;
  font-weight: 300;
}

.dropdown-menu-large .dash-btn {
  margin: 5px 0 0 !important;
}

.dropdown-menu-large .dash-btn.dash-active a {
  background: #048493;
  border: 1px solid #048493;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }

  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
}

.open:not(.dropup) .caret {
  border-top-width: 0;
  border-bottom: 4px solid #fff;
}

.open.dropup .caret {
  border-bottom-width: 0;
  border-top: 4px solid #fff;
}

.s-code {
  display: inline-block;
  padding: 0.2em 0.6em 0.3em;
  font-size: 80%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
  background: #049372;
}

.tippy-tooltip {
  font-size: 14px !important;
}

.npd {
  padding: 0 !important;
}

.cl-td,
.x-cell {
  padding: 0 !important;

  button {
    border-radius: 0;
  }

  input:not(.vs__search):not([type="checkbox"]),
  textarea {
    border-radius: 0;
    width: 100%;
    min-height: 100%;
  }

  label:not(.vue-treeselect__label) {
    display: flex;
    margin-bottom: 0;
    height: 100%;
    min-height: 34px;
    justify-content: center;
    align-items: center;

    &:not(.disabled) {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    input {
      margin: 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 991px) {
  .text-left-xs {
    text-align: left;
  }
}

.x-cell {
  position: relative;

  label,
  div,
  .btn-cell {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    min-height: 10px;
  }

  .btn-cell {
    line-height: 1;
  }
}

.tippy-popper {
  max-width: 90%;
}

.tippy-tooltip.longread-theme .tippy-content {
  text-align: left;
  white-space: pre !important;
}

.text-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** DESCRIPTIVE FORM */

.group {
  margin: 5px;
  border: 1px solid #c1c1c1;
  background: #fff;
}

.group-title {
  background-color: #eaeaea;
  padding: 5px;
  font-weight: bold;
  position: sticky;
  top: 30px;
  z-index: 3;
}

.fields {
  padding: 5px 5px 5px 10px;
}

.wide-field-title {
  margin-top: 10px;
  margin-bottom: -5px;
  background-color: #fafafa;
  font-weight: bold;
  padding-left: 5px;
}

.form-control-area {
  height: unset;
  min-height: 26px;

  &.form-control-area-full {
    min-height: 34px;
  }
}

.field-value.field-value-with-templates {
  position: relative;

  &:hover {
    .input-templates {
      display: block;
    }
  }
}

.field {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;

  &.field-vertical-simple {
    display: block;

    .field-value {
      padding: 5px 0 5px 5px;
      margin-top: 5px;
      border-top: 1px solid #eaeaea;
    }
  }

  &.field-vertical {
    flex-direction: column;

    .input-values {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .field-inputs {
      flex: 1 0 50px;
    }

    .field-value .form-control {
      margin-top: 0 !important;
    }
  }

  &:not(.field-vertical) {
    margin-top: 5px;
    margin-bottom: 5px;

    .field-inputs {
      flex: 1 0 250px;
    }

    .input-values {
      width: 250px;
      height: 100%;
    }
  }

  & > div {
    align-self: stretch;
  }

  background-color: #fafafa;
  position: relative;

  overflow: visible;

  &.open-field:not(.disabled) {
    background-color: #efefef;

    &.required {
      background-color: #e3e3e3;
    }

    .input-values {
      overflow: visible !important;
    }

    .input-values-wrap {
      z-index: 5;
    }

    .inner-wrap {
      background-color: #cfd9db;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    }

    .form-control {
      border-color: #00a1cb;
    }
  }

  &.required {
    background-color: #e6e6e6;
    border-right: 3px solid #00a1cb;

    &.empty {
      input,
      textarea,
      input,
      select {
        border-color: #f00;
      }

      border-right: 3px solid #f00;
    }
  }
}

.field-helper {
  position: absolute;
  top: 0;
  right: 6px;
  bottom: 0;
  font-size: 18px;
  padding: 3px;
  cursor: pointer;
  font-weight: bold;
  color: #049372;
  text-shadow: 0 0 4px rgba(#049372, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.field-title {
  flex: 1 0 150px;
  padding-left: 5px;
  padding-top: 5px;
}

.field-value {
  flex-basis: 100%;

  textarea {
    resize: none;
  }

  .form-control {
    width: 100%;
    border-radius: 0;
    padding-right: 15px;
  }

  select {
    width: 100%;

    &:not(.fw) {
      max-width: 370px;
    }
  }

  input[type="checkbox"] {
    margin-top: 8px;
  }

  &-address > .input-group:not(.vtypeahead) {
    display: flex !important;
  }
}

.field-inputs {
  position: relative;
  overflow: visible;
}

.input-values-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}

.input-values {
  overflow: hidden;
}

.inner-wrap {
  white-space: normal;
  padding: 3px;
  background-color: #ecf0f1;
}

.input-value {
  padding: 3px;
  background-color: #ecf0f1;
  border-radius: 2px;
  border: 1px solid #95a5a6;
  color: #656d78;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
  cursor: pointer;
  min-width: 20px;
  text-align: center;
  word-break: break-word;
}

.input-value:hover {
  background-color: #049372;
  border: 1px solid #03614b;
  color: #ffffff;
}

.btn-field,
.btn-field:focus {
  align-self: stretch;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  background: rgba(0, 0, 0, 0.06);
  border: none;
  margin-right: 5px;
  color: #000;
}

.btn-field:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.mkb10 {
  margin-right: -1px;
  z-index: 0;
}

.mkb10 .input-group {
  border-radius: 0;
  width: 100%;
}

.mkb10 input {
  border-radius: 0 !important;
}

.mkb10 ul {
  position: relative;
  width: auto;
  right: -250px;
  font-size: 13px;
  z-index: 1000;
}

.mkb10 ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0.25rem;
  margin: 0 0.2rem;

  a {
    padding: 2px 10px;
  }
}

.mkb .typeahead-dropdown-container {
  top: 5px !important;
}

.mkb .input-group {
  border-radius: 0;
  width: 100%;
}

.mkb input {
  border-radius: 0 !important;
}

.mkb ul {
  width: auto;
  font-size: 12px;
  z-index: 20000;
  min-width: 600px;
}

.mkb ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 0.25rem;
  margin: 0 0.2rem;

  a {
    padding: 1px 5px;
  }
}

.table > tbody + tbody {
  border-top: 1px solid #000 !important;
}

.a-under {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.a-under-reversed {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input[type="date"].form-control {
  line-height: 1;
}

.checkbox label {
  padding-left: 20px !important;
}

.input-group .typeahead-dropdown-container .dropdown-menu-list.dropdown-menu {
  top: 2em;
}

.dropdown-toggle,
.vs__selected-options,
.selected-tag {
  text-overflow: clip;
  white-space: nowrap;
  flex-wrap: nowrap !important;
  overflow: hidden;
}

.vs__selected {
  overflow: hidden;
  margin-right: -21px !important;
}

.logo {
  display: inline-block;
  width: auto;
  min-width: 36px;
  height: 36px;
  background: #049372;
  color: #fff !important;
  font-weight: 400;
  font-size: 26px;
  font-style: italic;
  text-align: center;

  span {
    font-style: normal;
    font-size: 20px;
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
  }

  &.padding {
    padding: 0 5px;
  }

  &:hover {
    box-shadow: 0 0 5px #0c8b6e;
    background-color: #0c8b6e !important;
  }

  &.red {
    background: #932a04;

    &:hover {
      box-shadow: 0 0 5px #8b2e0c;
      background-color: #8b2e0c !important;
    }
  }

  &.blue {
    background: #046d93;

    &:hover {
      box-shadow: 0 0 5px #0c698b;
      background-color: #0c698b !important;
    }
  }

  sup {
    position: relative;
    top: -0.08em;
    font-size: 70%;
  }
}

.position-relative {
  position: relative;
}

.nbr {
  border-radius: 0 !important;
}

.nba {
  border-radius: 0 !important;
  border: none !important;
}

.height34 {
  height: 34px;
}

.GRID-HACK {
  display: grid;
  grid-template-columns: 1fr;

  flex-grow: 1;
}

@media (min-width: 768px) {
  .navbar-header {
    display: flex;
  }
}

.display-only-hover {
  display: none;
}

.cell-hover {
  cursor: pointer;
  background-color: #bde7be !important;

  .display-only-hover {
    display: inline-block;
  }
}

.treeselect-wide,
.vue-treeselect__portal-target {
  .vue-treeselect {
    &__menu {
      overflow: auto !important;
    }

    &__label {
      overflow: initial !important;
      white-space: normal;
    }
  }

  .vue-treeselect__single-value {
    padding-right: 0 !important;
  }

  .vue-treeselect__control-arrow-container {
    width: 15px;
  }
}

.treeselect-noborder-left .vue-treeselect {
  &__control {
    border-left: none !important;
    border-radius: 0 4px 4px 0 !important;
    height: 32px !important;
  }

  &__placeholder,
  &__single-value {
    line-height: 32px !important;
  }
}

.input-group-btn {
  .vue-treeselect {
    min-width: 220px;
    font-size: 14px;
  }
}

.treeselect-input-group {
  height: 34px;
  max-height: 34px;
  display: flex;
  justify-content: stretch;

  .input-group-addon {
    height: 34px;
    line-height: 18px;
    vertical-align: middle;
  }

  .vue-treeselect {
    &__control {
      border-left: none !important;
      border-radius: 0 !important;
      height: 34px !important;
    }

    &__placeholder,
    &__single-value {
      line-height: 34px !important;
    }
  }

  .has-error {
    .vue-treeselect__control {
      border-color: #f00 !important;
    }
  }
}

.treeselect-input-group-simple {
  height: 34px;
  max-height: 34px;

  .input-group-addon {
    height: 34px;
    line-height: 18px;
    vertical-align: middle;
  }

  .vue-treeselect {
    &__control {
      border-left: none !important;
      height: 34px !important;
    }

    &__placeholder,
    &__single-value {
      line-height: 34px !important;
    }
  }
}

.has-error-field {
  &,
  .form-control {
    border-color: #f00 !important;
  }
}

.has-error-message {
  color: #f00;
}

.treeselect-noborder .vue-treeselect__control {
  border: none !important;
  border-radius: 0 !important;
}

.treeselect-nbr .vue-treeselect__control {
  border-radius: 0 !important;
}

.treeselect-26px .vue-treeselect {
  &__control {
    height: 26px !important;
  }

  &__placeholder,
  &__single-value {
    line-height: 26px !important;
  }
}

.treeselect-32px .vue-treeselect {
  &__control {
    height: 32px !important;
  }

  &__placeholder,
  &__single-value {
    line-height: 32px !important;
  }
}

.treeselect-34px .vue-treeselect {
  &__control {
    height: 34px !important;
  }

  &__placeholder,
  &__single-value {
    line-height: 34px !important;
  }
}

.tube-pk {
  font-weight: 500;
  font-size: 120%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  background: rgba(233, 214, 86, 0.09);
  display: inline-block;
  padding: 0 4px;
  border-radius: 2px;
}

.form-row-simple {
  border-top: 1px solid #434a54;
  border-bottom: 1px solid #434a54;

  .form-control {
    border-radius: 0;
    border: none;
  }
}

.form-row,
.input-group-flex {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.input-group-flex {
  > .input-group-addon {
    flex: 1 160px;

    .input-group-addon-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  > .form-control {
    flex: 0 calc(100% - 300px);
  }

  > .input-group-btn {
    flex: 1 140px;

    > .btn {
      height: 100%;
      width: 100%;
    }
  }
}

.form-row {
  border-bottom: 1px solid #434a54;

  &.border-right {
    border-right: 1px solid #434a54;
  }

  &:first-child:not(.nbt-i),
  &.force-bt {
    border-top: 1px solid #434a54;
  }

  .row-t {
    background-color: #aab2bd;
    padding: 7px 0 0 10px;
    width: 35%;
    flex: 0 35%;
    color: #fff;

    &-error {
      background-color: #e74c3c;
    }
  }

  &.border-right .row-t {
    width: calc(35% + 1px);
    flex: 0 calc(35% + 1px);
  }

  .input-group {
    flex: 0 65%;
  }

  select {
    padding: 0;
    overflow: visible;
  }

  input:not([type="checkbox"]),
  .row-v,
  select {
    height: 34px;
  }

  input:not([type="checkbox"]),
  .row-v,
  .form-control,
  select,
  textarea {
    background: #fff;
    border: none;
    border-radius: 0 !important;
    width: 65%;
    flex: 0 65%;
  }

  textarea {
    resize: none;
    min-height: 53px;
  }

  .vue-treeselect {
    flex: 0 65%;

    .vue-treeselect__control {
      height: 26px;
    }

    .vue-treeselect__single-value {
      line-height: 28px;
    }

    .vue-treeselect__input-container {
      line-height: 1;
    }
  }

  &.sm-header {
    padding: 4px 8px;
    font-weight: bold;

    span {
      display: inline-block;
      height: 19px;
    }
  }

  &.sm-f {
    .row-t {
      padding: 2px 0 0 10px;
    }

    .form-control-area {
      padding: 2px 4px;
      height: unset;
      min-height: 26px;
    }

    input,
    .row-v,
    select {
      height: 26px;
    }

    select {
      padding-left: 6px;
    }
  }

  input:not([type="checkbox"]) {
    width: 100% !important;
  }

  label input[type="checkbox"] {
    vertical-align: text-top;
  }

  .row-v {
    padding: 7px 0 0 10px;
  }

  .input-group {
    border-radius: 0;
  }

  ul {
    width: auto;
    font-size: 13px;
  }

  ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0.25rem;
    margin: 0 0.2rem;

    a {
      padding: 2px 10px;
    }
  }
}

.form-row-address {
  width: 100%;
  border-bottom: 1px solid #434a54;
  display: flex;
  justify-content: stretch;

  &:first-child {
    border-top: 1px solid #434a54;
  }

  .row-address-header {
    background-color: #aab2bd;
    padding: 2px 0 0 10px;
    width: calc(35% - 40px);
    flex: 0 calc(35% - 40px);
    color: #fff;
  }

  > .input-group {
    flex: 0 calc(65% + 40px);
  }

  .form-control-area:not(.form-control-area-full) {
    background: #fff;
    border: none;
    border-radius: 0 !important;
    width: 100%;
    flex: 1;
    padding: 2px 4px;
  }

  .form-control-area {
    height: unset;
    min-height: 26px;

    &.form-control-area-full {
      min-height: 34px;
    }
  }

  .btn-address {
    font-size: 12px;
    min-height: 26px;
    padding: 2px 12px;
    width: 40px;
  }
}

.col-form {
  &.left {
    padding-right: 0 !important;

    .row-t,
    input,
    .row-v {
      border-right: 1px solid #434a54 !important;
    }

    .form-row .input-group {
      width: 65%;
    }
  }

  &:not(.left):not(.mid) {
    padding-left: 0 !important;

    .row-t {
      border-right: 1px solid #434a54;
    }
  }
}

.loading-text {
  &.loading-sm {
    color: lightgray;
    font-weight: bold;
  }

  &:after {
    font-family: "Courier New", Courier, monospace !important;
    animation: dots 1s linear infinite;
    content: "\00a0\00a0\00a0";
  }
}

@keyframes dots {
  0%,
  20% {
    content: ".\00a0\00a0";
  }
  40% {
    content: "..\00a0";
  }
  60% {
    content: "...";
  }
  90%,
  100% {
    content: "\00a0\00a0\00a0";
  }
}

@media (max-width: 1025px) {
  .hidden-small {
    display: none !important;
  }
}

@media (min-width: 1026px) {
  .visible-small {
    display: none !important;
  }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #049372 !important;
  border-color: #049372 !important;
}

.datetime-hover {
  background-color: rgba(50, 200, 200, 0.1);
}

.an {
  align-items: stretch !important;
  justify-content: stretch !important;

  .panel-flt {
    margin: 41px;
    align-self: stretch !important;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .panel-body {
    flex: 1;
    padding: 0;
    height: calc(100% - 91px);
    min-height: 200px;
    position: relative;
  }

  &-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;

    & > div {
      align-self: stretch;
    }
  }

  &-sidebar {
    width: 100px;
    background: rgba(0, 0, 0, 0.04);
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    overflow-y: auto;
    overflow-x: hidden;

    &.wide {
      width: 400px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);

    &.with-wide-sidebar {
      width: calc(100% - 400px);
    }

    & > div {
      flex: 1;
      padding: 5px 10px;
      overflow-y: auto;
    }
  }

  &-history > div {
    margin-bottom: 10px;
    padding: 5px;
    background: rgba(#000, 0.1);
    border-radius: 5px;
  }

  &-sidebar-content,
  &-s {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    position: relative;
  }

  &-sidebar-content {
    background: #fff;

    &-row {
      padding: 4px 0;

      & + & {
        border-top: 1px solid rgba(0, 0, 0, 0.28);
      }

      &-header {
        font-weight: bold;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }

  &-s {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.01) 0%,
      rgba(0, 0, 0, 0.07) 100%
    );

    &:not(.active) {
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &.active {
      background-image: linear-gradient(#6c7a89, #56616c);
      color: #fff;
    }

    &:not(.active):hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      z-index: 1;
      transform: scale(1.008);
    }
  }
}

.tb-group {
  &-1 {
    border-left: 3px #16a085 solid !important;
  }

  &-2 {
    border-left: 3px #8e44ad solid !important;
  }

  &-3 {
    border-left: 3px #2e8dcd solid !important;
  }

  &-4 {
    border-left: 3px #2c3e50 solid !important;
  }

  &-5 {
    border-left: 3px #27ae60 solid !important;
  }

  &-6 {
    border-left: 3px #f1c40f solid !important;
  }

  &-7 {
    border-left: 3px #e67e22 solid !important;
  }

  &-8 {
    border-left: 3px #e74c3c solid !important;
  }

  &-big,
  &-active {
    &-1 {
      border-left: 7px #16a085 solid !important;
    }

    &-2 {
      border-left: 7px #8e44ad solid !important;
    }

    &-3 {
      border-left: 7px #2e8dcd solid !important;
    }

    &-4 {
      border-left: 7px #2c3e50 solid !important;
    }

    &-5 {
      border-left: 7px #27ae60 solid !important;
    }

    &-6 {
      border-left: 7px #f1c40f solid !important;
    }

    &-7 {
      border-left: 7px #e67e22 solid !important;
    }

    &-8 {
      border-left: 7px #e74c3c solid !important;
    }
  }

  &-full {
    &-1 {
      border: 1px #16a085 solid;
    }

    &-2 {
      border: 1px #8e44ad solid;
    }

    &-3 {
      border: 1px #2e8dcd solid;
    }

    &-4 {
      border: 1px #2c3e50 solid;
    }

    &-5 {
      border: 1px #27ae60 solid;
    }

    &-6 {
      border: 1px #f1c40f solid;
    }

    &-7 {
      border: 1px #e67e22 solid;
    }

    &-8 {
      border: 1px #e74c3c solid;
    }
  }
}

.bottom-buttons {
  height: 34px;
  background-color: #aab2bd;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .btn {
    width: auto;
    text-align: center;
    border-radius: 0;

    &-right {
      float: right;
    }
  }

  &-full {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;

    & > .btn {
      align-self: stretch;
      width: 100%;
    }
  }
}

.top-buttons {
  height: 34px;
  background-color: #aab2bd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  .btn {
    width: auto;
    text-align: center;
    border-radius: 0;

    &-right {
      float: right;
    }
  }

  &-full {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;

    & > .btn {
      align-self: stretch;
      width: 100%;
    }
  }
}

.mt5 {
  margin-top: 5px;
}

.float-right {
  float: right;
}

.a-icon-btn {
  display: inline-block;
  padding: 2px 6px;
  margin: -2px -6px;
}

.is-archive {
  font-weight: bold;
  color: #f00;
}

.bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.input-multiple > input.form-control {
  width: auto;
}

.input-multiple > input.form-control + input.form-control {
  border-left: 0;
}

.w-100 {
  min-width: 100%;
  width: 100% !important;
}

.formulate-input[data-classification="button"] button {
  border-color: #049372;
  background-color: #049372;
}

.table-fixed {
  table-layout: fixed;
}

.spacer {
  height: 2px;
}

.Vue-Toastification__toast--default.empty-toast {
  background: none;
  padding: 0;
}

.formulate-input {
  margin-bottom: 0;
  padding-bottom: 2px;
}

.formulate-input-wrapper {
  padding-bottom: 18px;

  & + .formulate-input-errors {
    margin-top: -18px;

    .formulate-input-error {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 3px;
    }
  }
}
