name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: self-hosted

    steps:
    - uses: actions/stale@v6
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Устаревший issue'
        stale-pr-message: 'Устаревший pull request'
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
